.change-request {
    padding: 3px;
}

.change-request-header {
    color: #333333;
    background: #F3F0DF;
    /*padding: 2px 10px;*/
    border: 1px solid #ADADAD;
    font-weight: bold;
}

    .change-request-header i {
        cursor: pointer;
        vertical-align: top;
        margin-top: 5px;
        margin-right: 0;
    }

.change-request-body {
    border: 1px solid #cccccc;
    border-top: none;
    padding: 15px;
    white-space: normal !important;
}

.red {
    color: #990000;
}

.fa-check {
    color: #009900
}

.fa-times {
    color: #ff0000;
}


.change-request-header > div > a {
    margin-left: 5px;
}

.checklist-name {
    overflow: hidden;
    /*display: inline-block;
    vertical-align: middle;*/
}

#user-change-requests .checklist-name {
    width: 1450px;
}

#supervisor-change-requests .checklist-name {
    width: 1450px;
}

h4 {
    font-weight: bold;
}

.centeredWide {
    width: 100%;
}

div.large-div {
    width: 1450px;
    overflow: hidden;
    margin: 0px auto;
}

div.medium-div {
    width: 1400px;
    margin: 0px auto;
}

.details-label {
    font-weight: bold;
    cursor: text;
}

.details {
    line-height: 1em;
}

.change-request-body {
    font-size: 14px;
}

.btn-sm {
    padding-top: 0px;
    padding-bottom: 0px;
}

.reply-comments {
    height: 100px;
    width: 500px
}

.reply-section {
    vertical-align: top;
}

.changes-table, .additions-table, .previous-table, .removals-table {
    width: 100%;
}

.date-column, .name-column, .changed-column {
    width: 150px;
}

.approval-column {
    width: 75px;
}

.active-checklist {
    margin-bottom: 5px;
}

    .active-checklist .title-bar {
        color: #333333;
        background: #ebebeb;
        font-size: 17px;
        font-style: normal;
        padding: 2px 10px;
        border: 1px solid #ADADAD;
        font-weight: bold;
    }

        .active-checklist .title-bar a {
            color: #333;
        }

        .active-checklist .title-bar * {
            display: inline-block;
        }

        .active-checklist .title-bar .checklist-title {
            margin-left: 10px;
        }

    .active-checklist[data-status='completed'] .title-bar {
        color: #acacac;
    }

.checklist-group {
    width: 100px;
    text-align: right;
}

.active-checklist[data-status='overdue'] .title-bar .checklist-group {
    color: #ff2451;
}

.active-checklist[data-status='completed'] .title-bar .checklist-group {
    color: #20a020;
}

.active-checklist[data-status='future'] .title-bar {
    color: #aaaaaa;
}

.active-checklist .title-bar .manage-tasks {
    float: right;
}

.active-checklist .checklist-summary {
    background: #ffffff;
    border-left: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
    font-weight: normal;
}

    .active-checklist .checklist-summary div {
        float: left;
        padding: 5px;
        padding-bottom: 0px;
    }

    .active-checklist .checklist-summary .management-actions {
        float: none;
        font-weight: bold;
        font-size: 0.7em;
    }

        .active-checklist .checklist-summary .management-actions a {
            margin-right: 15px;
        }

    .active-checklist .checklist-summary div ul {
        list-style-type: none;
    }

.active-checklist .checklist-items {
    margin-bottom: 10px;
}

    .active-checklist .checklist-items .table {
        width: 100%;
        margin-bottom: 0;
    }

    .active-checklist .checklist-items table td {
        width: 2%;
    }

        .active-checklist .checklist-items table td + td {
            width: 40%;
        }

            .active-checklist .checklist-items table td + td + td {
                width: 28%;
            }

                .active-checklist .checklist-items table td + td + td + td {
                    width: 15%;
                }

                    .active-checklist .checklist-items table td + td + td + td + td {
                        width: 15%;
                    }

    .active-checklist .checklist-items .table > thead > tr > th,
    .active-checklist .checklist-items .table > tbody > tr > th,
    .active-checklist .checklist-items .table > tfoot > tr > th,
    .active-checklist .checklist-items .table > thead > tr > td,
    .active-checklist .checklist-items .table > tbody > tr > td,
    .active-checklist .checklist-items .table > tfoot > tr > td {
        border: none;
    }

    .active-checklist .checklist-items .table .submission-row {
        text-align: center;
    }

        .active-checklist .checklist-items .table .submission-row .btn {
            border-radius: 0;
            font-size: 11px;
            padding: 4px;
        }

    .active-checklist .checklist-items textarea {
        resize: vertical;
    }


.checklist-items table thead th {
    font-weight: normal;
    font-size: 0.9em;
    text-decoration: underline;
    white-space: nowrap;
}

.checklist-items table thead {
    border-left: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
}

.checklist-items table tbody {
    background: #f3efdf;
    border: 1px solid #ADADAD;
    font-size: 0.9em;
}

    .checklist-items table tbody textarea {
        height: 25px;
        width: 250px;
        background-color: #ffffff;
        color: #000000;
        padding: 0px;
        font-size: 10pt;
        SCROLLBAR-FACE-COLOR: #DCDCDC;
        SCROLLBAR-HIGHLIGHT-COLOR: #CECECE;
        SCROLLBAR-SHADOW-COLOR: #D4D4D4;
        SCROLLBAR-3DLIGHT-COLOR: #EDEDED;
        SCROLLBAR-ARROW-COLOR: #BBBBBB;
        SCROLLBAR-TRACK-COLOR: #AAAAAA;
        SCROLLBAR-DARKSHADOW-COLOR: #999999;
    }

.checklist-name table {
}

    .checklist-name table tr td {
        /* border-right: 1px solid #000;*/
    }

    .checklist-name table tr th {
        border-right: 1px solid #000;
    }

    .checklist-name table tr td:last-child {
        border-right: none !important;
    }

.cr-header-date {
    width: 125px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.cr-date-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cr-header-requestor {
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.cr-requestor-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cr-header-task {
    width: 650px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.cr-task-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cr-header-overview {
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.cr-overview-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.cr-header-actions {
    width: 200px;
    padding-left: 5px;
    vertical-align: top;
}

.cr-actions-nowrap {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cr-header-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    cursor: pointer;
}

i.fa {
    cursor: pointer;
}

.change-request-titles {
    width: 1394px !important;
    margin-left: 3px;
}

.reply-link {
    color: red;
}

.reply-cancel {
    margin-left: 20px;
}

.change-request-legend {
    width: fit-content;
    border: 1px solid black;
    top: 25%;
    background: aliceblue;
    padding: 0px 10px;
    margin-top: 5px;
}

    .change-request-legend p {
        margin-left: 20px;
    }

    .change-request-legend ul li {
        display: inline-block;
        margin-left: 15px;
    }

.change-request-section-container {
    display: flex;
    flex-direction: column;
}

.sort-and-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resizable {
    position: relative;
    min-width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .resizable:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 100%;
        white-space: nowrap;
        cursor: col-resize;
        overflow: hidden !important;
    }

.no-select {
    user-select: none;
}

.control-table-border {
    border-right: 1px solid #000;
}
/* Copyright © 2024 Renegade Swish, LLC */

