#sliderContainer .ui-slider-track {
    height: 25px;
    margin-top: -5px;
}
.sliderBackColor{
    height: 100%;
    width: 33.33%;    
    float: left;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    text-shadow: 0;
    line-height: 25px;
    margin-top: -4px;
}

.headers { FONT-WEIGHT: bold; FONT-SIZE: 14pt; BACKGROUND-COLOR: #ece9d8;border:solid 1px #000000; padding:5px;}
/* Copyright © 2024 Renegade Swish, LLC */

