CREATE OR ALTER PROC [dbo].[PriorityListSet_GetComments]
	@SetID int,
	@UserID int,
	@StartTime datetime,
	@AllUsers bit = 0
AS
BEGIN
	SET NOCOUNT ON

	select 
		u.userid, 
		l.activechecklistid, 
		--'[' + c.initials + '] '+  case when c.comments like '%href%' then c.comments else replace(c.comments, '''', '''''') end as comments,--commented by venkat 11/02/2017
		'[' + c.initials + '] '+  c.comments  as comments,
		l.id,
		c.id as CommentId,
		c.DisplayOrder
	into #result
	from prioritylistusers u
	inner join prioritylist l
	on l.userid = u.userid
	inner join qstatus_comments c
	on c.foreignkeyid = l.activechecklistid
	and c.specialtask = 0
	and (c.userid = @userid OR @AllUsers = 1)
	and c.commentdt > @starttime
	where u.setid = @setid
	and len(c.comments) > 0
	order by u.userid, c.displayorder

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT CommentId FROM #result WHERE CommentId IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'Comment', 2

	SELECT userid, activechecklistid, comments, id
	FROM #result
	ORDER BY UserID, DisplayOrder
END
