CREATE OR ALTER PROC [dbo].[PriorityList_Get]
	@UserID int
AS
BEGIN
	SET NOCOUNT ON

	EXEC PriorityList_Refresh @UserID

	SELECT DISTINCT p.ID, 
		convert(varchar(10)
		, p.Priority) as Priority
		, p.ActiveChecklistID
		, c.[Name]
		, convert(varchar, ac.duetime, 101) as due
		, isnull('['+convert(varchar, qc.commentdt, 101) + '] [' + qc.initials + '] ' + replace(qc.comments, '''', ''), 'No Comments') as comments
		, @UserID as UserId
		, CASE WHEN convert(integer, p.Priority) > 0 THEN 0 ELSE 1 END AS PriorityRank --active ones first
		, convert(integer, p.Priority) AS PriorityNbr
		, ac.duetime
		, c.ID AS ChecklistId
		, qc.ID AS CommentId
	INTO #result
	FROM 
		PriorityList p
		INNER JOIN QCheck_ActiveChecklists ac
			ON ac.id = p.ActiveChecklistID
		INNER JOIN QCheck_ChecklistInstances ci
			ON ci.id = ac.instanceid
		INNER JOIN QCheck_Checklists c
			ON c.id = ci.checklistid
		LEFT OUTER JOIN
			(select foreignkeyid, max(ID) as ID from qstatus_comments
			where specialtask = 0
			group by foreignkeyid
			) com ON com.foreignkeyid = ac.ID
		LEFT OUTER JOIN qstatus_comments qc
			ON qc.ID = com.ID
	WHERE p.UserID = @UserID
	and (ac.completeddate is null
	or ac.completeddate > convert(datetime, convert(varchar, getdate() - 1, 1)))

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ActiveChecklistID FROM #result WHERE ActiveChecklistID IS NOT NULL
	EXEC dbo.Audit_Set @userId, @recordIds, 'ActiveChecklist', 2

	DELETE @recordIds 
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId FROM #result WHERE ChecklistId IS NOT NULL
	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	DELETE @recordIds 
	INSERT INTO @recordIds
		SELECT DISTINCT CommentId FROM #result WHERE CommentId IS NOT NULL
	EXEC dbo.Audit_Set @userId, @recordIds, 'Comment', 2

	ALTER TABLE #result DROP COLUMN ChecklistId
	ALTER TABLE #result DROP COLUMN CommentId

	SELECT *
	FROM #result
	ORDER BY PriorityRank, PriorityNbr, DueTime
END













