ALTER PROCEDURE [dbo].[QCheck_ActiveInstanceAlert_SingleUser](
	@ActiveInstanceID int,
	@ChecklistName varchar(500),
	@Alertee int,
	@AlertType varchar(10)
)
AS

BEGIN
	SET NOCOUNT ON

	DECLARE @mail_to VARCHAR(500)
	DECLARE @mail_from VARCHAR(500)
	DECLARE @mail_subject VARCHAR(500)
	
	DECLARE @imgURL VARCHAR(50)
	
	-- Get app configuration
	DECLARE @AppURL VARCHAR(50), @ImagesURL VARCHAR(50), @ExternalURL VARCHAR(50), @BaseDomain VARCHAR(50), 
		@FromAddress VARCHAR(50), @AppName VARCHAR(50), @GradingAddress VARCHAR(50), @AutomationAddress VARCHAR(50)		
	SELECT @AppURL = AppURL, 
		@ImagesURL = ImagesURL, 
		@ExternalURL = ExternalURL, 
		@BaseDomain = BaseDomain, 
		@FromAddress = FromAddress, 
		@Appname = AppName, 
		@GradingAddress = GradingAddress, 
		@AutomationAddress = AutomationAddress 
		FROM QCheck_AppSettings 
		WHERE ID = 1
	
	-- 3/24/2014 dalvarado - The code above has always been buggy because @Alertee is a group id, not a user id.  Instead just using
	-- the values from the app configuration section.
	SET @imgURL = @ImagesURL

	SELECT @mail_to = ''

	SELECT @mail_to = @mail_to + Email + ';' FROM QCheck_Users u
	inner join qcheck_groupmembership gm
	on gm.userid = u.id
	where gm.groupID = @Alertee AND u.IsDeleted = 0

	--If there are no recipients, don't bother sending
	if(len(@mail_to) = 0) RETURN	

	-- AUDIT BEGIN
	DECLARE @userIds AS RecordId, @recordIds AS RecordId, @userId AS INT

	INSERT INTO @userIds
		SELECT u.ID 
		FROM QCheck_Users u
		INNER JOIN qcheck_groupmembership gm ON gm.userid = u.id
		WHERE gm.groupID = @Alertee AND u.IsDeleted = 0

	SELECT DISTINCT 
		 ActiveChecklistId = a.ID
		,ChecklistId = c.ID
		,ItemId = k.ID
		,ActiveItemId = ai.ID 
	INTO #auditId
	FROM QCheck_ActiveChecklists a
	INNER JOIN QCheck_ActiveAssignments b ON b.ActiveChecklistID = a.ID
	INNER JOIN QCheck_Assignments c ON b.AssignmentsID = c.ID and c.IsDeleted = 0
	INNER JOIN QCheck_ChecklistInstances e ON a.InstanceID = e.ID and e.isDeleted = 0
	INNER JOIN QCheck_Checklists f ON e.ChecklistID = f.ID and f.isDeleted = 0
	INNER JOIN QCheck_Items k on k.checklistID = f.ID AND k.IsDeleted = 0
	LEFT OUTER JOIN QCheck_ActiveItems ai on ai.ActiveChecklistID = a.ID and ai.ChecklistItemID = k.ID
	WHERE a.ID = @ActiveInstanceID

	DECLARE oCursor CURSOR FOR
		SELECT DISTINCT Id FROM @userIds

	OPEN oCursor
	FETCH NEXT FROM oCursor INTO @userId
	WHILE @@FETCH_STATUS = 0 BEGIN
		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ChecklistId
			FROM #auditId
			WHERE ChecklistId IS NOT NULL
		EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ItemID
			FROM #auditId
			WHERE ItemID IS NOT NULL
		EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ActiveItemId
			FROM #auditId
			WHERE ActiveItemId IS NOT NULL
		EXEC dbo.Audit_Set @userId, @recordIds, 'ActiveItem', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ActiveChecklistId
			FROM #auditId
			WHERE ActiveChecklistId IS NOT NULL
		EXEC dbo.Audit_Set @userId, @recordIds, 'ActiveChecklist', 2

		FETCH NEXT FROM oCursor INTO @userId
	END
	CLOSE oCursor
	DEALLOCATE oCursor
	-- AUDIT END
	
	SET @mail_from = @FromAddress
	
	If @AlertType = 'Start' SET @mail_subject = 'Alert - ' + @ChecklistName + ' has started'
	If @AlertType = 'Complete' SET @mail_subject = ' Alert - ' + @ChecklistName + ' has been completed'

	declare @html table (id int identity(1,1), html varchar(max))
	insert into @html exec QCheck_ActiveInstanceAlert_SingleUser_HTML @ActiveInstanceID, @AlertType, @appURL, @imgURL
	declare @htmlstr varchar(max), @onerow varchar(max), @rowid int
	while exists (select 1 from @html)
	begin
		select top 1 @rowid = id from @html order by id asc
		select @onerow = html from @html where id = @rowid
		select @htmlstr = isnull(@htmlstr, '') + isnull(@onerow, '') 
		delete from @html where id = @rowid
	end
	
	
	exec [master].[dbo].[xp_smtp_sendmail]
			@to = @mail_to,
			@from = @mail_from,
			@subject = @mail_subject,
			@message = @htmlstr
END
