CREATE OR ALTER PROC [dbo].[QCheck_Approval_GetSupervisorChangeRequests] 
	@UserID INT, -- The UserID of the controller,
	@ID INT = NULL,
	@Sort int = 0 --0 = by request date, 1= by name, 2 = by new deadline
AS
BEGIN
	SET NOCOUNT ON
	-- Pulls back the list of change requests requiring the given supervisor's approval or rejection
	SELECT 
		CR.[ID],
		CR.RequestingUser,
		RU.FullName,
		Ru.Email,
		CR.RequestDate,
		CR.Comment,
		crc.ID AS ChecklistID,
		c.Name AS ChecklistName,
		'' as Controllers,--dbo.QCheck_ManagersList(crc.ID) AS Controllers,
		'' as Assignees,--dbo.QCheck_AssigneesList(ci.InstanceID) AS Assignees
		dbo.QCheck_Approval_ExtensionLength(cr.id) as extensiondays,
		dbo.QCheck_Approval_ExtensionCount(cr.id) as extensioncount,
		deadlinechecklist.completeddate,
		case when ac.id is not null and ac.duetime <> ac.origduetime and ac.duetime < getdate() 
			then 
			'** Requested deadline has passed! Upon approval, deadline will be set to ' +CONVERT(VARCHAR, dateadd(hour, datepart(hour,ac.duetime), _util.dbo.addofficedays(getdate(), 1)), 101)+ ' instead**'
			else ''
		end as DatePassedMessage,
		AC.DueTime
	INTO #result
	FROM 
		QCheck_Approval_ChangeRequests CR
		inner join qcheck_approval_changerequestchecklist crc
			on crc.changerequestid = cr.id
		inner join qcheck_checklists c
			on c.id = crc.id
		INNER JOIN QCheck_ChecklistManagers CM
			ON CM.ChecklistID = c.ID
			AND CM.IsDeleted = 0
		INNER JOIN QCheck_Groups G
			ON CM.ManagerGroupID = G.[ID]
		INNER JOIN QCheck_GroupMembership GM
			ON G.[ID] = GM.GroupID
		INNER JOIN QCheck_Users CU
			ON GM.UserID = CU.[ID]
		INNER JOIN QCheck_Users RU
			ON CR.RequestingUser = RU.[ID]
		LEFT OUTER JOIN QCheck_Approval_ActiveChecklists AC
			ON AC.ChangeRequestID = CR.ID
		OUTER APPLY 
				(
					SELECT id, completeddate FROM QCheck_ActiveChecklists_All
					WHERE id = AC.activechecklistID
				) deadlinechecklist
	WHERE
		CR.IsActive = 1
		AND CR.Approved = 0
		AND CR.Rejected = 0
		AND CR.ReadyForSupervisor = 1
		AND CU.[ID] = @UserID	
		AND (CR.ID = @ID or @ID is null)

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId FROM #result WHERE ChecklistId IS NOT NULL
	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	DELETE @recordIds
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM #result WHERE ID IS NOT NULL
	EXEC dbo.Audit_Set @userId, @recordIds, 'ChangeRequest', 2

	SELECT *
	FROM #result
	ORDER BY
		CASE 
		 WHEN @Sort = 0 then convert(varchar,RequestDate,  120) 
		 WHEN @Sort = 1 then FullName
		 ELSE convert(varchar, duetime,  120)
		END
END




