CREATE OR ALTER PROC [dbo].[QCheck_GetChecklistItems]
	@ChecklistID INT,
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON
	
	--retrieve from items and itemtypes by checklistID.  Ensure isDeleted = 0 for deleted items
	SELECT a.[ID],[SequenceNum], b.[ID] as [TypeID], [Name] as [Type], [Text],[URL]
	INTO #result
	FROM
		QCheck_Items a, QCheck_ItemTypes b
	WHERE
		a.ItemTypeID = b.ID
	AND
		a.ChecklistID = @ChecklistID
	AND 	
		a.IsDeleted = 0

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds 
		SELECT DISTINCT ID FROM #result
	EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 2

	SELECT * FROM #result ORDER BY SequenceNum
END



































