CREATE OR ALTER PROC [dbo].[QCheck_ActiveTasksAssigned] 
	@UserID As Int,
	@WithStatus As Bit = 0
AS
BEGIN
	SET NOCOUNT ON

	SELECT Distinct
		i.ID As instanceID,
		udt.ID As upcomingID,
		CASE WHEN ac.CompletedDate IS NULL THEN
			1
		ELSE
			2
		END AS HistoryType,
		ISNULL(ac.ID, aca.ID) As HistoryID,
		c.Name as 'Checklist Name', 
		dbo.QCheck_AssigneesList(isNull(i.ID,0)) as Assignees,
		dbo.QCheck_ManagersList(isNull(c.ID,0)) as Managers,
		CASE WHEN s.FreqType = 1 THEN
			'ONE TIME'
		WHEN s.FreqType = 2 THEN
			'DAILY'
		WHEN s.FreqType = 3 THEN
			'WEEKLY'
		WHEN s.FreqType = 4 THEN
			CASE WHEN s.FreqRecurrance = 4 THEN
				'QUARTERLY'
			ELSE
				'MONTHLY'
			END
		WHEN s.FreqType = 5 THEN
			'YEARLY'
		END As Frequency,
		isNull(ac.CompletedDate, aca.CompletedDate) as 'Last Completed',
		active.DueTime as 'Current Due Time', 
		active.ID as ActiveID,
		udt.duetime as nextduedate,
		c.ID AS ChecklistId
	INTO #result
	FROM
		QCheck_Checklists c
	LEFT OUTER JOIN
		QCheck_ChecklistInstances i 
	ON
		i.ChecklistID = c.ID
          AND
		i.IsDeleted = 0
	INNER JOIN
		(SELECT ID, DueTime, InstanceID FROM QCheck_ActiveChecklists WHERE ID IN
		(SELECT MIN(ID) as ID
		FROM 
			QCheck_ActiveChecklists
		--WHERE
			--completedDate is null
		GROUP BY InstanceID)) active
	ON
		active.InstanceID = i.ID
	LEFT OUTER JOIN
		(
			SELECT 
				actt.ActiveChecklistID
			FROM
				QStatus_GroupReport gr
			INNER JOIN
				QStatus_Report r
			ON
				r.IsDeleted = 0
			AND
				gr.ReportID = r.ID
			INNER JOIN
				QCheck_Groups g
			ON
				g.ID = gr.GroupID
			INNER JOIN 
				QCheck_GroupMembership gm
			ON
				gm.GroupID = g.ID
			AND 
				gm.UserID = @UserID
			INNER JOIN
				QStatus_TaskTypes tt
			on
				tt.ReportID = r.ID
			AND
				tt.IsDeleted = 0
			INNER JOIN
				QStatus_ActiveChecklistTaskType actt
			on
				actt.TaskType = tt.ID
		) mytasktypes
	ON
		mytasktypes.ActiveChecklistID = active.ID
	LEFT OUTER JOIN
		QCheck_Schedule s
	ON
		s.ID = i.ScheduleID
	LEFT OUTER JOIN
		(
		SELECT a1.ID, a1.InstanceID, a1.completedDate
		FROM
			QCheck_ActiveChecklists a1
		INNER JOIN
			(
			SELECT 
				InstanceID, MAX(completeddate) as completedDate
			FROM
				QCheck_ActiveChecklists a
			GROUP BY
				 InstanceID
			) a2
		ON a1.InstanceID = a2.InstanceID and a1.completeddate = a2.completeddate
		) ac
	ON
		ac.InstanceID = i.ID
	LEFT OUTER JOIN
		(SELECT a1.ID, a1.InstanceID, a1.completedDate
		FROM
			QCheck_ActiveChecklistArchive a1
		INNER JOIN
			(SELECT 
				InstanceID, MAX(completeddate) as completedDate
			FROM
				QCheck_ActiveChecklistArchive a
			GROUP BY
				 InstanceID
			) a2
		ON a1.InstanceID = a2.InstanceID and a1.completeddate = a2.completeddate
		) aca
	ON
		aca.InstanceID = i.ID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.UserID = @UserID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gm.GroupID
	INNER JOIN 
		QCheck_Assignments assignedTo
	ON
		assignedTo.IsDeleted = 0
	  AND  
		assignedTo.GroupID = g.ID
	  AND
		assignedTo.InstanceID = i.ID
	LEFT OUTER JOIN
		QCheck_UpcomingDueTimes udt
	ON
		udt.InstanceID = i.ID
	AND
		udt.duetime <> active.duetime
	LEFT OUTER JOIN
		QCheck_UpcomingDueTimes udt2
	ON
		udt2.InstanceID = i.ID
	AND
		udt2.duetime < udt.duetime
	WHERE
		udt2.id is null
	and 
		mytasktypes.ActiveChecklistID is null

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId FROM #result WHERE ChecklistId IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	DELETE @recordIds
	INSERT INTO @recordIds
		SELECT DISTINCT ActiveID FROM #result WHERE ActiveID IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'ActiveChecklist', 2

	SELECT * FROM #result ORDER BY Assignees
END














































