-- This stored procedure will Add an item to a checklist
--ChecklistID identifies the checklist
--SequenceNum is the order they show up in
--ItemTypeID is the foreign key to the itemtype table
--  which identifies what type of item this is
--Text is the text that is shown for this item
--URL is the more info link that will appear

CREATE OR ALTER PROC[dbo].[QCheck_AddItem]
	@ChecklistID INT,
	@SequenceNum INT = null,
	@ItemTypeID INT,
	@Text	varchar(max),
	@URL	varchar(1000),
	@UserId int
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @recordIds AS RecordId, @itemId INT

	If @SequenceNum is null 
	BEGIN
		SELECT @SequenceNum = isnull(max([SequenceNum]),0) + 1
		FROM QCheck_Items
		WHERE [ChecklistID] = @ChecklistID
		AND IsDeleted = 0	
	END
	ELSE
	BEGIN
		-- if any item exists with the current sequence, then
		-- move everything up one to put it in place
		INSERT INTO @recordIds
			SELECT ID 
			FROM QCheck_Items
			WHERE [SequenceNum] >= @SequenceNum
			AND EXISTS (
				SELECT ID FROM QCheck_Items 
				WHERE [ChecklistID] = @ChecklistID
				AND [SequenceNum] = @SequenceNum
			)
		EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 3
	
		UPDATE QCheck_Items
		SET [SequenceNum] = [SequenceNum] + 1
		WHERE [SequenceNum] >= @SequenceNum
		AND EXISTS
		(
			SELECT ID FROM QCheck_Items 
			WHERE [ChecklistID] = @ChecklistID
			AND [SequenceNum] = @SequenceNum
		)
	END
	

	-- now insert the new item directly into the table
	INSERT INTO QCheck_Items ([ChecklistID], [SequenceNum], [ItemTypeID], [Text], [URL])
	VALUES (@ChecklistID,@SequenceNum,@ItemTypeID,@Text,@URL)
	SET @itemId = SCOPE_IDENTITY()

	DELETE @recordIds
	INSERT INTO @recordIds VALUES(@itemId)
	EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 1
END



































