CREATE OR ALTER PROC [dbo].[QCheck_DelItem]
	@ItemID INT,
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ItemID)
	EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 3

	Update
		QCheck_Items
	Set 
		IsDeleted = 1
	WHERE
		[ID] = @ItemID
END

































