CREATE OR ALTER PROC [dbo].[QCheck_Approval_UpdateChecklistName] 
	@ChangeID INT,
	@ChecklistID INT,
	@Name VARCHAR(500),
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @recordIds AS RecordId

	IF EXISTS(SELECT * FROM QCheck_Approval_Checklists WHERE ChangeRequestID = @ChangeID AND ChecklistID = @ChecklistID) BEGIN
		INSERT INTO @recordIds 
			SELECT ID
			FROM QCheck_Approval_Checklists
			WHERE ChangeRequestID = @ChangeID AND ChecklistID = @ChecklistID
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalChecklist', 3

		UPDATE QCheck_Approval_Checklists
		SET [Name] = @Name
		WHERE ChangeRequestID = @ChangeID
		AND ChecklistID = @ChecklistID
	END ELSE BEGIN
		DECLARE @approvalRequestId INT

		INSERT INTO QCheck_Approval_Checklists (
			ChangeRequestID,
			ChecklistID,
			[Name],
			IsDeleted,
			Owner,
			Template
		)
			SELECT
				@ChangeID,
				@ChecklistID,
				@Name,
				IsDeleted,
				Owner,
				Template
			FROM
				QCheck_Checklists
			WHERE
				[ID] = @ChecklistID

		SET @approvalRequestId = SCOPE_IDENTITY()
		INSERT INTO @recordIds VALUES(@approvalRequestId)
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalChecklist', 1
	END

END

