CREATE OR ALTER PROC [dbo].[QCheck_Approval_GetChecklistName] (
	@ChangeID INT,
	@UserId INT,
	@ChecklistName VARCHAR(500) OUTPUT
) AS

BEGIN
	SET NOCOUNT ON

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ChangeID)

	EXEC dbo.Audit_Set @userId, @recordIds, 'ChangeRequest', 2

	SET @ChecklistName = NULL

	SELECT 
		@ChecklistName = [Name]
	FROM 
		QCheck_Approval_Checklists c
		INNER JOIN QCheck_Approval_ChangeRequestItems CRI
			ON c.CRItemID = CRI.[ID]
			AND CRI.Approved = 1
	WHERE 
		c.ChangeRequestID = @ChangeID

	IF @ChecklistName IS NULL BEGIN

		SELECT @ChecklistName = dbo.QCheck_Approval_CRChecklistName(@ChangeID)

	END

END

