CREATE OR ALTER PROCEDURE [dbo].[QCheck_GetSingleChecklist](
	@loginID int,
	@type int, 
	@id int
)
 AS

BEGIN

	SET NOCOUNT ON

	DECLARE @tblAssigned table(
			InstanceID int,
			AssignmentID int,
			AssignedTo int
		)
	INSERT INTO @tblAssigned
	SELECT a.InstanceID, a.ID, @loginID
	FROM QCheck_Assignments a
	INNER JOIN QCheck_Groups g
		on
			g.ID = a.GroupID
	INNER JOIN QCheck_Groupmembership gm
		on
			gm.GroupID = g.ID
			and gm.UserID = @loginID
	WHERE a.IsDeleted = 0
	
	
	IF @type = 1
	BEGIN
		-- get current checklists
		SELECT Distinct c.Name as ChecklistName
			, c.ID AS ChecklistID
			, c.CreateDate
			, j.Name as ItemType
			, d.Text
			, d.URL
			, e.Text UserText
			, u.FullName As CompletedBy
			, convert(varchar,e.CompletedDate,1) + Right(convert(varchar,e.CompletedDate,0), charindex(' ',reverse(convert(varchar,e.CompletedDate,0)))) as CompletedDate
			, d.ID as ItemID
			, a.ID As Identifier
			, a.ID as UniqueID
			, d.SequenceNum
			, a.DueTime
			, a.ReminderDate
			, a.CompletedDate As ActiveChkCompletedDate
			, CASE WHEN ta.AssignmentID is null then null else 1 end as AssignmentID
			, 1 As ChkType
			, e.CompletedBy as CompletedByID
			, ta.AssignedTo
			, 0 as UpcomingID
			, CASE WHEN s.freqType > 1 THEN 1 ELSE 0 END as Recurring
			, CASE WHEN s.freqType = 1 THEN 'One Time' 
				 WHEN s.freqType = 2 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Daily' ELSE 'Every ' + CONVERT(varchar,s.freqRecurrance) + ' days' END 
				 WHEN s.freqType = 3 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Weekly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' weeks' 
						END + CASE WHEN s.freqInterval > 0 THEN ' on ' + dbo.QCheck_GetDaysFromInterval(s.freqInterval) ELSE '' END
				 WHEN s.freqType = 4 and  s.freqRecurrance <> 3 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Monthly' ELSE 'Every ' + CONVERT(varchar,s.freqRecurrance) + ' months' END
				 WHEN s.freqType = 4 and  s.freqRecurrance = 3 THEN 'Quarterly'  
 				 WHEN s.freqType = 5 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Yearly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' years'  
						END + CASE WHEN s.freqInterval > 0 THEN ' in ' + dbo.QCheck_GetMonthsFromInterval(s.freqInterval) ELSE '' END
				ELSE '' END as ScheduleString
			, dbo.QStatus_GetChecklistControllers(c.ID) AS Controllers
			, dbo.QStatus_GetChecklistReports(a.ID, @loginID) as StatusReportString
			, isnull(al.assignees,'') as Assignees
			, CASE WHEN (freqType = 2 AND freqRecurrance = 1) OR (freqType = 3 AND freqRecurrance = 1 AND (freqInterval & 62) = 62) THEN 1 ELSE 0 END as IsDaily
			, case when cai.id is null then 0 else 1 end as ControllerPartOfAssignee
			, isnull(a.isna, 0) as isna
			, isnull(a.nareason, '') as nareason
			, case when aac.DueTime IS NOT NULL THEN 1 ELSE 0 END PendingChange
			, aac.DueTime NewDeadline
			, e.ID AS ActiveItemId
		INTO #result
		FROM
			QCheck_ActiveChecklists a 
			INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
			INNER JOIN QCheck_Checklists c on b.checklistID = c.ID AND c.IsDeleted = 0
			INNER JOIN QCheck_Items d on d.checklistID = c.ID AND d.IsDeleted = 0
			LEFT OUTER JOIN QCheck_ItemTypes j on d.ItemTypeID = j.ID
			LEFT OUTER JOIN @tblAssigned ta on ta.InstanceID = b.ID
			LEFT OUTER JOIN QCheck_ActiveItems e on e.ActiveChecklistID = a.ID and e.ChecklistItemID = d.ID
			LEFT OUTER JOIN QCheck_Users u on e.CompletedBy = u.ID
			LEFT OUTER JOIN QCheck_Schedule s ON b.ScheduleID = s.ID
			LEFT OUTER JOIN	dbo.QCheck_AssigneeLookup AL on a.InstanceID=al.InstanceID
			LEFT OUTER JOIN QCheck_ControllerAssigneeInstances cai on cai.id = b.id
			LEFT OUTER JOIN QCheck_MostRecentDeadlineRequests mrdr
					ON a.ID = mrdr.ActiveChecklistID
			LEFT OUTER JOIN QCheck_Approval_ChangeRequests cr
				ON cr.ID = mrdr.ChangeRequestID
			LEFT OUTER JOIN QCheck_Approval_ActiveChecklists aac
					ON aac.ChangeRequestID = CR.[ID]
					AND aac.ActiveChecklistID = mrdr.ActiveChecklistID
			WHERE
			a.ID = @id
		ORDER BY 
			SequenceNum

		DECLARE @recordIds AS RecordId
		INSERT INTO @recordIds
			SELECT DISTINCT ChecklistId
			FROM #result
			WHERE ChecklistId IS NOT NULL
		EXEC dbo.Audit_Set @loginID, @recordIds, 'Checklist', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ItemID
			FROM #result
			WHERE ItemID IS NOT NULL
		EXEC dbo.Audit_Set @loginID, @recordIds, 'Item', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ActiveItemId
			FROM #result
			WHERE ActiveItemId IS NOT NULL
		EXEC dbo.Audit_Set @loginID, @recordIds, 'ActiveItem', 2

		-- return result
		SELECT * FROM #result ORDER BY SequenceNum
	END

	IF @type = 2
	BEGIN
		SELECT distinct c.Name as ChecklistName
			, c.ID AS ChecklistID
			, c.CreateDate
			, j.Name as ItemType
			, d.Text
			, d.URL
			, e.Text UserText
			, uu.FullName AS CompletedBy
			, convert(varchar,e.CompletedDate,1) + Right(convert(varchar,e.CompletedDate,0),charindex(' ',reverse(convert(varchar,e.CompletedDate,0)))) as CompletedDate
			, d.ID as ItemID
			, a.ID As Identifier
			, a.ID As UniqueID
			, d.SequenceNum
			, CASE WHEN a.ArchiveDate IS NULL Then a.dueTime Else NULL End As DueTime
			, CASE WHEN a.ArchiveDate IS NULL Then a.ReminderDate Else NULL End As ReminderDate
			, a.CompletedDate As ActiveChkCompletedDate
			, null as AssignmentID
			, 1 As ChkType
			, null As Members
			, 0 as CompletedByID
			, 0 As AssignedTo
			, 0 as UpcomingID
			, CASE WHEN s.freqType > 1 THEN 1 ELSE 0 END as Recurring
			, CASE WHEN s.freqType = 1 THEN 'One Time' 
				 WHEN s.freqType = 2 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Daily' ELSE 'Every ' + CONVERT(varchar,s.freqRecurrance) + ' days' END 
				 WHEN s.freqType = 3 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Weekly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' weeks' 
						END + CASE WHEN s.freqInterval > 0 THEN ' on ' + dbo.QCheck_GetDaysFromInterval(s.freqInterval) ELSE '' END
				 WHEN s.freqType = 4 and  s.freqRecurrance <> 3 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Monthly' ELSE 'Every' + CONVERT(varchar,s.freqRecurrance) + ' months' END
				 WHEN s.freqType = 4 and  s.freqRecurrance = 3 THEN 'Quarterly'  
 				 WHEN s.freqType = 5 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Yearly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' years'  
						END + CASE WHEN s.freqInterval > 0 THEN ' in ' + dbo.QCheck_GetMonthsFromInterval(s.freqInterval) ELSE '' END
				ELSE '' END as ScheduleString
			, dbo.QStatus_GetChecklistControllers(c.ID) AS Controllers
			, '' as StatusReportString
			, isnull(al.assignees,'') as Assignees
			, CASE WHEN (freqType = 2 AND freqRecurrance = 1) OR (freqType = 3 AND freqRecurrance = 1 AND (freqInterval & 62) = 62) THEN 1 ELSE 0 END as IsDaily
			, case when cai.id is null then 0 else 1 end as ControllerPartOfAssignee
			, isnull(a.isna, 0) as isna
			, isnull(a.nareason, '') as nareason
	FROM
		QCheck_ActiveChecklistArchive a 
		INNER JOIN 
			(
			SELECT    
				ID, ChecklistID, ScheduleID, null as ArchiveDate
			FROM         QCheck_ChecklistInstances chkInst
			UNION ALL
			SELECT     
				ID, ChecklistID, ScheduleID, ArchiveDate
			FROM         
				QCheck_ChecklistInstanceArchive 

			) b
		  ON a.InstanceID = b.ID 
		INNER JOIN QCheck_Checklists_All c
		  on b.checklistID = c.ID  
		INNER JOIN 
			QCheck_Items d
		  on d.checklistID = c.ID 
		INNER JOIN 
			QCheck_ItemTypes j 
		  on d.ItemTypeID = j.ID
		left outer JOIN  QCheck_ActiveItemArchive e
			
		  on 
			e.ActiveChecklistID = a.ID 
			and e.ChecklistItemID = d.ID 
		LEFT OUTER JOIN QCheck_Users uu 
			ON 
			uu.ID = e.CompletedBy
		LEFT OUTER JOIN  QCheck_Schedule s ON b.ScheduleID = s.ID
		LEFT OUTER JOIN	dbo.QCheck_AssigneeLookup AL on a.InstanceID=al.InstanceID
		LEFT OUTER JOIN QCheck_ControllerAssigneeInstances cai on cai.id = b.id
        WHERE
		a.ID = @ID
        ORDER BY 
		SequenceNum
	END

	IF @type = 3
	BEGIN
		-- get future checklists
		SELECT Distinct 
			c.Name as ChecklistName
			, c.ID AS ChecklistID
			, c.CreateDate
			, j.Name as ItemType
			, d.Text
			, d.URL
			, null As UserText
			, null As CompletedBy
			, null As CompletedDate
			, d.ID as ItemID
			,  b.ID As Identifier
			,  uc.ID As UniqueID
			, d.SequenceNum
			, uc.DueTime
			, NULL AS ReminderDate
			, null As ActiveChkCompletedDate
			, CASE WHEN ta.AssignmentID is null then null else 1 end as AssignmentID
			, 2 As ChkType
			, 0 As AssignedTo
			, uc.ID as UpcomingID
			, CASE WHEN s.freqType > 1 THEN 1 ELSE 0 END as Recurring
			, CASE WHEN s.freqType = 1 THEN 'One Time' 
				 WHEN s.freqType = 2 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Daily' ELSE 'Every ' + CONVERT(varchar,s.freqRecurrance) + ' days' END 
				 WHEN s.freqType = 3 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Weekly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' weeks' 
						END + CASE WHEN s.freqInterval > 0 THEN ' on ' + dbo.QCheck_GetDaysFromInterval(s.freqInterval) ELSE '' END
				 WHEN s.freqType = 4 and  s.freqRecurrance <> 3 THEN CASE WHEN s.freqRecurrance = 1 THEN 'Monthly' ELSE 'Every' + CONVERT(varchar,s.freqRecurrance) + ' months' END
				 WHEN s.freqType = 4 and  s.freqRecurrance = 3 THEN 'Quarterly'  
 				 WHEN s.freqType = 5 THEN 
						CASE WHEN s.freqRecurrance = 1 THEN 
								'Yearly' 
						ELSE 
								'Every ' + CONVERT(varchar,s.freqRecurrance) + ' years'  
						END + CASE WHEN s.freqInterval > 0 THEN ' in ' + dbo.QCheck_GetMonthsFromInterval(s.freqInterval) ELSE '' END
				ELSE '' END as ScheduleString
			,  dbo.QStatus_GetChecklistControllers(c.ID) AS Controllers
			, '' as StatusReportString
			, isnull(al.assignees,'') as Assignees
			, CASE WHEN (freqType = 2 AND freqRecurrance = 1) OR (freqType = 3 AND freqRecurrance = 1 AND (freqInterval & 62) = 62) THEN 1 ELSE 0 END as IsDaily
			, case when cai.id is null then 0 else 1 end as ControllerPartOfAssignee
			, 0 as isna
			, '' as nareason
		FROM
			QCheck_ChecklistInstances b
			INNER JOIN QCheck_Checklists c on b.checklistID = c.ID AND c.IsDeleted = 0
			INNER JOIN QCheck_Items d on d.checklistID = c.ID AND d.IsDeleted = 0
			INNER JOIN QCheck_ItemTypes j on d.ItemTypeID = j.ID
			LEFT OUTER JOIN @tblAssigned ta on ta.InstanceID = b.ID
			INNER JOIN QCheck_UpcomingDueTimes uc on uc.InstanceID = b.ID and uc.ID = @id
			LEFT OUTER JOIN QCheck_Schedule s ON b.ScheduleID = s.ID
			LEFT OUTER JOIN	dbo.QCheck_AssigneeLookup AL on b.ID=al.InstanceID
			LEFT OUTER JOIN QCheck_ControllerAssigneeInstances cai on cai.id = b.id
		ORDER BY 
			SequenceNum
	END
	
	SET NOCOUNT OFF

END

