-- Add a new active item.  This is done when user checks a checkbox or adds comments
-- initiated from MyChecklists.aspx

CREATE OR ALTER PROC [dbo].[QCheck_CreateActiveItem]
	@ActiveChecklistID INT,
	@ChecklistItemID Int,
	@IsCompleted bit = 0,
	@CompletedBy int = null,
	@UserText  varchar(1000),
	@CompletedByName varchar(50) = null output,
	@CompletedOn datetime = null output
AS
BEGIN
	SET NOCOUNT ON
	DECLARE  @numChecks As Int
			,@numDone As Int
			,@numLeft As Int
			,@existID As Int
			,@prevText As VARCHAR(1000)
			,@prevIsCompleted bit 
			,@recordIds AS RecordId
	
	-- Update if it exists, insert if not
	SELECT   @existID = [ID]
			,@prevText = IsNull([Text],'')
			,@prevIsCompleted = CASE WHEN [CompletedDate] IS NULL THEN 0 ELSE 1 END
	FROM QCheck_ActiveItems
	WHERE ActiveChecklistID = @ActiveChecklistID
	AND ChecklistItemID = @ChecklistItemID

	IF @existID is not null BEGIN
		IF NOT (@IsCompleted = @prevIsCompleted AND ISNULL(@UserText, '') = @prevText) BEGIN
			INSERT INTO @recordIds
				SELECT @existID

			EXEC dbo.Audit_Set @CompletedBy, @recordIds, 'ActiveItem', 3

			-- If it was completed, then mark completed fields
			If @IsCompleted = 1 BEGIN
				UPDATE QCheck_ActiveItems
				SET [Text] =@UserText, 
				[CompletedBy] = @CompletedBy
				WHERE [ID] = @existID
				AND (CompletedBy IS NULL OR [CompletedBy] = @CompletedBy)
			
				UPDATE QCheck_ActiveItems
				SET [CompletedDate] = getdate()
				WHERE (CompletedDate Is Null OR IsNull(@UserText,'') <> @prevText)
				AND CompletedBy = @CompletedBy
				AND [ID] = @existID
			END ELSE BEGIN
				UPDATE QCheck_ActiveItems
				SET [Text] = @UserText,
				[CompletedBy] = null,
				[CompletedDate] = null
				WHERE [ID] = @existID
				AND (CompletedBy IS NULL OR [CompletedBy] = @CompletedBy)
			END
		END
	END ELSE BEGIN
		IF NOT (@IsCompleted = 0 AND ISNULL(@UserText, '') = '') BEGIN
			-- insert since no record exists
			If @IsCompleted = 1 BEGIN
				INSERT INTO QCheck_ActiveItems
				([ActiveChecklistID],[ChecklistItemID], [Text], [CompletedBy], [CompletedDate])
				SELECT @ActiveChecklistID, @ChecklistItemID, @UserText, @CompletedBy, getdate()
				WHERE NOT EXISTS(
				SELECT ID FROM QCheck_ActiveItems
				WHERE ActiveChecklistID = @ActiveChecklistID
				AND ChecklistItemID = @ChecklistItemID
				)
				SET @existID = SCOPE_IDENTITY()
			END ELSE BEGIN
				INSERT INTO QCheck_ActiveItems
				([ActiveChecklistID],[ChecklistItemID], [Text])
				SELECT @ActiveChecklistID, @ChecklistItemID, @UserText
				WHERE NOT EXISTS(
				SELECT ID FROM QCheck_ActiveItems
				WHERE ActiveChecklistID = @ActiveChecklistID
				AND ChecklistItemID = @ChecklistItemID
				)
				SET @existID = SCOPE_IDENTITY()
			END

			INSERT INTO @recordIds
				SELECT @existID

			EXEC dbo.Audit_Set @CompletedBy, @recordIds, 'ActiveItem', 1
		END
	END

	SELECT
		@CompletedByName = isnull(QCheck_Users.[FullName], ''),
		@CompletedOn = [CompletedDate]
	FROM 
		QCheck_ActiveItems
		LEFT JOIN QCheck_Users
			ON QCheck_Users.ID = QCheck_ActiveItems.CompletedBy
	WHERE 
		QCheck_ActiveItems.ID = @existID
END
