CREATE OR ALTER PROC [dbo].[QCheck_GetActiveChecklistTaskTypes]
	@taskId int,
	@userId int = 0
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		tt.ID, r.Name as Report, tt.Description as TaskType, r.ID as ReportID
	INTO #result
	FROM
		QStatus_ActiveChecklistTaskType actt
		INNER JOIN QStatus_TaskTypes tt
			ON actt.TaskType = tt.ID
		INNER JOIN QStatus_Report r
			ON r.ID = tt.ReportID
		INNER JOIN QCheck_ActiveChecklists ac
			ON actt.activechecklistID = ac.ID
	WHERE ac.ID = @taskId
	
	UNION

	SELECT 
		st.ID, r.Name as Report, tt.Description as TaskType, r.ID as ReportID
	FROM
		QStatus_SpecialTasks st
		INNER JOIN
			QStatus_TaskTypes	tt
			ON st.TaskType = tt.ID
		INNER JOIN QStatus_Report r
			ON r.ID = tt.ReportID
	WHERE st.ID = @taskId
	
	IF @userId <> 0 BEGIN
		DECLARE @recordIds AS RecordId
		INSERT INTO @recordIds
			SELECT DISTINCT ID FROM #result

		EXEC dbo.Audit_Set @userId, @recordIds, 'TaskType', 2

		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ReportID FROM #result

		EXEC dbo.Audit_Set @userId, @recordIds, 'Report', 2
	END

	SELECT * FROM #result
END
