CREATE OR ALTER PROC [dbo].[QCheck_UpdateChecklistName]
	@ID INT,
	@Name VARCHAR(500),
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ID)
	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 3

	UPDATE
		QCheck_Checklists
	SET
		Name = @Name
	WHERE [ID] = @ID
END






















