CREATE OR ALTER PROC [dbo].[QCheck_Approval_UpdateItem]
	@ChangeID INT,
	@ID INT,
	@ChecklistID INT,
	@SequenceNum INT = null,
	@ItemTypeID INT = null,
	@Text	varchar(1000) = null,
	@URL	varchar(1000) = null,
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @recordIds AS RecordId

	-- move everything up if there is already one at that sequence
	IF NOT @SequenceNum IS NULL BEGIN
		INSERT INTO @recordIds
			SELECT ID FROM QCheck_Approval_Items
			WHERE [SequenceNum] >= @SequenceNum
			AND EXISTS (
				SELECT [ID] FROM QCheck_Approval_Items 
				WHERE 
					ChangeRequestID = @ChangeID
					AND ChecklistID = @ChecklistID
					AND SequenceNum = @SequenceNum
			)
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 3

		UPDATE QCheck_Approval_Items
		SET [SequenceNum] = [SequenceNum] + 1
		WHERE [SequenceNum] >= @SequenceNum
		AND EXISTS (
			SELECT [ID] FROM QCheck_Approval_Items 
			WHERE 
				ChangeRequestID = @ChangeID
				AND ChecklistID = @ChecklistID
				AND SequenceNum = @SequenceNum
		)
	END

	-- update the item itself
	DELETE @recordIds
	INSERT INTO @recordIds VALUES(@ID)
	EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 3
	
	UPDATE QCheck_Approval_Items
	SET
		SequenceNum = IsNull(@SequenceNum, SequenceNum),
		ItemTypeID = IsNull(@ItemTypeID, ItemTypeID),
		[Text] = IsNull(@Text, [Text]),
		URL = IsNull(@URL, URL)
	WHERE 
		[ID] = @ID
END

