-- This stored procedure will delete an item from a checklist (mark isDeleted - true).
CREATE OR ALTER PROC [dbo].[QCheck_Approval_DelItem]
	@ID INT,
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON	
	
	--basic update here - checklist ID is not needed here but left for redundancy
	DECLARE @ItemID INT, @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ID)

	SELECT @ItemID = ItemID
	FROM QCheck_Approval_Items
	WHERE [ID] = @ID

	IF @ItemID = -1 BEGIN
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 4

		-- This was a new item added for the change, just delete it from the change
		DELETE FROM QCheck_Approval_Items
		WHERE [ID] = @ID

	END ELSE BEGIN	
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 3

		-- This is an existing checklist item that is being requested to remove from the checklist
		UPDATE QCheck_Approval_Items
		SET IsDeleted = 1
		WHERE [ID] = @ID

	END
END

