CREATE OR ALTER PROC [dbo].[QCheck_Approval_AddItem]
	@ChangeID INT,
	@ChecklistID INT,
	@SequenceNum INT = null,
	@ItemTypeID INT,
	@Text	varchar(max),
	@URL	varchar(1000),
	@UserId INT,
	@ReturnID INT = NULL OUTPUT
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @recordIds AS RecordId

	IF @SequenceNum IS NULL BEGIN

		SELECT @SequenceNum = isnull(max([SequenceNum]),0) + 1
		FROM QCheck_Approval_Items
		WHERE 
			ChangeRequestID = @ChangeID
			AND [ChecklistID] = @ChecklistID
			AND IsDeleted = 0

	END ELSE BEGIN
		-- if any item exists with the current sequence, then
		-- move everything up one to put it in place	
		INSERT INTO @recordIds
			SELECT ID 
			FROM QCheck_Approval_Items
			WHERE 
				[SequenceNum] >= @SequenceNum
				AND EXISTS (
					SELECT [ID] 
					FROM QCheck_Approval_Items 
					WHERE 
						ChangeRequestID = @ChangeID
						AND ChecklistID = @ChecklistID
						AND SequenceNum = @SequenceNum
				)
		EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 3

		UPDATE QCheck_Approval_Items
		SET [SequenceNum] = [SequenceNum] + 1
		WHERE 
			[SequenceNum] >= @SequenceNum
			AND EXISTS (
				SELECT [ID] 
				FROM QCheck_Approval_Items 
				WHERE 
					ChangeRequestID = @ChangeID
					AND ChecklistID = @ChecklistID
					AND SequenceNum = @SequenceNum
			)
	END
	
	-- now insert the new item into the holding table
	INSERT INTO QCheck_Approval_Items (
		ChangeRequestID,
		ItemID,
		ChecklistID, 
		SequenceNum, 
		ItemTypeID, 
		[Text], 
		URL,
		IsDeleted
	) VALUES (
		@ChangeID,
		-1,
		@ChecklistID,
		@SequenceNum,
		@ItemTypeID,
		@Text,
		@URL,
		0
	)
	
	SELECT @ReturnID = @@IDENTITY

	DELETE @recordIds
	INSERT INTO @recordIds VALUES(@ReturnID)
	EXEC dbo.Audit_Set @userId, @recordIds, 'ApprovalItem', 1
END

