CREATE OR ALTER PROC [dbo].[QCheck_GetPotentialNATasks]
	@controller int,
	@start datetime,
	@end datetime,
	@assigned int
AS
BEGIN
	SET NOCOUNT ON

	select ac.id, c.name, ac.duetime, dbo.QCheck_AssigneesList(ci.id) as assignees, c.ID AS ChecklistId
	INTO #result
	from
	qcheck_checklists c
	inner join qcheck_checklistmanagers cm
		on cm.isdeleted = 0
		and cm.checklistid = c.id
	inner join qcheck_groupmembership gm
		on gm.groupid = cm.managergroupid
		and gm.userid = @controller
	inner join qcheck_checklistinstances ci
		on ci.checklistid = c.id
		and ci.id not in (
			select ci.id from qcheck_assignments a
			inner join qcheck_checklistinstances ci
				on a.instanceid = ci.id
			inner join qcheck_groupmembership gm
				on gm.groupid = a.groupid
				and gm.userid = @controller
		)
	inner join qcheck_activechecklists ac
		on ac.instanceid = ci.id
		and ac.duetime between @start and dateadd(day, 1, @end)
		and ac.completeddate is null
	where (
		@assigned = -1
		or 
		ci.id in (
			select ci.id from qcheck_assignments a
			inner join qcheck_checklistinstances ci
				on a.instanceid = ci.id
				and a.groupid = @assigned
		)
	)

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId FROM #result WHERE ChecklistId IS NOT NULL

	EXEC dbo.Audit_Set @controller, @recordIds, 'Checklist', 2 

	DELETE @recordIds
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM #result WHERE ID IS  NOT NULL

	EXEC dbo.Audit_Set @controller, @recordIds, 'ActiveChecklist', 2

	SELECT * FROM #result ORDER BY [Name]
END