USE [PHIProcess]
GO
ALTER PROCEDURE [dbo].[QCheck_GetOverdueTasks]
@userId int
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		a.DueTime,
		c.[Name] AS ChecklistName,
		MAX(c.ID) AS ChecklistId
	INTO #result
	FROM
		QCheck_ActiveChecklists a 
		INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
		INNER JOIN QCheck_Schedule s ON b.ScheduleID = s.ID 
		INNER JOIN QCheck_Checklists c on b.checklistID = c.ID AND c.IsDeleted = 0
		INNER JOIN QCheck_Items d on d.checklistID = c.ID AND d.IsDeleted = 0
		INNER JOIN QCheck_ItemTypes j on d.ItemTypeID = j.ID
		INNER JOIN QCheck_ActiveAssignments k on k.ActiveChecklistID = a.ID 
		INNER JOIN QCheck_GroupMembership gm on gm. UserID = @userId
		INNER JOIN QCheck_Groups g on g.ID = gm.GroupID
		INNER JOIN QCheck_Assignments f on f.GroupID = gm.GroupID And f.IsDeleted = 0 and f.InstanceID = b.ID
		LEFT OUTER JOIN QCheck_ActiveItems e on e.ActiveChecklistID = a.ID
		LEFT OUTER JOIN QCheck_Users u on e.CompletedBy = u.ID
	WHERE
		a.CompletedDate is null
		AND a.dueTime < getdate()
	GROUP BY 
		c.[Name], a.dueTime

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId
		FROM #result
	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	-- return result
	SELECT DueTime, ChecklistName
	FROM #result
END