CREATE OR ALTER PROC [dbo].[QCheck_UpdateItem]
	@ID INT,
	@ChecklistID INT,
	@SequenceNum INT = null,
	@ItemTypeID INT = null,
	@Text	varchar(max) = null,
	@URL	varchar(1000) = null,
	@UserId INT
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @recordIds AS RecordId

	-- move everything up if there is already one at that sequence
	If Not @SequenceNum is null
	BEGIN
		INSERT INTO @recordIds
			SELECT ID FROM QCheck_Items
			WHERE [SequenceNum] >= @SequenceNum
			AND EXISTS (
				SELECT ID FROM QCheck_Items 
				WHERE [ChecklistID] = @ChecklistID
				AND [SequenceNum] = @SequenceNum
			)
		EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 3

		UPDATE QCheck_Items
		SET [SequenceNum] = [SequenceNum] + 1
		WHERE [SequenceNum] >= @SequenceNum
		AND EXISTS
		(
			SELECT ID FROM QCheck_Items 
			WHERE [ChecklistID] = @ChecklistID
			AND [SequenceNum] = @SequenceNum
		)
	END

	-- update the item itself
	DELETE @recordIds
	INSERT INTO @recordIds VALUES(@ID)
	EXEC dbo.Audit_Set @userId, @recordIds, 'Item', 3

	UPDATE
			QCheck_Items
		SET
			SequenceNum = IsNull(@SequenceNum, SequenceNum),
			ItemTypeID = IsNull(@ItemTypeID, ItemTypeID),
			[Text] = IsNull(@Text, [Text]),
			URL = IsNull(@URL, URL)
		WHERE [ID] = @ID	
END





































