CREATE OR ALTER PROC [dbo].[QCheck_GetName]
	@ChecklistID int,
	@UserId int
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ChecklistID)

	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	SELECT [Name] FROM QCheck_Checklists
	WHERE ID = @ChecklistID
END





































