CREATE OR ALTER PROC [dbo].[QStatus_GetCommentsAll]
	@Seed int,
	@ReportID int,
	@UserId int
AS

	--DECLARE @HasRelatedComments bit
	--SET  @HasRelatedComments = 0

	SET NOCOUNT ON

	SELECT 
		Distinct null as archiveid, C.*, null as archivedt, 
		tt.keyID as TaskID,
		CASE WHEN gr.USERID IS NOT NULL THEN 
			0 --red
		ELSE
			CASE WHEN supcolor.colorNum is not null THEN
				supcolor.colorNum
			ELSE
				CASE WHEN sup.interestedParty = 0 THEN
					3 --green
				ELSE
					50 --purple
				END
			END
		END as colornum, 
		u.FullName,
		2147483647 as CommentSort
	INTO #result
	FROM
		QStatus_COMMENTS C
	INNER JOIN
		QStatus_TempTasks tt
	ON
		tt.ID = @Seed
	AND
		c.ForeignKeyID = abs(tt.KeyID)
	AND
		c.SpecialTask = tt.SpecialTask
	INNER JOIN 
		QCheck_Users u
	ON
		u.ID = C.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID, s.InterestedParty
		FROM QStatus_SUPERVISORS s
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = s.supervisorGroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND s.ReportID = @ReportID
	) sup
	ON sup.UserId = c.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID
		FROM QStatus_GroupReport gr
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = gr.GroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND gr.ReportID = @ReportID
	) gr
	ON gr.UserId = c.UserID
	LEFT OUTER JOIN
		QStatus_SupervisorColors supcolor
	ON
		supcolor.supervisorUserID = u.ID

	union all 

	SELECT 
		Distinct C.*,
		tt.keyID as TaskID,
		CASE WHEN gr.USERID IS NOT NULL THEN 
			0 --red
		ELSE
			CASE WHEN supcolor.colorNum is not null THEN
				supcolor.colorNum
			ELSE
				CASE WHEN sup.interestedParty = 0 THEN
					3 --green
				ELSE
					50 --purple
				END
			END
		END as colornum, 
		u.FullName,
		C.ArchiveID as CommentSort
	FROM
		QStatus_commentarchive C
	INNER JOIN
		QStatus_TempTasks tt
	ON
		tt.ID = @Seed
	AND
		c.ForeignKeyID = abs(tt.KeyID)
	AND
		c.SpecialTask = tt.SpecialTask
	INNER JOIN 
		QCheck_Users u
	ON
		u.ID = C.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID, s.InterestedParty
		FROM QStatus_SUPERVISORS s
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = s.supervisorGroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND s.ReportID = @ReportID
	) sup
	ON sup.UserId = c.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID
		FROM QStatus_GroupReport gr
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = gr.GroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND gr.ReportID = @ReportID
	) gr
	ON gr.UserId = c.UserID
	LEFT OUTER JOIN
		QStatus_SupervisorColors supcolor
	ON
		supcolor.supervisorUserID = u.ID
	
	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM #result WHERE ID IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'Comment', 2

	DELETE @recordIds
	INSERT INTO @recordIds
		SELECT DISTINCT archiveid FROM #result WHERE archiveid IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'CommentArchived', 2

	SELECT * FROM #result ORDER BY CommentSort, DisplayOrder

	SELECT distinct ac2.ID
	FROM 
		QStatus_COMMENTS C
	INNER JOIN
		--QCheck_ActiveChecklists
	(
		select id, instanceid from QCheck_ActiveChecklists
		union all
		select id, instanceid from QCheck_ActiveChecklistArchive
	)
	 AC
	ON
		C.ForeignKeyID = AC.ID
	INNER JOIN
		--QCheck_ChecklistInstances
		(
		select id, checklistid from QCheck_ChecklistInstances
		union all
		select id, checklistid from QCheck_ChecklistInstanceArchive
	) 
	CI
	ON
		CI.ID = AC.InstanceID
	INNER JOIN
		QCheck_ChecklistInstances CI2
	ON
		CI.ChecklistID = CI2.ChecklistID
	INNER JOIN
		QCheck_ActiveChecklists AC2
	ON
		CI2.ID = AC2.InstanceID
	AND
		AC2.ID <> AC.ID
	INNER JOIN
		QStatus_TempTasks tt
	ON
		tt.ID = @Seed
	AND
		ac2.ID = tt.KeyID
	WHERE c.specialtask = 0
	

	--delete from QStatus_TempTasks where id = @Seed OR input_date < dateadd(mi, -1, getdate())









