CREATE OR ALTER PROC [dbo].[QStatus_GetReportList]
	@UserID int,
	@IncludeDefault bit = 1
AS
BEGIN
	SET NOCOUNT ON

		SELECT 
			DISTINCT r.[ID],
				r.name,
		     	replace(replace(r.Name, '&', '&amp;'),'"', '&quot;') 
			+ case when @IncludeDefault = 0  then '' else 	isnull(
				' (' + 
				
				case (datediff(day, convert(datetime, convert(varchar, commentdt, 101)), convert(datetime, convert(varchar, getdate(), 101))))
				when 0 then 'today'
				when 1 Then '1 day ago'
				else
					convert(varchar, datediff(day, convert(datetime, convert(varchar, commentdt, 101)), convert(datetime, convert(varchar, getdate(), 101)))) + ' days ago'
				end
				+ ')'
				, '')  end
			AS [Description] INTO #result
		FROM 
			QStatus_Report r
		INNER JOIN
			QStatus_GroupReport gr
		ON
			gr.ReportID = r.ID
		INNER JOIN
			QCheck_Groups g
		ON
			g.ID = gr.GroupID
		INNER JOIN
			QCheck_GroupMembership gm
		ON
			gm.GroupID = g.ID
		AND
			gm.UserID = @UserID
		LEFT OUTER JOIN QStatus_ReportLastestComments lastcomment
			on lastcomment.reportID = r.ID
			and lastcomment.userID = @UserID
		WHERE
			r.IsDeleted = 0

		DECLARE @recordIds AS RecordId
		INSERT INTO @recordIds
			SELECT DISTINCT ID FROM #result

		EXEC dbo.Audit_Set @userId, @recordIds, 'Report', 2
		
		SELECT * FROM #result ORDER BY [Name]
END







