CREATE OR ALTER PROC [dbo].[QStatus_GetRelatedComments]
	@TaskID  int,
	@UserId int,
	@OnlyCount bit = 0
AS

	SELECT Distinct C.*, u.FullName, AC.ID AS TaskID, AC.DueTime
	INTO #result
	FROM 
		QStatus_COMMENTS C
	INNER JOIN
		(
			SELECT    
				ID, InstanceID, DueTime
			FROM         QCheck_ActiveChecklists
			UNION ALL
			SELECT     
				ID, InstanceID, DueTime
			FROM         
				QCheck_ActiveChecklistArchive 

		) AC
	ON
		C.ForeignKeyID = AC.ID
	AND
		AC.ID <> @TaskID
	INNER JOIN
		(
			SELECT    
				ID, ChecklistID
			FROM         QCheck_ChecklistInstances chkInst
			UNION ALL
			SELECT     
				ID, ChecklistID
			FROM         
				QCheck_ChecklistInstanceArchive 

		) CI
	ON
		CI.ID = AC.InstanceID
	INNER JOIN
		QCheck_ChecklistInstances CI2
	ON
		CI.ChecklistID = CI2.ChecklistID
	INNER JOIN
		QCheck_ActiveChecklists AC2
	ON
		CI2.ID = AC2.InstanceID
	AND
		AC2.ID = @TaskID
	INNER JOIN 
		QCheck_Users u
	ON
		u.ID = C.UserID
	
	IF @OnlyCount = 1 BEGIN
		SELECT COUNT(*) FROM #result
		RETURN
	END
	
	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM #result WHERE ID IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'Comment', 2
	
	SELECT * FROM #result
	ORDER BY DueTime, TaskID, DisplayOrder














