CREATE OR ALTER PROC [dbo].[QStatus_GetReportList_Supervised]
	@UserID int,
	@InterestedParty bit = 0,
	@NamesOnly bit = 0
AS
BEGIN
	SET NOCOUNT ON

		SELECT 
			DISTINCT r.[ID],
				r.name,
		     	replace(replace(r.Name, '&', '&amp;'),'"', '&quot;') 
			+	CASE WHEN @NamesOnly = 0 THEN isnull(
				' (' + 
				
				case (datediff(day, convert(datetime, convert(varchar, commentdt, 101)), convert(datetime, convert(varchar, getdate(), 101))))
				when 0 then 'today'
				when 1 Then '1 day ago'
				else
					convert(varchar, datediff(day, convert(datetime, convert(varchar, commentdt, 101)), convert(datetime, convert(varchar, getdate(), 101)))) + ' days ago'
				end
				+ ')'
				, '') ELSE '' END as [description]
		INTO #result
		FROM 
			QStatus_Report r
			INNER JOIN QStatus_Supervisors gr
				ON gr.ReportID = r.ID
				AND gr.InterestedParty = @InterestedParty
			INNER JOIN QCheck_Groups g
				ON g.ID = gr.SupervisorGroupID
			INNER JOIN QCheck_GroupMembership gm
				ON gm.GroupID = g.ID
				AND gm.UserID = @UserID
			LEFT OUTER JOIN QStatus_ReportLastestComments lastcomment
				ON lastcomment.reportID = r.ID
				AND lastcomment.userID = @UserID
		WHERE 
			r.IsDeleted = 0
		
		DECLARE @recordIds AS RecordId
		INSERT INTO @recordIds
			SELECT DISTINCT ID FROM #result

		EXEC dbo.Audit_Set @userId, @recordIds, 'Report', 2
		
		SELECT * FROM #result ORDER BY [Name]
END

