CREATE OR ALTER PROC [dbo].[QStatus_GetReportTaskListByUser]
	@UserID int
AS
BEGIN
	SET NOCOUNT ON
	
	--START HEADER
	SELECT distinct
		null as ID, 
			dbo.QStatus_GetUserNames(r.ID) + r.Name + ' - Status Report - '
			+ CASE WHEN r.LastReportDate = 0 THEN
				'No Status'
			ELSE
				ISNULL(datename(dw, r.LastReportDate) + ' ', '') 
				+ ISNULL(CONVERT(varchar, r.LastReportDate, 101) + ' ', '') 
				+ ltrim(isnull(right(convert(varchar, r.LastReportDate, 100), 7), ''))
			END 
		as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Header Row' as Type,
		-1 As NativeType,
		null as IsDeleted,
		1  As ReturnOrder,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	INTO #result
	FROM
		QStatus_Report r
	INNER JOIN
		QStatus_GroupReport gr
	ON
		gr.ReportID = r.ID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gr.GroupID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = g.ID
	AND
		gm.UserID = @UserID
	AND
		r.IsDeleted = 0
	
	--END OF HEADER

	UNION ALL

	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		-1,
		null as IsDeleted,
		2   As ReturnOrder,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	FROM
		QStatus_Report r
	INNER JOIN
		QStatus_GroupReport gr
	ON
		gr.ReportID = r.ID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gr.GroupID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = g.ID
	AND
		gm.UserID = @UserID
	AND
		r.IsDeleted = 0


	UNION ALL

	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'SpacerType' as Type,
		-1,
		null as IsDeleted,
		999999   As ReturnOrder,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	FROM
		QStatus_Report r
	INNER JOIN
		QStatus_GroupReport gr
	ON
		gr.ReportID = r.ID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gr.GroupID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = g.ID
	AND
		gm.UserID = @UserID
	AND
		r.IsDeleted = 0

	UNION ALL

	-- SECTION HEADS
	SELECT DISTINCT
		CASE WHEN  AC.CompletedDate IS Not Null then Null ELSE tt.ID END AS ID, 
		CASE WHEN  AC.CompletedDate IS Not Null then 'Completed - '+ tt.Description ELSE tt.Description END AS Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		CASE WHEN AC.CompletedDate IS Not Null then 2 else tt.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN AC.CompletedDate IS Not Null then tt.DisplayOrder * 1000 * 2 + 1000 Else tt.DisplayOrder * 1000 * 2 END  As ReturnOrder,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
		--0 As ShowSupervisor
	FROM
		QStatus_ActiveChecklistTaskType actt
	INNER JOIN
		QCheck_ActiveChecklists ac
	ON
		ac.ID = actt.ActiveChecklistID
	INNER JOIN
		QCheck_ChecklistInstances ci
	ON
		ci.ID = ac.InstanceID
	AND
		(ci.IsDeleted = 0)
	INNER JOIN
		QCheck_Checklists c
	ON	
		c.ID = ci.ChecklistID
	AND 
		(c.IsDeleted = 0)
	INNER JOIN
		QStatus_TaskTypes	tt
	ON
		actt.TaskType = tt.ID
	AND
		tt.IsDeleted = 0


	INNER JOIN
		QStatus_GroupReport gr
	ON
		gr.ReportID = tt.ReportID
	INNER JOIN
		QCheck_Groups grg
	ON
		grg.ID = gr.GroupID
	INNER JOIN
		QCheck_GroupMembership grgm
	ON
		grgm.GroupID = grg.ID
	AND
		grgm.UserID = @UserID
	INNER JOIN
		QStatus_Report r
	ON
		gr.ReportID = r.ID
	AND
		r.IsDeleted = 0
	INNER JOIN
		QCheck_Assignments a
	ON
		a.InstanceID = ci.ID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = a.GroupID
	AND
		gm.UserID = @UserID
	INNER JOIN 
		QCheck_Groups g
	ON
		g.ID = gm.GroupID
	
	--END SECTION HEADS

	UNION ALL

	-- SECTION HEADS Not Shown
	SELECT DISTINCT
		tt.ID, 
		tt.Description,
		--'blah' as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		tt.NativeType as NativeType,
		null as IsDeleted,
		tt.DisplayOrder * 1000 * 2 As ReturnOrder,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	FROM
		QStatus_TaskTypes tt
	INNER JOIN
		QStatus_GroupReport gr
	ON
		gr.ReportID = tt.ReportID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gr.GroupID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = g.ID
	AND
		gm.UserID = @UserID
	AND
		tt.NativeType = 0
	AND
		tt.IsDeleted = 0
	INNER JOIN
		QStatus_Report r
	ON
		gr.ReportID = r.ID
	AND
		r.IsDeleted = 0
	WHERE
		tt.ID NOT IN
	(
		SELECT tt.ID
		FROM
			QStatus_ActiveChecklistTaskType actt
		INNER JOIN
			QCheck_ActiveChecklists ac
		ON
			ac.ID = actt.ActiveChecklistID
		INNER JOIN
			QCheck_ChecklistInstances ci
		ON
			ci.ID = ac.InstanceID
		AND
			(ci.IsDeleted = 0)
		INNER JOIN
			QCheck_Checklists c
		ON	
			c.ID = ci.ChecklistID
		AND 
			(c.IsDeleted = 0)
		INNER JOIN
			QStatus_TaskTypes	tt
		ON
			actt.TaskType = tt.ID
		AND
			tt.IsDeleted = 0

		INNER JOIN
			QStatus_GroupReport rgr
		ON
			rgr.ReportID = tt.ReportID
		INNER JOIN
			QCheck_Groups rg
		ON
			rg.ID = rgr.GroupID
		INNER JOIN
			QCheck_GroupMembership rgm
		ON
			rgm.GroupID = rg.ID
		AND
			rgm.UserID = @UserID

		INNER JOIN
			QCheck_Assignments a
		ON
			a.InstanceID = ci.ID
		AND
			ac.CompletedDate is null
		INNER JOIN
			QCheck_GroupMembership gm
		ON
			gm.GroupID = a.GroupID
		AND
			gm.UserID = @UserID
		INNER JOIN
			QCheck_Groups g
		ON
			g.ID = gm.GroupID
		
	)
	--END SECTION HEADS Not Shown

	
	UNION ALL

	--START SECTION HEADINGS
	SELECT DISTINCT
		tt.ID as ID, 
		null as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Headings Row' as Type,
		CASE WHEN AC.CompletedDate IS Not Null then 2 else tt.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN AC.CompletedDate IS Not Null then tt.DisplayOrder * 1000 * 2 + 1000 Else tt.DisplayOrder * 1000 * 2 END  + 1 As ReturnOrder--,
		,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	FROM
		QStatus_ActiveChecklistTaskType actt
	INNER JOIN
		QCheck_ActiveChecklists ac
	ON
		ac.ID = actt.ActiveChecklistID
	INNER JOIN
		QCheck_ChecklistInstances ci
	ON
		ci.ID = ac.InstanceID
	AND
		(ci.IsDeleted = 0 )
	INNER JOIN
		QCheck_Checklists c
	ON	
		c.ID = ci.ChecklistID
	AND 
		(c.IsDeleted = 0)
	INNER JOIN
		QStatus_TaskTypes	tt
	ON
		actt.TaskType = tt.ID
	AND
		tt.IsDeleted = 0

	INNER JOIN
		QStatus_GroupReport rgr
	ON
		rgr.ReportID = tt.ReportID
	INNER JOIN
		QCheck_Groups rg
	ON
		rg.ID = rgr.GroupID
	INNER JOIN
		QCheck_GroupMembership rgm
	ON
		rgm.GroupID = rg.ID
	AND
		rgm.UserID = @UserID

	INNER JOIN
		QStatus_Report r
	ON
		rgr.ReportID = r.ID
	AND
		r.IsDeleted = 0
	INNER JOIN
		QCheck_Assignments a
	ON
		a.InstanceID = ci.ID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = a.GroupID
	AND
		gm.UserID = @UserID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gm.GroupID
	--END SECTION HEADINGS

	
	UNION ALL

	--START SECTION ENDERS
	SELECT DISTINCT
		null as ID, 
		CASE WHEN AC.CompletedDate IS Not Null then 'Completed' else tt.Description end as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		CASE WHEN AC.CompletedDate IS Not Null then 2 else tt.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN AC.CompletedDate IS Not Null then tt.DisplayOrder * 1000 * 2 + 1000 Else tt.DisplayOrder * 1000 * 2 END  + 999 As ReturnOrder--,
		,
		r.ID as ReportID,
		null As InstanceID,
		null As Assignees,
		null As Managers,
		null As Frequency,
		null As [Last Completed],
		null As nextduedate,
		null As UpcomingID,
		null As HistoryType,
		null As HistoryID
	FROM
		QStatus_ActiveChecklistTaskType actt
	INNER JOIN
		QCheck_ActiveChecklists ac
	ON
		ac.ID = actt.ActiveChecklistID
	INNER JOIN
		QCheck_ChecklistInstances ci
	ON
		ci.ID = ac.InstanceID
	AND
		(ci.IsDeleted = 0)
	INNER JOIN
		QCheck_Checklists c
	ON	
		c.ID = ci.ChecklistID
	AND 
		(c.IsDeleted = 0)
	INNER JOIN
		QStatus_TaskTypes	tt
	ON
		actt.TaskType = tt.ID
	AND
		tt.IsDeleted = 0

	
	INNER JOIN
		QStatus_GroupReport rgr
	ON
		rgr.ReportID = tt.ReportID
	INNER JOIN
		QCheck_Groups rg
	ON
		rg.ID = rgr.GroupID
	INNER JOIN
		QCheck_GroupMembership rgm
	ON
		rgm.GroupID = rg.ID
	AND
		rgm.UserID = @UserID

	INNER JOIN
		QStatus_Report r
	ON
		rgr.ReportID = r.ID
	AND
		r.IsDeleted = 0
	INNER JOIN
		QCheck_Assignments a
	ON
		a.InstanceID = ci.ID
	
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = a.GroupID
	AND
		gm.UserID = @UserID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gm.GroupID
	
	UNION ALL
	
	--START SECTION
	SELECT  DISTINCT
		ac.ID, 
		 c.Name as Description,
		--Convert(varchar, ac.DueTime, 101) as DueDate,
		ac.DueTime as DueDate,
		actt.Priority,
		CAST(itt.ID as varchar) As Comments,
		--Convert(varchar, UpdatedDate, 101) 
		0 as UpdatedDate,
		CAST(tt.ID as varchar) As Type,
		CASE WHEN AC.CompletedDate IS Not Null then 2 else tt.NativeType end as NativeType,
		0 as IsDeleted,
		CASE WHEN AC.CompletedDate IS Not Null then tt.DisplayOrder * 1000 * 2 + 1000 Else tt.DisplayOrder * 1000 * 2 END  + 100 + actt.Priority  As ReturnOrder--,
		,
		r.ID as ReportID,
		ci.ID As InstanceID,
		dbo.QCheck_AssigneesList(isNull(ci.ID,0)) as Assignees,
		dbo.QCheck_ManagersList(isNull(c.ID,0)) as Managers,
		CASE 
			WHEN s.FreqType = 1 THEN
				'ONE TIME'
			WHEN s.FreqType = 2 THEN
				'DAILY'
			WHEN s.FreqType = 3 THEN
				'WEEKLY'
			WHEN s.FreqType = 4 THEN
				CASE WHEN s.FreqRecurrance = 4 THEN
					'QUARTERLY'
				ELSE
					'MONTHLY'
				END
			WHEN s.FreqType = 5 THEN
				'YEARLY'
		END As Frequency,
		isNull(ac.CompletedDate, aca.CompletedDate) as 'Last Completed',
		udt.duetime
		As nextduedate,
		udt.ID as upcomingID,
		CASE WHEN ac.CompletedDate IS NULL THEN
			2
		ELSE
			1
		END AS HistoryType,
		CASE WHEN ac.CompletedDate is null then
			aca.ID 
		ELSE
			ac.ID
		END  As HistoryID
		--actt.ShowSupervisor
	FROM
		QStatus_ActiveChecklistTaskType actt
	INNER JOIN
		QCheck_ActiveChecklists ac
	ON
		ac.ID = actt.ActiveChecklistID
	INNER JOIN
		QCheck_ChecklistInstances ci
	ON
		ci.ID = ac.InstanceID
	AND
		(ci.IsDeleted = 0)
	INNER JOIN
		QCheck_Schedule s
	ON
		s.ID = ci.ScheduleID
	LEFT OUTER JOIN
		(SELECT a1.ID, a1.InstanceID, a1.completedDate
		FROM
			QCheck_ActiveChecklistArchive a1
		INNER JOIN
			(SELECT 
				InstanceID, MAX(completeddate) as completedDate
			FROM
				QCheck_ActiveChecklistArchive a
			GROUP BY
				 InstanceID
			) a2
		ON a1.InstanceID = a2.InstanceID and a1.completeddate = a2.completeddate
		) aca
	ON
		aca.InstanceID = ci.ID
	LEFT OUTER JOIN
		QCheck_UpcomingDueTimes udt
	ON
		udt.InstanceID = ci.ID
	AND
		udt.duetime <> ac.duetime
	LEFT OUTER JOIN
		QCheck_UpcomingDueTimes udt2
	ON
		udt2.InstanceID = ci.ID
	AND
		udt2.duetime < udt.duetime
	
	--  AND
		--udt.StartTime = ci.NextStartTime
	INNER JOIN
		QCheck_Checklists c
	ON	
		c.ID = ci.ChecklistID
	AND 
		(c.IsDeleted = 0)
	INNER JOIN
		QStatus_TaskTypes	tt
	ON
		actt.TaskType = tt.ID
	AND
		tt.IsDeleted = 0
	INNER JOIN
		QStatus_InstanceTaskType itt
	ON
		itt.InstanceID = ci.ID
	AND
		itt.TaskType = tt.ID

	
	INNER JOIN
		QStatus_GroupReport rgr
	ON
		rgr.ReportID = tt.ReportID
	INNER JOIN
		QCheck_Groups rg
	ON
		rg.ID = rgr.GroupID
	INNER JOIN
		QCheck_GroupMembership rgm
	ON
		rgm.GroupID = rg.ID
	AND
		rgm.UserID = @UserID

	INNER JOIN
		QStatus_Report r
	ON
		rgr.ReportID = r.ID
	AND
		r.IsDeleted = 0
	INNER JOIN
		QCheck_Assignments a
	ON
		a.InstanceID = ci.ID
	INNER JOIN
		QCheck_GroupMembership gm
	ON
		gm.GroupID = a.GroupID
	AND
		gm.UserID = @UserID
	INNER JOIN
		QCheck_Groups g
	ON
		g.ID = gm.GroupID
	WHERE
		udt2.id is null
	--WHERE
		--tt.ReportID = @ReportID
	--AND (@showPersonalTasks = 1 OR actt.ShowSupervisor = 1)
	--END SECTION

	
	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ReportID FROM #result

	EXEC dbo.Audit_Set @userId, @recordIds, 'Report', 2
	

	SELECT * FROM #result ORDER BY ReportId, ReturnOrder
END













































































































