CREATE OR ALTER PROC [dbo].[QStatus_GetReport] (
	@UserID int,
	@ReportID int,
	@deletedDate datetime = null,
	@MoveCompleted bit = 0,
	@DueFilter datetime = null,
	@AssignedTo int = -1,
	@PriorityListSetID INT = -1

/*
set @UserID = 24
set @ReportID = 1100843
set @MoveCompleted = 0
set @AssignedTo = -1
set @PriorityListSetID = 149
--set @PriorityListSetID = -1
*/
) AS

BEGIN
	
	--exec sp_recompile 'QStatus_GetReport'
 
	SET NOCOUNT ON
	
	DECLARE @ReportUserID int
	DECLARE @LastReadDate datetime
	DECLARE @CompletedType varchar(50)
	DECLARE @CompletedOrder int
	DECLARE @Seed int
	DECLARE @PriorityListSetName VARCHAR(50)
	
	INSERT INTO QStatus_Seed
		SELECT 1

	SELECT @Seed = scope_identity()

	DELETE FROM QStatus_Seed
	--find all the tasks

	DECLARE @ForeignKeyIDs TABLE (
		ForeignKeyID INT PRIMARY KEY
	)

	INSERT INTO @ForeignKeyIDs 
		SELECT distinct activechecklistid 
		FROM qstatus_commentedreporttasks
		WHERE reportID = @reportID 

	--add a day to whatever was passed in (takes care of default to midnight)
	IF @DueFilter is not null
		SET @DueFilter = DateAdd(day, 1, @DueFilter)
	
	SELECT @CompletedType = 'Completed'
	--find out if they are a user or supervisor/ip

	SET @ReportUserID = 0

	SELECT 
		@ReportUserID = UserID
	FROM
		QStatus_GroupReport gr
		INNER JOIN QCheck_Groups g
			ON g.ID = gr.GroupID
		INNER JOIN QCheck_GroupMembership gm
			ON gm.GroupID = g.ID
			AND gr.ReportID = @ReportID
			AND gm.UserID = @UserID

	--default to 60 days ago
	SELECT @LastReadDate =  getdate() - 60
	
	--find last time it was marked read by you if you are supervisor/ip
	SELECT 
		@LastReadDate = LastViewed
	FROM 
		QStatus_SupervisorsLastViewed
	WHERE
		ReportID = @ReportID 
		AND SupervisorUserID = @UserID
	
	--if it is your report, just use yesterday
	IF @ReportUserID = @UserID
		SELECT @LastReadDate = dateadd(day, -1, getdate())

	DECLARE @tasks table(
		ID int PRIMARY KEY,
		DueTime datetime,
		ReminderDate datetime,
		InstanceID int,
		assignees varchar(1000),
		controllers VARCHAR(1000),
		tasktype int,
		taskdescription varchar(1000),
		nativetype int,
		tasktypeorder int,
		priority int,
		prioritychanged bit,
		duedatechanged bit,
		newtask bit,
		CompletedDate datetime,
		Archived bit,
		description varchar(1000),
		tasknamechanged bit,
		isDeleted bit,
		isRecurring bit,
		isPriority bit,
		isDaily bit
	)

	declare @instances table(
		ID int PRIMARY KEY,
		ChecklistID int,
		isRecurring bit
	)

	declare @checklists table(
		ID int PRIMARY KEY,
		Description varchar(1000),
		tasknamechanged bit
	)

	-- 02/23/2011 dalvarado - priorities section
	declare @priorities table (
		ID int PRIMARY KEY IDENTITY(1,1),
		InstanceID INT,
		Priority INT
	)

	INSERT INTO @priorities (
		InstanceID,
		Priority
	)
		SELECT 
			ac.InstanceID,
			pl.Priority
		FROM
			PriorityListUsers plu
			INNER JOIN PriorityList pl
				ON plu.UserID = pl.UserID
			INNER JOIN QCheck_ActiveChecklists ac
				ON pl.ActiveChecklistID = ac.[ID]
		WHERE 
			PLU.[SetID] = @PriorityListSetID

	SELECT @PriorityListSetName = [Name]
	FROM PriorityListSet
	WHERE [ID] = @PriorityListSetID


	insert into @tasks (
		ID ,
		DueTime,
		ReminderDate,
		InstanceID ,
		assignees ,
		controllers,
		tasktype ,
		taskdescription ,
		nativetype ,
		tasktypeorder ,
		priority ,
		prioritychanged ,
		duedatechanged ,
		newtask ,
		CompletedDate ,
		Archived,
		IsDeleted,
		IsPriority,
		IsDaily
	)
		SELECT distinct
			ac.ID, 
			ac.DueTime,
			CASE WHEN CONVERT(VARCHAR(10), ac.ReminderDate, 101) <> CONVERT(VARCHAR(10), ac.DueTime, 101) THEN ac.ReminderDate ELSE NULL END,
			ac.InstanceID,
			isnull(al.assignees, ''),
			isnull(dbo.QCheck_ManagersList(c.[id]), ''),
			--dbo.QCheck_FullAssigneesList(ac.instanceid),
			tt.ID,
			tt.Description,
			tt.NativeType,
			tt.DisplayOrder,
			actt.Priority,
			0 as PriorityChanged,
			0 as DueDateChanged,
			CASE WHEN actt.CreateDt > @deletedDate THEN 1 ELSE 0 END  as NewTask,
			CompletedDate, 
			0,
			c.IsDeleted,
			CASE WHEN p.InstanceID IS NULL THEN 0 ELSE 1 END AS IsPriority,
			CASE WHEN (freqType = 2 AND freqRecurrance = 1) OR (freqType = 3 AND freqRecurrance = 1 AND (freqInterval & 62) = 62) THEN 1 ELSE 0 END as IsDaily
		FROM
			QStatus_ActiveChecklistTaskType actt
			INNER JOIN QStatus_TaskTypes	tt
				ON actt.TaskType = tt.ID
				AND
					tt.IsDeleted = 0
			INNER JOIN QCheck_ActiveChecklists ac
				ON ac.ID = actt.ActiveChecklistID
			INNER JOIN qcheck_checklistinstances ci
				ON ci.ID = ac.InstanceID
			INNER JOIN qcheck_checklists c
				ON ci.ChecklistID = c.ID
			INNER JOIN QCheck_Assignments a
				ON a.instanceID = ci.ID
				AND (
					a.GroupID = @AssignedTo 
					or @AssignedTo = -1
				)
				AND a.IsDeleted = 0
			left outer join qcheck_assigneelookup al
				on al.instanceid = ac.instanceid
			left outer join QCheck_Schedule s 
				ON ci.ScheduleID = s.ID 
			left outer join @Priorities p
				ON ac.InstanceID = p.InstanceID
			
		WHERE
			tt.ReportID = @ReportID
			AND (
				@DueFilter is null 
				OR ac.DueTime < @DueFilter
				OR isnull(ac.ReminderDate, ac.DueTime) < @DueFilter
				OR ac.ID in (
					SELECT ForeignKeyID 
					FROM @ForeignKeyIDs
				)
			)


	insert into @tasks (
		ID ,
		DueTime,
		ReminderDate,
		InstanceID ,
		assignees ,
		controllers,
		tasktype ,
		taskdescription ,
		nativetype ,
		tasktypeorder ,
		priority ,
		prioritychanged ,
		duedatechanged ,
		newtask ,
		CompletedDate ,
		Archived ,
		IsPriority,
		IsDaily
	)
		SELECT distinct 
			ac.ID, 
			ac.DueTime,
			CASE WHEN CONVERT(VARCHAR(10), ac.ReminderDate, 101) <> CONVERT(VARCHAR(10), ac.DueTime, 101) THEN ac.ReminderDate ELSE NULL END,
			ac.InstanceID, 
			isnull(al.assignees, ''),
			isnull(dbo.QCheck_ManagersList(ISNULL(cia.ChecklistID, ci.ChecklistID)), ''),
			--dbo.QCheck_FullAssigneesList(ac.instanceid),
			tt.ID,
			tt.Description,
			tt.NativeType,
			tt.DisplayOrder,
			actt.Priority,
			0 as PriorityChanged,
			0 as DueDateChanged,
			CASE WHEN actt.CreateDt > @deletedDate THEN 1 ELSE 0 END  as NewTask,
			CompletedDate, 
			1,
			0,
			0
		FROM
			QStatus_ActiveChecklistTaskType actt
			INNER JOIN QStatus_TaskTypes	tt
				ON actt.TaskType = tt.ID
				AND tt.IsDeleted = 0
			INNER JOIN QCheck_ActiveChecklistArchive ac
				ON ac.ID = actt.ActiveChecklistID
				AND ac.archivedate > @deleteddate 
				AND @deleteddate is not null
			INNER JOIN QCheck_ActiveAssignmentArchive aa
				ON aa.ActiveChecklistID = ac.ID
			LEFT OUTER JOIN QCheck_ChecklistInstanceArchive cia
				ON ac.InstanceID = cia.[ID]
			-- 2/26/2013 dalvarado - found cases where the instance wasn't archived with the active checklist, so need to look
			-- in both checklistinstances and checklistinstancearchive.
			left outer join qcheck_checklistinstances ci
				ON ac.InstanceID = ci.ID
			left outer join qcheck_assigneelookup al
				on al.instanceid = ac.instanceid
		WHERE
			tt.ReportID = @ReportID
			AND (
				@DueFilter is null 
				OR ac.DueTime < @DueFilter 
				OR isnull(ac.ReminderDate, ac.DueTime) < @DueFilter 
				OR ac.ID in (
					SELECT ForeignKeyID 
					FROM @ForeignKeyIDs
				)
			)
			AND (
				@AssignedTo = -1
				OR aa.AssignmentsID in (
					SELECT ID 
					FROM QCheck_Assignments
					WHERE 
						GroupID = @AssignedTo 
						and isdeleted = 0
				)
				OR aa.AssignmentsID in (
					SELECT ID 
					FROM QCheck_AssignmentArchive
					WHERE 
						GroupID = @AssignedTo 
						and isdeleted = 0
				)
			)

	update 
		@tasks
	set 
		DueDateChanged = 1
	from 
		@tasks t
		inner join QStatus_DueDateChanges ddc
			on ddc.ActiveChecklistID =t.ID
			AND ddc.UpdateDt > @deletedDate
	
	update 
		@tasks
	set 
		PriorityChanged = 1
	from 
		@tasks t
		inner join QStatus_PriorityChanges pc
			on pc.ActiveChecklistID =t.ID
			AND pc.UpdateDt > @deletedDate

	-- 02/23/2011 dalvarado
	IF @PriorityListSetID <> -1 BEGIN

		UPDATE 
			@tasks
		SET 
			TaskType = -1000,
			TaskDescription = 'Top Priorities' + ISNULL(' - ' + @PriorityListSetName, ''),
			TaskTypeOrder = 10,
			Priority = p.Priority
		FROM 
			@tasks t
			inner join @priorities p
				on t.InstanceID = p.InstanceID

	END


	insert into @instances

		SELECT distinct
			ci.ID,
			ci.ChecklistID,
			CASE 
				WHEN s.freqType > 1 THEN 1 
				ELSE 0 
			END as isRecurring
		FROM 
			QCheck_ChecklistInstances ci
			INNER JOIN @tasks t
				ON t.InstanceID = ci.ID
			LEFT OUTER JOIN QCheck_Schedule s 
				ON ci.ScheduleID = s.ID 
		WHERE
			ci.IsDeleted = 0 
			OR @deleteddate is not null

		UNION ALL

		SELECT distinct
			ci.ID,
			ci.ChecklistID,
			CASE 
				WHEN s.freqType > 1 THEN 1 
				ELSE 0 
			END as isRecurring
		FROM 
			QCheck_ChecklistInstanceArchive ci
			INNER JOIN @tasks t
				ON t.InstanceID = ci.ID
			LEFT OUTER JOIN QCheck_Schedule s 
				ON ci.ScheduleID = s.ID 
		WHERE
			(
				ci.IsDeleted = 0 
				OR @deleteddate is not null
			)
			AND ci.archivedate > @deleteddate 
			AND @deleteddate is not null
	

	insert into @checklists

		SELECT DISTINCT
			c.ID,
			c.Name,
			CASE 
				WHEN tnc.ChecklistID IS NULL THEN 0 
				ELSE 1 
			END as TaskNameChanged
		FROM 
			QCheck_Checklists c
			INNER JOIN @instances ci
				ON c.ID = ci.ChecklistID
			LEFT OUTER JOIN QStatus_TaskNameChanges tnc
				ON tnc.ChecklistID = c.ID
				AND tnc.UpdateDt > @deletedDate
		WHERE
			c.IsDeleted = 0 
			OR @deleteddate is not null

		UNION ALL

		SELECT DISTINCT
			c.ID,
			c.Name,
			CASE 
				WHEN tnc.ChecklistID IS NULL THEN 0 
				ELSE 1 
			END as TaskNameChanged
		FROM 
			QCheck_ChecklistArchive c
			INNER JOIN @instances ci
				ON c.ID = ci.ChecklistID
			LEFT OUTER JOIN QStatus_TaskNameChanges tnc
				ON tnc.ChecklistID = c.ID
				AND tnc.UpdateDt > @deletedDate
		WHERE
			(
				c.IsDeleted = 0 
				OR @deleteddate is not null
			)
			AND c.archivedate > @deleteddate 
			AND @deleteddate is not null


	DELETE FROM @instances where checklistid not in (select id from @checklists)
	DELETE FROM @tasks where instanceid not in (select id from @instances)


	update @tasks
	set 
		description = c.description,
		tasknamechanged = c.tasknamechanged,
		isRecurring = i.isRecurring
	from 
		@tasks t
		inner join @instances i
			on i.id = t.instanceid
		inner join @checklists c
			on c.id = i.checklistid


	INSERT INTO QStatus_TempTasks (
		ID, 
		keyID, 
		specialTask
	)
		SELECT 
			@Seed, 
			id, 
			0
		FROM 
			@Tasks
	
	INSERT INTO QStatus_TempTasks (
		ID, 
		keyID, 
		specialTask
	)
		SELECT 
			@Seed, 
			-1 * st.id, 
			1
		FROM
			QStatus_SpecialTasks st
			INNER JOIN QStatus_TaskTypes  tt
				ON st.TaskType = tt.ID
				AND tt.IsDeleted = 0
				AND tt.ReportID = @ReportID
				AND st.IsDeleted = 0


	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM @checklists

	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	--START HEADER
	SELECT
		null as ID, 
		dbo.QStatus_GetUserNames(r.ID) + 
			r.Name + ' - Status Report - '
			+ CASE 
				WHEN r.LastReportDate = 0 THEN 
					'No Status'
				ELSE 
					ISNULL(datename(dw, r.LastReportDate) + ' ', '') 
					+ ISNULL(CONVERT(varchar, r.LastReportDate, 101) + ' ', '') 
					+ ltrim(isnull(right(convert(varchar, r.LastReportDate, 100), 7), ''))
			END as Description,
		@LastReadDate as DueDate,
		@LastReadDate AS ReminderDate,
		@LastReadDate AS SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Header Row' as Type,
		-1 As NativeType,
		null as IsDeleted,
		1 As ReturnOrder,
		'0' as TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		QStatus_Report r
	WHERE
		r.ID = @ReportID
	--END OF HEADER
	
	UNION ALL

	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		-1,
		null as IsDeleted,
		2 As ReturnOrder, 
		'0' As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as isDaily

	UNION ALL

	-- SECTION HEADS
	SELECT DISTINCT
		CASE WHEN t.CompletedDate IS Not Null then Null ELSE t.TaskType END AS ID, 
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType +' - '+ taskdescription ELSE taskdescription END AS Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeorder * 1000 * 2 + 1000 Else t.tasktypeorder * 1000 * 2 END  As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(t.tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		@tasks t
		-- 02/23/2011 dalvarado
--		LEFT OUTER JOIN @priorities p
--			ON t.[id] = p.TaskID
--	WHERE
--		p.[TaskID] IS NULL
	
	
	UNION ALL

	--START SECTION HEADINGS
	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Headings Row' as Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN  t.CompletedDate IS Not Null then t.tasktypeorder * 1000 * 2 + 1000 Else t.tasktypeorder * 1000 * 2 END  + 1 As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(t.tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		@tasks t
		-- 02/23/2011 dalvarado
--		LEFT OUTER JOIN @priorities p
--			ON t.[id] = p.TaskID
--	WHERE
--		p.[TaskID] IS NULL

	UNION ALL

	--START SECTION ENDERS
	SELECT DISTINCT
		null as ID, 
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType else t.taskdescription end as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		CASE WHEN  t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 999 As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		@tasks t
		-- 02/23/2011 dalvarado
--		LEFT OUTER JOIN @priorities p
--			ON t.[id] = p.TaskID
--	WHERE
--		p.[TaskID] IS NULL

	--END SECTION ENDERS

	UNION ALL
	
	--START SECTION
	SELECT 
		DISTINCT
		t.ID, 
		t.description + 
		CASE WHEN t.CompletedDate IS NULL THEN
			CASE WHEN t.archived = 1 THEN
				' (DELETED)'
			ELSE
				''
			END
		ELSE
			''
		END as Description,
		Convert(varchar, t.DueTime, 101) as DueDate,
		Convert(varchar, t.ReminderDate, 101) as ReminderDate,
		Convert(varchar, ISNULL(t.ReminderDate, t.DueTime), 101) as SortDate,
		t.Priority,
		CAST(t.ID as varchar) As Comments,
		0 as UpdatedDate,
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType else t.taskDescription end As Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else
			CASE WHEN t.archived = 1 THEN
				3
			ELSE
				t.NativeType
			END
		END as NativeType,
		CASE WHEN t.CompletedDate IS NULL THEN
			CASE WHEN t.archived = 1 THEN
				1
			ELSE
				IsDeleted
			END
		ELSE
			IsDeleted
		END as IsDeleted,
		--0 as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 100 + t.Priority As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		PriorityChanged,
		DueDateChanged,
		TaskNameChanged,
		NewTask,
		Assignees as AssignedTo,
		Controllers,
		t.isRecurring as isRecurring,
		t.IsDaily as isDaily
	FROM
		@tasks t
		-- 02/23/2011 dalvarado
--		LEFT OUTER JOIN @priorities p
--			ON t.[id] = p.TaskID
--	WHERE
--		p.[TaskID] IS NULL

	UNION ALL

	SELECT 
		DISTINCT
		t.ID, 
		t.description + 
		CASE WHEN t.CompletedDate IS NULL THEN
			CASE WHEN t.archived = 1 THEN
				' (DELETED)'
			ELSE
				''
			END
		ELSE
			''
		END as Description,
		Convert(varchar, t.DueTime, 101) as DueDate,
		Convert(varchar, t.ReminderDate, 101) as ReminderDate,
		Convert(varchar, ISNULL(t.ReminderDate, t.DueTime), 101) as SortDate,
		t.Priority,
		CAST(t.ID as varchar) As Comments,
		0 as UpdatedDate,
		'Comments' As Type,
		999 as NativeType,
		CASE WHEN t.CompletedDate IS NULL THEN
			CASE WHEN t.archived = 1 THEN
				1
			ELSE
				IsDeleted
			END
		ELSE
			IsDeleted
		END as IsDeleted,
		--0 as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 100 + t.Priority As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		PriorityChanged,
		DueDateChanged,
		TaskNameChanged,
		NewTask,
		Assignees as AssignedTo,
		Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		@tasks t
		-- 02/23/2011 dalvarado
--		LEFT OUTER JOIN @priorities p
--			ON t.[id] = p.TaskID
--	WHERE
--		p.[TaskID] IS NULL

	UNION ALL
 
	-- SECTION HEADS SPECIAL (General Comments, etc)
	SELECT DISTINCT
		null as ID, 
		tt.Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		tt.NativeType ,
		null as IsDeleted,
		tt.DisplayOrder * 1000 * 2 As ReturnOrder,
		CAST(tt.ID As varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
	FROM
		QStatus_SpecialTasks st
		INNER JOIN QStatus_TaskTypes	tt
			ON st.TaskType = tt.ID
			AND tt.IsDeleted = 0
			AND tt.ReportID = @ReportID
			AND st.IsDeleted = 0
	--END SECTION HEADS SPECIAL 

	UNION ALL

	-- SECTION ENDERS SPECIAL (General Comments, etc)
	SELECT DISTINCT
		null as ID, 
		tt.Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		tt.NativeType ,
		null as IsDeleted,
		tt.DisplayOrder * 1000 * 2 + 999 As ReturnOrder,
		CAST(tt.ID AS varchar) AS TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring, 
		null as IsDaily
	FROM
		QStatus_SpecialTasks st
		INNER JOIN QStatus_TaskTypes	tt
			ON st.TaskType = tt.ID
			AND tt.IsDeleted = 0
			AND tt.ReportID = @ReportID
			AND st.IsDeleted = 0
	--END SECTION ENDERS SPECIAL 
	
	UNION ALL

	-- SECTION SPECIAL (General Comments, etc)
	SELECT DISTINCT
		st.ID * -1 as ID,  -- negative for special sections
		tt.Description,
		0 as DueDate,
		0 as ReminderDate,
		0 as SortDate,
		st.Priority as Priority,
		CAST((st.ID * -1) as varchar) As Comments,
		0 as UpdatedDate,
		tt.Description as Type,
		tt.NativeType ,
		0 as IsDeleted,
		tt.DisplayOrder * 1000 * 2 + 100 + st.Priority As ReturnOrder,
		CAST(tt.ID AS varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily
		--0 As ShowSupervisor
	FROM
		QStatus_SpecialTasks st
		INNER JOIN QStatus_TaskTypes	tt
			ON st.TaskType = tt.ID
			AND tt.IsDeleted = 0
			AND tt.ReportID = @ReportID
			AND st.IsDeleted = 0
	--END SECTION SPECIAL 
	
	ORDER BY 
		ReturnOrder,
		SortDate asc,
		ReminderDate asc, 
		DueDate asc, 
		description, 
		NativeType asc


	SELECT 
		IsConfidential 
	FROM
		QStatus_Report
	WHERE
		ID = @ReportID

	SELECT @Seed
END

