CREATE OR ALTER PROC [dbo].[QStatus_GetArchive]
	@ReportID int,
	@UserId int
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @Seed int
	INSERT INTO QStatus_Seed
	SELECT 1

	SELECT @Seed = scope_identity()

	DELETE FROM QStatus_Seed

	INSERT INTO QStatus_TempTasks (ID, keyID, specialTask)
	SELECT @Seed, t.id, 0
	FROM
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_ActiveChecklists 
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ActiveChecklistArchive 
			--where archivedate > dateadd(day, -56, getdate())
		) t
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QStatus_ActiveChecklistTaskType 
			UNION
			SELECT *, 1 as deleted FROM 
				QStatus_ActiveChecklistTaskTypeArchive 
		) actt
	ON
		actt.ActiveChecklistID = t.ID
	INNER JOIN
		QStatus_TaskTypes tt
	ON
		tt.ID = actt.TaskType
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_ChecklistInstances  
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ChecklistInstanceArchive 
		) i
	ON
		i.ID = t.InstanceID
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_Checklists  
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ChecklistArchive 
		) c
	ON
		c.ID = i.ChecklistID
	WHERE
		tt.ReportID = @ReportID
	AND
		(t.deleted = 1 or i.deleted = 1 or c.deleted = 1)

	--START HEADER
	SELECT
		r.ID as ID, 
		'Archive - ' + r.Name as Description,
		dateadd(day, -1, getdate()) as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Header Row' as Type,
		-1 As NativeType,
		1 As ReturnOrder,
		'0' as TaskType,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily,
		CAST(NULL AS INT) AS ChecklistId 
	INTO #result
	FROM
		QStatus_Report r
	WHERE
		r.ID = @ReportID
	
	--END OF HEADER

	UNION ALL

	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		-1,
		2 As ReturnOrder,
		'0' as TaskType,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily,
		NULL AS ChecklistId

	UNION ALL

	-- SECTION HEADS
	SELECT null as ID, 
		'Archive' as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		0 As NativeType,
		3 As ReturnOrder,
		'0' as TaskType,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily,
		NULL AS ChecklistId
	--END SECTION HEADS

	UNION ALL

	--START SECTION HEADINGS
	SELECT null as ID, 
		null as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Headings Row' as Type,
		0 As NativeType,
		4 As ReturnOrder,
		'0' as TaskType,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily,
		NULL AS ChecklistId
	--END SECTION HEADINGS

	UNION ALL

	--START SECTION ENDERS
	SELECT  null as ID, 
		null as Description,
		null as DueDate,
		null as ReminderDate,
		null as SortDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		0 As NativeType,
		99999 As ReturnOrder,
		'0' as TaskType,
		null as AssignedTo,
		null as Controllers,
		null as isRecurring,
		null as IsDaily,
		NULL AS ChecklistId
	--END SECTION ENDERS

	UNION ALL
	
	--START SECTION
	SELECT 
		t.ID, 
		c.Name as Description,
		Convert(varchar, DueTime, 101) as DueDate,
		Convert(varchar, t.ReminderDate, 101) as ReminderDate,
		Convert(varchar, ISNULL(t.ReminderDate, t.DueTime), 101) as SortDate,
		actt.Priority,
		t.ID as Comments,
		null as UpdatedDate,
		'Archive' As Type,
		3 As NativeType,
		100 + cast(duetime as integer) as ReturnOrder, 
		'0' as TaskType,
		dbo.QCheck_FullAssigneesList(i.id) as AssignedTo,
		isnull(dbo.QCheck_ManagersList(c.[id]), '') as Controllers,
		null as isRecurring,
		null as IsDaily,
		c.ID AS ChecklistId
	FROM
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_ActiveChecklists 
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ActiveChecklistArchive 
			--where archivedate > dateadd(day, -56, getdate())
		) t
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QStatus_ActiveChecklistTaskType 
			UNION
			SELECT *, 1 as deleted FROM 
				QStatus_ActiveChecklistTaskTypeArchive 
		) actt
	ON
		actt.ActiveChecklistID = t.ID
	INNER JOIN
		QStatus_TaskTypes tt
	ON
		tt.ID = actt.TaskType
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_ChecklistInstances  
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ChecklistInstanceArchive 
		) i
	ON
		i.ID = t.InstanceID
	INNER JOIN
		(
			SELECT *, null as archivedate, 0 as deleted FROM 
				QCheck_Checklists  
			UNION
			SELECT *, 1 as deleted FROM 
				QCheck_ChecklistArchive 
		) c
	ON
		c.ID = i.ChecklistID
	WHERE
		tt.ReportID = @ReportID
	AND
		(t.deleted = 1 or i.deleted = 1 or c.deleted = 1)
	
	--END SECTION

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ChecklistId FROM #result WHERE ChecklistId IS NOT NULL

	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	SELECT * FROM #result ORDER BY ReturnOrder 

	SELECT 
		IsConfidential 
	FROM
		QStatus_Report
	WHERE
		ID = @ReportID

	
	SELECT @Seed
END

