CREATE OR ALTER PROC [dbo].[QStatus_GetReportName]
	@ReportID int,
	@UserId int,
	@ReportName varchar(100) output
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds VALUES(@ReportID)

	EXEC dbo.Audit_Set @userId, @recordIds, 'Report', 2
	
	SELECT @ReportName = dbo.QStatus_GetUserNames(r.ID) + r.Name
	FROM
		QStatus_Report r
	WHERE r.ID = @ReportID
END




































