CREATE OR ALTER PROC [dbo].[QStatus_GetTaskTypes]
	@ReportID int,
	@userId int
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM QStatus_TaskTypes WHERE ReportId = @ReportID

	EXEC dbo.Audit_Set @userId, @recordIds, 'TaskType', 2

	SELECT 
		ID As ValStr,
		Replace(Replace(Replace(Replace(Description, '&', '&amp;'), '"', '&quot;'), '>', '&gt;'), '<', '&lt;') As KeyStr
	FROM
		QStatus_TaskTypes tt
	WHERE
		ReportID = @ReportID
	AND
		tt.IsDeleted = 0
	AND
		tt.NativeType = 0
	ORDER BY DisplayOrder
END















































