CREATE OR ALTER PROC [dbo].[QStatus_GetReportLatestComments]
	@UserID int,
	@ReportID int,
	@deletedDate datetime = null,
	@MoveCompleted bit = 0,
	@selectedComments varchar(1000) = null,
	@CommentsSince DATETIME = NULL,
	@IncludeAllTasks BIT = 0
/*
set @UserID = 50
set @ReportID = 1100996
set @deletedDate = null
set @MoveCompleted = 0
set @selectedComments = null
set @CommentsSince = '4/10/2016 10:00'
set @IncludeAllTasks = 1
*/
AS

BEGIN
	SET NOCOUNT ON
	
	IF @CommentsSince IS NULL SET @CommentsSince = DATEADD(HOUR, -1, GETDATE())
	If @CommentsSince > getdate() SET @CommentsSince = DATEADD(HOUR, -1, GETDATE()) --time zone issue

	DECLARE @CompletedType varchar(10)
	
	SELECT @CompletedType = 'Completed'
	
	--waitfor delay '00:00:10'

	--if only specific comments were requested, parse them out into a table
	DECLARE @selectedCommentsTbl TABLE (commentID int)

	IF @selectedComments IS NOT NULL
		INSERT INTO @selectedCommentsTbl
		SELECT n from _Util.dbo.fn_List_To_Table(@selectedComments,',')

	--find all the tasks
	DECLARE @ForeignKeyIDs TABLE (
		ForeignKeyID INT PRIMARY KEY,
		SpecialTask int
	)

	IF @selectedComments IS NOT NULL
	BEGIN
		INSERT INTO @ForeignKeyIDs 
			SELECT distinct 
				actt.activechecklistid, 
				specialTask 
			FROM 
				QStatus_ActiveChecklistTaskType actt
				inner join qstatus_tasktypes tt
					on tt.id = actt.tasktype
					and tt.reportID = @reportID
				inner join qstatus_comments c
					on c.foreignkeyid = actt.activechecklistid
					and c.specialtask = 0
					and c.UserID = @UserID
					AND LEN(Comments)>0 
					AND CommentDT > @CommentsSince
				INNER JOIN @selectedCommentsTbl sc 
					ON c.id = sc.commentID

		INSERT INTO @ForeignKeyIDs
			SELECT distinct 
				st.ID, 1
			FROM 
				QStatus_SpecialTasks st
				inner join qstatus_tasktypes tt
					ON tt.ID = st.TaskType
					AND tt.ReportID = @ReportID
				inner join qstatus_comments c
					on c.foreignkeyid = st.ID
					AND LEN(Comments)>0  
					AND CommentDT > @CommentsSince
					and specialtask=1
					and c.UserID = @UserID
				INNER JOIN @selectedCommentsTbl sc 
					ON c.id = sc.commentID
	END
	ELSE
	BEGIN
		INSERT INTO @ForeignKeyIDs 
			SELECT distinct 
				actt.activechecklistid, 
				ISNULL(specialTask, 0)
			FROM 
				QStatus_ActiveChecklistTaskType actt
				INNER JOIN qstatus_tasktypes tt
					ON tt.id = actt.tasktype
					AND tt.reportID = @reportID
				LEFT OUTER JOIN qstatus_comments c
					ON c.foreignkeyid = actt.activechecklistid
					AND c.specialtask = 0
			WHERE
				(c.UserID = @UserID OR @IncludeAllTasks = 1)
				AND (LEN(Comments) > 0 OR @IncludeAllTasks = 1)
				AND ISNULL(CommentDT, '12/31/2199') > @CommentsSince
				AND (c.ID IS NOT NULL OR @IncludeAllTasks = 1) --Basically want an inner join if not showing all tasks

			UNION

			-- If we're showing all tasks, make sure every task on the status report is included.  The query above will only pull
			-- tasks that have active comments within the date range or don't have comments from the user at all.
			SELECT distinct 
				actt.activechecklistid,
				0
			FROM 
				QStatus_ActiveChecklistTaskType actt
				INNER JOIN qstatus_tasktypes tt
					ON tt.id = actt.tasktype
					AND tt.reportID = @reportID
			WHERE
				@IncludeAllTasks = 1 

		INSERT INTO @ForeignKeyIDs
			SELECT distinct 
				st.ID, 
				1
			FROM 
				QStatus_SpecialTasks st
				INNER JOIN qstatus_tasktypes tt
					ON tt.ID = st.TaskType
					AND tt.ReportID = @ReportID
				LEFT OUTER JOIN qstatus_comments c
					ON c.foreignkeyid = st.ID
					AND specialtask=1
			WHERE
				(LEN(Comments) > 0 OR @IncludeAllTasks = 1)
				AND ISNULL(CommentDT, '12/31/2199') > @CommentsSince
				AND (c.UserID = @UserID OR @IncludeAllTasks = 1)
				AND (c.ID IS NOT NULL OR @IncludeAllTasks = 1) --Basically want an inner join if not showing all tasks

			UNION

			SELECT distinct 
				st.ID, 
				1
			FROM 
				QStatus_SpecialTasks st
				INNER JOIN qstatus_tasktypes tt
					ON tt.ID = st.TaskType
					AND tt.ReportID = @ReportID
			WHERE
				@IncludeAllTasks = 1

	END

	DECLARE @tasks table(
		ID int PRIMARY KEY,
		DueTime datetime,
		InstanceID int,
		assignees varchar(1000),
		tasktype int,
		taskdescription varchar(1000),
		nativetype int,
		tasktypeorder int,
		priority int,
		prioritychanged bit,
		duedatechanged bit,
		newtask bit,
		CompletedDate datetime,
		Archived bit,
		description varchar(1000),
		tasknamechanged bit
	)

		
	declare @instances table(
		ID int PRIMARY KEY,
		ChecklistID int
	)
	declare @checklists table(
		ID int PRIMARY KEY,
		Description varchar(1000),
		tasknamechanged bit
	)
	
	insert into @tasks (
		ID ,
		DueTime,
		InstanceID ,
		assignees ,
		tasktype ,
		taskdescription ,
		nativetype ,
		tasktypeorder ,
		priority ,
		prioritychanged ,
		duedatechanged ,
		newtask ,
		CompletedDate ,
		Archived 
	)
		SELECT distinct
			ac.ID, 
			ac.DueTime,
			ac.InstanceID,
			isnull(REPLACE(al.assignees, '&nbsp;', ' '), ''),
			--dbo.QCheck_FullAssigneesList(ac.instanceid),
			tt.ID,
			tt.Description,
			tt.NativeType,
			tt.DisplayOrder,
			actt.Priority,
			0 as PriorityChanged,
			0 as DueDateChanged,
			CASE WHEN actt.CreateDt > @deletedDate THEN 1 ELSE 0 END  as NewTask,
			CompletedDate, 
			0
		FROM
			QStatus_ActiveChecklistTaskType actt
			INNER JOIN QStatus_TaskTypes	tt
				ON actt.TaskType = tt.ID
				AND tt.IsDeleted = 0
				AND tt.ReportID = @ReportID
			INNER JOIN QCheck_ActiveChecklists ac
				ON ac.ID = actt.ActiveChecklistID
			left outer join qcheck_assigneelookup al
				on al.instanceid = ac.instanceid
			inner join @ForeignKeyIDs f
				ON f.ForeignKeyID = ac.ID
				AND f.SpecialTask = 0	

	
	insert into @tasks (
		ID ,
		DueTime,
		InstanceID ,
		assignees ,
		tasktype ,
		taskdescription ,
		nativetype ,
		tasktypeorder ,
		priority ,
		prioritychanged ,
		duedatechanged ,
		newtask ,
		CompletedDate ,
		Archived 
	)
		SELECT distinct 
			ac.ID, 
			ac.DueTime,
			ac.InstanceID, 
			isnull(REPLACE(al.assignees, '&nbsp;', ' '), ''),
			--dbo.QCheck_FullAssigneesList(ac.instanceid),
			tt.ID,
			tt.Description,
			tt.NativeType,
			tt.DisplayOrder,
			actt.Priority,
			0 as PriorityChanged,
			0 as DueDateChanged,
			CASE WHEN actt.CreateDt > @deletedDate THEN 1 ELSE 0 END  as NewTask,
			CompletedDate, 
			1
		FROM
			QStatus_ActiveChecklistTaskType actt
			INNER JOIN QStatus_TaskTypes	tt
				ON actt.TaskType = tt.ID
				AND tt.ReportID = @ReportID
				AND tt.IsDeleted = 0
			INNER JOIN QCheck_ActiveChecklistArchive ac
				ON ac.ID = actt.ActiveChecklistID
				--AND ac.archivedate > @deleteddate 
				--AND @deleteddate is not null
			left outer join qcheck_assigneelookup al
				on al.instanceid = ac.instanceid
			inner join @ForeignKeyIDs f
				ON f.ForeignKeyID = ac.ID
				AND f.SpecialTask = 0	


	
	update @tasks
	set DueDateChanged = 1
	from 
		@tasks t
		inner join QStatus_DueDateChanges ddc
			on ddc.ActiveChecklistID =t.ID
			AND ddc.UpdateDt > @deletedDate

	
	update @tasks
	set PriorityChanged = 1
	from 
		@tasks t
		inner join QStatus_PriorityChanges pc
			on pc.ActiveChecklistID =t.ID
			AND pc.UpdateDt > @deletedDate
	
	insert into @instances
		SELECT distinct
			ci.ID,
			ci.ChecklistID
		FROM 
			QCheck_ChecklistInstances ci
			INNER JOIN @tasks t
			ON t.InstanceID = ci.ID
		WHERE
			ci.IsDeleted = 0 
			OR @deleteddate is not null

		UNION ALL

		SELECT distinct
			ci.ID,
			ci.ChecklistID
		FROM 
			QCheck_ChecklistInstanceArchive ci
			INNER JOIN @tasks t
			ON t.InstanceID = ci.ID
		WHERE
			(ci.IsDeleted = 0 OR @deleteddate is not null)
			AND ci.archivedate > @deleteddate 
			AND @deleteddate is not null
	
	insert into @checklists
		SELECT DISTINCT
			c.ID,
			c.Name,
			CASE WHEN tnc.ChecklistID IS NULL THEN 0 ELSE 1 END as TaskNameChanged
		FROM 
			QCheck_Checklists c
			INNER JOIN @instances ci
				ON c.ID = ci.ChecklistID
			LEFT OUTER JOIN QStatus_TaskNameChanges tnc
				ON tnc.ChecklistID = c.ID
				AND tnc.UpdateDt > @deletedDate
		WHERE
			c.IsDeleted = 0 
			OR @deleteddate is not null

		UNION ALL

		SELECT DISTINCT
			c.ID,
			c.Name,
			CASE WHEN tnc.ChecklistID IS NULL THEN 0 ELSE 1 END as TaskNameChanged
		FROM 
			QCheck_ChecklistArchive c
			INNER JOIN @instances ci
				ON c.ID = ci.ChecklistID
			LEFT OUTER JOIN QStatus_TaskNameChanges tnc
				ON tnc.ChecklistID = c.ID
				AND tnc.UpdateDt > @deletedDate
		WHERE
			(c.IsDeleted = 0 OR	@deleteddate is not null)
			AND c.archivedate > @deleteddate 
			AND @deleteddate is not null

	DELETE FROM @instances where checklistid not in (select id from @checklists)
	DELETE FROM @tasks where instanceid not in (select id from @instances)

	update @tasks
	set 
		description = c.description,
		tasknamechanged = c.tasknamechanged
	from 
		@tasks t
		inner join @instances i
			on i.id = t.instanceid
		inner join @checklists c
			on c.id = i.checklistid


	DECLARE @specialtasks table(
		ID int,
		priority int,
		tasktypeid int,
		tasktypedescription varchar(1000), 
		tasktypenativetype int,
		tasktypedisplayorder int
	)

	insert into @specialtasks
		select st.ID,
			st.priority,
			tt.id,
			tt.description,
			tt.nativetype,
			tt.displayorder
		from 
			QStatus_SpecialTasks st
			INNER JOIN QStatus_TaskTypes	tt
				ON st.TaskType = tt.ID
				AND tt.IsDeleted = 0
				AND st.IsDeleted = 0
				AND tt.ReportID = @ReportID
			INNER JOIN @ForeignKeyIDs f
				ON f.ForeignKeyID = st.ID
				AND f.SpecialTask = 1

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM @checklists

	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	--START HEADER
	SELECT
		null as ID, 
		dbo.QStatus_GetUserNames(r.ID) + r.Name + ' - Status Report - '
		+ CASE WHEN r.LastReportDate = 0 THEN
			'No Status'
		ELSE
			ISNULL(datename(dw, r.LastReportDate) + ' ', '') 
			+ ISNULL(CONVERT(varchar, r.LastReportDate, 101) + ' ', '') 
			+ ltrim(isnull(right(convert(varchar, r.LastReportDate, 100), 7), ''))
		END 
		as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Header Row' as Type,
		-1 As NativeType,
		null as IsDeleted,
		1 As ReturnOrder,
		'0' as TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		QStatus_Report r
	WHERE
		r.ID = @ReportID
	--END OF HEADER

	
	UNION ALL

	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		-1,
		null as IsDeleted,
		2 As ReturnOrder, 
		'0' As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo

	UNION ALL

	-- SECTION HEADS
	SELECT DISTINCT
		CASE WHEN t.CompletedDate IS Not Null then Null ELSE t.TaskType END AS ID, 
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType +' - '+ taskdescription ELSE taskdescription END AS Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeorder * 1000 * 2 + 1000 Else t.tasktypeorder * 1000 * 2 END  As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(t.tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@tasks t
		
	UNION ALL

	--START SECTION HEADINGS
	SELECT DISTINCT
		null as ID, 
		null as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Headings Row' as Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeorder * 1000 * 2 + 1000 Else t.tasktypeorder * 1000 * 2 END  + 1 As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(t.tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@tasks t

	UNION ALL

	--START SECTION ENDERS
	SELECT DISTINCT
		null as ID, 
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType else t.taskdescription end as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		null as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 999 As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@tasks t

	--END SECTION ENDERS


	UNION ALL
	
	--START SECTION
	SELECT 
		DISTINCT
		t.ID, 
		t.description + 
		CASE WHEN t.archived = 1 THEN
			--' (DELETED)'
			''
		ELSE
			''
		END
		 as Description,
		Convert(varchar, t.DueTime, 101) as DueDate,
		t.Priority,
		CAST(t.ID as varchar) As Comments,
		0 as UpdatedDate,
		CASE WHEN t.CompletedDate IS Not Null then @CompletedType else t.taskDescription end As Type,
		CASE WHEN t.CompletedDate IS Not Null then 2 else t.NativeType end as NativeType,
		0 as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 100 + t.Priority As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		PriorityChanged,
		DueDateChanged,
		TaskNameChanged,
		NewTask,
		Assignees as AssignedTo
	FROM
		@tasks t
		
	UNION ALL
/*	
	-- COMMENTS
	SELECT 
		DISTINCT
		t.ID, 
		t.description + 
		CASE WHEN t.CompletedDate IS NULL THEN
			CASE WHEN t.archived = 1 THEN
				' (DELETED)'
			ELSE
				''
			END
		ELSE
			''
		END as Description,
		Convert(varchar, t.DueTime, 101) as DueDate,
		t.Priority,
		CAST(t.ID as varchar) As Comments,
		0 as UpdatedDate,
		'Comments' As Type,
		999 as NativeType,
		0 as IsDeleted,
		CASE WHEN t.CompletedDate IS Not Null then t.tasktypeOrder * 1000 * 2 + 1000 Else t.tasktypeOrder * 1000 * 2 END  + 100 + t.Priority As ReturnOrder,
		CASE WHEN t.CompletedDate IS Not Null then 'C' else '' END + CAST(tasktype as varchar) As TaskType,
		PriorityChanged,
		DueDateChanged,
		TaskNameChanged,
		NewTask,
		Assignees as AssignedTo
	FROM
		@tasks t


	UNION ALL
*/ 
	-- SECTION HEADS SPECIAL (General Comments, etc)
	SELECT DISTINCT
		null as ID, 
		tasktypedescription as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Sub Header Row' as Type,
		tasktypenativetype as NativeType ,
		null as IsDeleted,
		tasktypedisplayorder * 1000 * 2 As ReturnOrder,
		CAST(tasktypeid As varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@specialtasks st
	--END SECTION HEADS SPECIAL 
	
	UNION ALL
	
	-- COLUMN HEADS SPECIAL (General Comments, etc)
	SELECT DISTINCT
		null as ID, 
		tasktypedescription as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'Special Headings Row' as Type,
		tasktypenativetype as NativeType ,
		null as IsDeleted,
		tasktypedisplayorder * 1000 * 2 + 1 As ReturnOrder,
		CAST(tasktypeid As varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@specialtasks st
	--END SECTION HEADS SPECIAL 


	UNION ALL

	-- SECTION ENDERS SPECIAL (General Comments, etc)
	SELECT DISTINCT
		null as ID, 
		tasktypedescription as Description,
		null as DueDate,
		null as Priority,
		null as Comments,
		null as UpdatedDate,
		'EnderType' as Type,
		tasktypenativetype as NativeType ,
		null as IsDeleted,
		tasktypedisplayorder * 1000 * 2 + 999 As ReturnOrder,
		CAST(tasktypeid AS varchar) AS TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@specialtasks st
	--END SECTION ENDERS SPECIAL 
	
	
	
	UNION ALL

	-- SECTION SPECIAL (General Comments, etc)
	SELECT DISTINCT
		st.ID * -1 as ID,  -- negative for special sections
		st.tasktypedescription as description,
		null as DueDate,
		st.Priority as Priority,
		CAST((st.ID * -1) as varchar) As Comments,
		0 as UpdatedDate,
		st.tasktypedescription as Type,
		st.tasktypenativetype as NativeType ,
		0 as IsDeleted,
		st.tasktypedisplayorder * 1000 * 2 + 100 + st.Priority As ReturnOrder,
		CAST(st.tasktypeid AS varchar) As TaskType,
		0 as PriorityChanged,
		0 as DueDateChanged,
		0 as TaskNameChanged,
		0 as NewTask,
		null as AssignedTo
	FROM
		@specialtasks st
	--END SECTION SPECIAL 
	

	ORDER BY 
		ReturnOrder,
		DueDate asc, 
		description, 
		NativeType asc

	SELECT 
		IsConfidential 
	FROM
		QStatus_Report
	WHERE
		ID = @ReportID


	SET NOCOUNT OFF
END

