CREATE OR ALTER PROC [dbo].[QStatus_GetLatestComments]
	@ReportID int,
	@TaskID  int,
	@UserID int = null,
	@selectedComments varchar(1000) = null,
	@CommentsSince DATETIME = NULL
AS

	IF @CommentsSince IS NULL SET @CommentsSince = DATEADD(HOUR, -1, GETDATE())
	If @CommentsSince > getdate() SET @CommentsSince = DATEADD(HOUR, -1, GETDATE()) --time zone issue

	--if only specific comments were requested, parse them out into a table
	DECLARE @selectedCommentsTbl TABLE (commentID int)


	IF @selectedComments IS NOT NULL BEGIN
		INSERT INTO @selectedCommentsTbl
		SELECT n from _Util.dbo.fn_List_To_Table(@selectedComments,',')
		
		INSERT INTO @selectedCommentsTbl
			SELECT DISTINCT
				C2.ID
			FROM 
				@SelectedCommentsTbl st
				INNER JOIN QStatus_Comments c1
					ON st.CommentID = c1.ID
				INNER JOIN QStatus_Comments c2
					ON c1.ForeignKeyID = c2.ForeignKeyID
					AND c1.ID <> c2.ID
					AND c2.CommentDt > c1.CommentDt
	END

	DECLARE @results TABLE
	(
		ID	int,
		ForeignKeyID	int,
		Comments	varchar(1500),
		DisplayOrder	int,
		TabIn	int,
		CommentDt	datetime,
		Initials	varchar(100),
		UserID	int,
		ReplyID	int,
		SpecialTask	bit,
		TaskID	int,
		ColorNum int,
		FullName varchar(100)
	)

	INSERT INTO @results
	SELECT 
		Distinct C.*, 
		task.taskID as TaskID,
	 	CASE WHEN gr.USERID IS NOT NULL THEN 
			0 --red
		ELSE
			CASE WHEN supcolor.colorNum is not null THEN
				supcolor.colorNum
			ELSE
				CASE WHEN sup.interestedParty = 0 THEN
					3 --green
				ELSE
					50 --purple
				END
			END
		END as colornum, 
		u.FullName
	FROM
		QStatus_COMMENTS C
	INNER JOIN 
	(
			SELECT actt.ActiveChecklistID as taskID, actt.ActiveChecklistID as [ID], actt.TaskType, 0 As SpecialTask
			FROM
				(SELECT *, null as archivedate FROM QCheck_ActiveChecklists 
				where ID = @TaskID
				union all
				select * FROM QCheck_ActiveChecklistArchive 
				where ID = @TaskID)
				T
			INNER JOIN
				QStatus_ActiveChecklistTaskType actt
			ON
				actt.ActiveChecklistID = t.ID
			
			
			UNION
		
			SELECT 
				-1 * ST.ID As taskID, ST.ID, ST.TaskType, 1 As SpecialTask
			FROM
				QStatus_SpecialTasks st
			WHERE
				ST.ID = ABS(@TaskID)	
			AND
				@TaskID < 0
		) task
	ON
		task.SpecialTask = c.SpecialTask
	AND
		c.ForeignKeyID = task.[ID]
	INNER JOIN
		QStatus_TaskTypes tt
	ON
		task.TaskType = tt.ID
	AND
		tt.ReportID = @ReportID
	INNER JOIN 
		QCheck_Users u
	ON
		u.ID = C.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID, s.InterestedParty
		FROM QStatus_SUPERVISORS s
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = s.supervisorGroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND s.ReportID = @ReportID
	) sup
	ON sup.UserId = c.UserID
	LEFT OUTER JOIN 
		(SELECT gm.UserID
		FROM QStatus_GroupReport gr
		INNER JOIN QCheck_GroupMembership gm
		ON gm.GroupID = gr.GroupID
		INNER JOIN QCheck_Groups g
		ON g.ID = gm.GroupID
		AND gr.ReportID = @ReportID
	) gr
	ON gr.UserId = c.UserID
	LEFT OUTER JOIN
		QStatus_SupervisorColors supcolor
	ON
		supcolor.supervisorUserID = u.ID
	
	WHERE
	 (
		c.ID in (
				SELECT ID FROM QStatus_comments 
				where 
					--USERID = @UserID AND 
					LEN(Comments)>0 AND 
					CommentDt > @CommentsSince
				)
			OR 
		c.ID in (
				SELECT ReplyID FROM QStatus_comments 
				where 
					--USERID = @UserID AND 
					LEN(Comments)>0 AND 
					CommentDt > @CommentsSince
				)
	)
	ORDER BY C.DisplayOrder

	IF @selectedComments IS NOT NULL
		DELETE FROM @results
		WHERE ID NOT IN (SELECT CommentID FROM @selectedCommentsTbl)

	DECLARE @recordIds AS RecordId
	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM @results

	EXEC dbo.Audit_Set @userId, @recordIds, 'Comment', 2

	SELECT * FROM @results
	