USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_CreateTaskThroughApi]    Script Date: 10/4/2024 8:38:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[QCheck_CreateTaskThroughApi] (
	@TaskName NVARCHAR(1000),
	@Assignees NVARCHAR(1000),
	@Controller NVARCHAR(1000) = NULL,
	@DueDate DATETIME = NULL,
	@ReportSectionId INT = NULL,
	@NewActiveID int output
) AS

	DECLARE 
		@ChecklistID INT,
		--@DueDate datetime,
		@SoftDue datetime,
		@CreatedBy int,
		@ReportID int,
		@TaskType int = NULL,
		@PrevFreqType int,
		@RowsUpdated int,
		@NewInstanceID int,
		@scheduleID int,
		@traderQPUserID int,
		@controlledBy int,
		@errorCode int,
		@errorMsg varchar(500),
		@uniqueTaskName bit

  DECLARE @AppName NVARCHAR(50);
 
  SELECT @AppName = AppName from QCheck_AppSettings; --THIS IS USED FOR ERROR MESSAGING

	
	DECLARE @DueTime int

	SELECT @DueTime = duetime from QCheck_UserDefaultTimes
	WHERE UserID = -1

	---- Due in 1 days by default

	IF @DueDate IS NOT NULL
	BEGIN 
		IF @DueDate < GETDATE() OR @SoftDue < GETDATE()
		BEGIN
			RAISERROR('Due date and soft due date must be a future date', 16, 1, @AppName)
			RETURN
		END
	END 
	ELSE IF @DueDate IS NULL
	BEGIN 
	SET @SoftDue = CONVERT(VARCHAR(10), DATEADD(DAY, 1, getdate()), 101) + ' ' + convert(varchar(2), @DueTime - 1) + ':00:00'
	SET @DueDate = CONVERT(VARCHAR(10), DATEADD(DAY, 1, getdate()), 101) + ' ' + convert(varchar(2), @DueTime) + ':00:00'
	END

	CREATE TABLE #Assignees(
		Name NVARCHAR(30)
);

INSERT INTO #Assignees (Name) SELECT UserName.c from _Util.dbo.fn_List_To_Table(@assignees, ',') as UserName;
INSERT INTO #Assignees (Name) SELECT @Controller;

	SET @errorCode = 0
	SET @errorMsg = ''

	CREATE TABLE #AssigneeIDs(
		ID INT
	);
	
	INSERT INTO #AssigneeIDs (ID) SELECT DISTINCT ID
	FROM QCheck_Groups
	WHERE Name IN (SELECT Name fROM #Assignees)

	DECLARE @tempAssigneeCount INT 

	SELECT @tempAssigneeCount = COUNT(ID) FROM #AssigneeIDs

	IF @tempAssigneeCount = 0 
	BEGIN
		RAISERROR('The specified Assignee names do not match any in %s', 16, 1, @AppName)
		RETURN
	END

	DECLARE @assignedTo INT = (SELECT TOP (1) ID FROM #AssigneeIDs)

	IF @Controller IS NOT NULL 
	 BEGIN
	SELECT @controlledBy = ID
	FROM QCheck_Groups
	WHERE Name = @Controller

	IF @controlledBy IS NULL
	BEGIN
		RAISERROR('The specified Controller user name does not match any in %s', 16, 1, @AppName)
		RETURN
	END
	END
	ELSE 
	BEGIN
	 SELECT @ControlledBy = @AssignedTo
	 END

	EXEC QCheck_DuplicateNameCheck @Name = @TaskName, @UserID = 0, @OKToUse = @UniqueTaskName OUTPUT

	if @UniqueTaskName = 0
	BEGIN
		RAISERROR('Task with the provided name already exists and is already assigned to selected group', 16, 1)
		RETURN
	END
	--select @createdBy = isnull(@createdBy, 68) --defaUlt to nelson

	--If section specified but report name not, assume the assignee's personal report (will validate) 
	--IF (@ReportName IS NULL OR LEN(@ReportName) > 0)
	--	AND @Task IS NOT NULL AND LEN(@Task) > 0
	--	SET @ReportName = @GroupAssignedTo

	--IF  @ReportName IS NOT NULL AND LEN(@ReportName) > 0
	--	AND @Task IS NOT NULL AND LEN(@Task) > 0
	--BEGIN 
	--	SELECT @TaskType = tt.ID
	--	FROM QStatus_TaskTypes tt
	--	JOIN QStatus_Report r ON r.ID = tt.ReportID
	--	WHERE tt.IsDeleted = 0
	--		AND r.IsDeleted = 0
	--		AND r.Name = @ReportName
	--		AND tt.Description = @Task

	--	if @TaskType IS NULL
	--	 BEGIN
	--		RAISERROR('Report/Section provided is not valid', 16, 1)
	--		RETURN
	--	 END
	--END

	EXEC dbo.QCheck_CreateSimple_part1 @ChecklistID OUTPUT, @TaskName, 1, @DueDate, 0, @ReportSectionId, 
		@PrevFreqType OUTPUT, @RowsUpdated OUTPUT, @NewInstanceID OUTPUT, @NewActiveID OUTPUT, @assignedTo, 1, 1

	DECLARE @nextAssigned INT
	DECLARE assigneeCursor CURSOR FOR SELECT DISTINCT ID FROM #AssigneeIDs

	OPEN assigneeCursor
	FETCH FROM assigneeCursor INTO @nextAssigned

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC QCheck_AddAssignedTo @NewInstanceID,  @nextAssigned , @CreatedBy
		FETCH FROM assigneeCursor INTO @nextAssigned
	END	

	CLOSE assigneeCursor
	DEALLOCATE assigneeCursor

	SET @errorCode = @@ERROR

	IF @errorCode = 0
	BEGIN
		SELECT @scheduleID = ScheduleID 
		FROM QCheck_ChecklistInstances
		WHERE [ID] = @NewInstanceID

		UPDATE QCheck_Schedule
		SET dueTime = @DueTime
		WHERE ID = @scheduleID

		SET @errorCode = @@ERROR
	END
	ELSE
		SET @errorMsg = 'QCheck_CreateSimple_part1 ' + cast(@ChecklistID as varchar) + ', ' + @TaskName + ', ' + cast(@DueDate as varchar) +
			', ' + @CreatedBy + ', ' + @TaskType + ', assignedTo = ' + @assignedTo

	IF @errorCode = 0 
	BEGIN
		UPDATE QCheck_ActiveChecklists
		SET 
			DueTime = @DueDate,
			ReminderDate = @SoftDue
		WHERE ID = @NewActiveID

		SET @errorCode = @@ERROR
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_ActiveChecklists SET DueTime = ' + CONVERT(varchar(10),getdate(),101) + ' 10:00PM WHERE ID = ' + cast(@NewActiveID AS varchar)

	IF @errorCode = 0
	BEGIN
		UPDATE QCheck_Alerts
		SET AlertTime = 17
		WHERE InstanceID = @NewInstanceID

		SET @errorCode = @@ERROR
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_Alerts SET AlertTime = 17 WHERE InstanceID = ' + cast(@NewInstanceID as varchar)

	IF @errorCode = 0
	BEGIN
		UPDATE QCheck_ChecklistManagers
		SET IsDeleted = 1 
		WHERE ChecklistID = @ChecklistID
			AND ManagerGroupID <> @controlledBy
		
		SET @errorCode = @@ERROR
		IF @errorCode = 0
		BEGIN
			UPDATE QCheck_ChecklistManagers
			SET IsDeleted = 0 
			WHERE ChecklistID = @ChecklistID
				AND ManagerGroupID = @controlledBy

			IF @@ROWCOUNT = 0
			BEGIN
				INSERT INTO QCheck_ChecklistManagers (ManagerGroupID, ChecklistID, IsDeleted, CreateDate)
				VALUES (@controlledBy, @ChecklistID, 0, GETDATE())
			END
		END
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_ChecklistManagers SET ManagerGroupID = ' + CONVERT(VARCHAR(10), @assignedTo) + ' WHERE ChecklistID = (SELECT ChecklistID FROM QCheck_ChecklistInstances WHERE ID = ' + CAST(@NewInstanceID AS varchar) + ')'
		
	IF @errorCode <> 0
	BEGIN
		DECLARE @msg varchar(5000)
		SET @msg = 'Error Number ' + cast(@errorCode AS varchar) + '; Error Msg: ' + @errorMsg
		EXEC XPSendEmail
		    @FROM       = 'sqlmail@acmewidget.com',
		    @FROM_NAME  = 'SQLMail',
		    @TO         = 'developers@acmewidget.com',
		    @subject    = 'TaxQ QProcess Task Error',
		    @message    = @msg,
		    @type       = 'text/html',
		    @server     = 'SMTPGATEWAY'
	END