USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_CompleteChecklist]    Script Date: 10/4/2024 8:16:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- This stored procedure will mark a checklist as Complete
-- ID is the checklist ID
-- if all items are not marked as complete, then it will not be completed
-- and a 0 will be returned

CREATE OR ALTER PROCEDURE [dbo].[QCheck_CompleteChecklist] (
	@ID INT,
	@CompletedBy int,
	@IsNA bit = 0,
	@NAReason varchar(max) = '',
	@isComplete bit output,
	@UpcomingDueTimeID INT = -1 OUTPUT,
	@NewActiveChecklistID INT = -1 OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @numChecks int,
			@numDone int,
			@numLeft int,
			@AssignedToChecklist INT,
			@ControlsChecklist INT, 
			@AlreadyComplete BIT = 0,
			@recordIds AS RecordId
			
	SET @AssignedToChecklist = 0
	SET @ControlsChecklist = 0
	
	SELECT 
		@AssignedToChecklist = gm.UserID,
		@AlreadyComplete = case when ac.CompletedDate is null then 0 else 1 end
	FROM
		QCheck_ActiveChecklists ac
		INNER JOIN QCheck_Assignments a
			ON a.InstanceID = ac.InstanceID
		INNER JOIN QCheck_Groups g
			ON g.ID = a.GroupId
		INNER JOIN QCheck_GroupMembership gm
			ON gm.GroupID = g.ID
			AND gm.UserID = @CompletedBy
			AND ac.ID = @ID
	
	SELECT
		@ControlsChecklist = gm.UserID
	FROM
		QCheck_ActiveChecklists ac
		INNER JOIN QCheck_ChecklistInstances ci
			ON ac.InstanceID = ci.ID
		INNER JOIN QCheck_Checklists c
			ON ci.ChecklistID = c.ID
		INNER JOIN QCheck_ChecklistManagers cm
			ON c.ID = cm.ChecklistID
			AND cm.IsDeleted = 0
		INNER JOIN QCheck_Groups g
			ON cm.ManagerGroupID = g.ID
		INNER JOIN QCheck_GroupMembership gm
			ON g.ID = gm.GroupID
			AND gm.UserID = @CompletedBy
			AND ac.ID = @ID
	
	SET @isComplete = 0

	--find the number of checks that must be completed
	SELECT 
		@numChecks = count(d.[ID]) 
	FROM
		QCheck_ActiveChecklists a
		INNER JOIN QCheck_ChecklistInstances b
			ON a.InstanceID = b.[ID]
		INNER JOIN QCheck_Checklists c
			ON b.ChecklistID = c.[ID]
		INNER JOIN QCheck_Items d
			ON d.ChecklistID = c.ID
	WHERE 
		a.[ID] = @ID
		AND d.ItemTypeID = 1
		AND d.IsDeleted = 0

	--find the number of checks that are done
	SELECT 
		@numDone = count(d.[ID]) 
	FROM
		QCheck_ActiveChecklists a
		INNER JOIN QCheck_ChecklistInstances b
			ON a.InstanceID = b.[ID]
		INNER JOIN QCheck_Checklists c
			ON b.ChecklistID = c.[ID]
		INNER JOIN QCheck_Items d
			ON d.ChecklistID = c.ID
		INNER JOIN QCheck_ActiveItems e
			ON d.[ID] = e.ChecklistItemID AND e.ActiveChecklistID = a.[ID]
	WHERE 
		a.[ID] = @ID
		AND d.ItemTypeID = 1
		AND d.IsDeleted = 0
		AND e.CompletedDate is not null

	--num left = total - done
	SET @numLeft = @numChecks - @numDone

	-- Mark individual checklist items complete. Assignees can mark complete if there is one step
	-- to the checklist or if marking N/A. 
	-- Per GPR 2/5/2014, controllers that aren't assignees can mark multiple step checklists complete
	IF (@numChecks = 1 and @numLeft = 1) OR (@ControlsChecklist = 1 AND @AssignedToChecklist = 0) OR (@IsNA = 1) OR (@CompletedBy = 0)
	BEGIN
		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ID 
			FROM QCheck_ActiveItems
			WHERE ActiveChecklistID = @ID AND CompletedDate IS NULL

		EXEC dbo.Audit_Set @CompletedBy, @recordIds, 'ActiveItem', 3

		UPDATE 
			QCheck_ActiveItems
		SET 
			Completedby = @CompletedBy, 
			CompletedDate = getdate(),
			[Text] = CASE WHEN @IsNA = 1 THEN 'N/A' ELSE '' END
		WHERE 
			ActiveChecklistID = @ID
			AND CompletedDate IS NULL
		
		SELECT 
			ActiveChecklistID = @ID, 
			ChecklistItemID = i.ID, 
			[Text] = CASE WHEN @IsNA = 1 THEN 'N/A' ELSE '' END, 
			CompletedDate = GETDATE(), 
			CompletedBy = @CompletedBy
		INTO #tmp
		FROM 
			QCheck_ActiveChecklists ac
			INNER JOIN QCheck_ChecklistInstances ci
				ON ac.InstanceID = ci.ID
			INNER JOIN QCheck_Checklists c
				ON ci.ChecklistID = c.ID
			INNER JOIN QCheck_Items i
				ON i.ChecklistId = c.ID
				AND i.ItemTypeID = 1
				AND i.IsDeleted = 0
			LEFT OUTER JOIN QCheck_ActiveItems ai
				ON ai.ActiveChecklistID = @ID
				AND ai.ChecklistItemID = i.ID
		WHERE 
			ac.ID = @ID
			AND ai.ID IS NULL

		INSERT INTO QCheck_ActiveItems
			SELECT * FROM #tmp

		IF @@ROWCOUNT > 0 BEGIN
			DELETE @recordIds
			INSERT INTO @recordIds
				SELECT DISTINCT ID
				FROM dbo.QCheck_ActiveItems a
				INNER JOIN #tmp b 
					ON b.ActiveChecklistID = a.ActiveChecklistID 
					AND b.ChecklistItemID = a.ChecklistItemID

			EXEC dbo.Audit_Set @CompletedBy, @recordIds, 'ActiveItem', 1
		END
	END
	-- if it is zero, then update the active checklist
	If @numLeft <= 0 OR (@numChecks = 1 and @numLeft = 1) OR (@ControlsChecklist = 1 AND @AssignedToChecklist = 0) OR (@IsNA = 1) OR (@CompletedBy = 0)
	BEGIN
		DELETE @recordIds
		INSERT INTO @recordIds
			SELECT DISTINCT ID 
			FROM QCheck_ActiveChecklists
			WHERE [ID] = @ID AND CompletedDate IS NULL

		EXEC dbo.Audit_Set @CompletedBy, @recordIds, 'ActiveChecklist', 3

		UPDATE QCheck_ActiveChecklists
		SET 
			CompletedBy = @CompletedBy,
			CompletedDate = getDate(),
			IsNA = @IsNA,
			NAReason = @NAReason
		WHERE 
			[ID] = @ID
			AND CompletedDate is null

		SET @isComplete = 1

		if @AlreadyComplete = 0
		BEGIN
			EXEC QCheck_ActiveInstanceAlert @ID, 'Complete'

			IF @ID in (select ac.id 
					from qcheck_activechecklists ac
						inner join qcheck_checklistinstances ci
							on ci.id = ac.InstanceID
						inner join QCheck_CompletionTriggers ct
							on ct.checklistid = ci.ChecklistID
					where ct.isActive = 1)
			BEGIN
				--process any triggered sp that need to be run
				DECLARE @sp varchar(255)
				DECLARE CompletionTriggers_CURS CURSOR FOR 
					select sp 
					from qcheck_activechecklists ac
					inner join qcheck_checklistinstances ci
						on ci.id = ac.InstanceID
					inner join QCheck_CompletionTriggers ct
						on ct.checklistid = ci.ChecklistID
					where ac.ID = @ID and ct.isActive = 1
				
				Open CompletionTriggers_CURS				
				FETCH NEXT FROM CompletionTriggers_CURS INTO @sp
				
				WHILE @@FETCH_STATUS = 0 
				BEGIN

					if @sp = 'util_CT_GuardCameraCheck'
					begin
						exec [util_CT_GuardCameraCheck] @ID
					end

					FETCH NEXT FROM CompletionTriggers_CURS INTO @sp
				END

				CLOSE CompletionTriggers_CURS
				DEALLOCATE CompletionTriggers_CURS
				
			END
		END	

		EXEC QCheck_ActivateFutureInstancesAfterCompleted @ID, @UpcomingDueTimeID OUTPUT, @NewActiveChecklistID OUTPUT
				
		--If this task is in any priority lists, and it's recurring, we need to add the new copy to the lists in its place
		if Exists(select 1 from Priorities_ListItems 
			where ActiveChecklistID = @ID)
			AND @NewActiveChecklistID IS NOT NULL
		Begin

			DECLARE @ListID int = 0, @Priority int = 0, @PriUserID int = 0 

			DECLARE PriorityLists_CURS CURSOR FOR 
				SELECT ListID, UserID, Priority 
				FROM Priorities_ListItems li
				JOIN Priorities_Lists l 
					ON l.ID = li.ListID
				WHERE li.ActiveChecklistID = @ID
				
			OPEN PriorityLists_CURS				
			FETCH NEXT FROM PriorityLists_CURS INTO @ListID, @PriUserID, @Priority
				
			WHILE @@FETCH_STATUS = 0 
			BEGIN

				exec PriorityList_AddTask 
					@UserID=@PriUserID, 
					@ListID = @ListID, 
					@ActiveChecklistID=@NewActiveChecklistID, 
					@Priority=@Priority			
					
				FETCH NEXT FROM PriorityLists_CURS INTO @ListID, @PriUserID, @Priority
			END

			CLOSE PriorityLists_CURS
			DEALLOCATE PriorityLists_CURS
		END	
	END

	SET NOCOUNT OFF
END
