USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[API_IsAdmin]    Script Date: 9/17/2024 9:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[API_RevokeApiKey]
@KeyID UNIQUEiDENTIFIER 
AS
BEGIN
	UPDATE  QCheck_APIKeyStore
	SET IsRevoked = 1
	WHERE ID = @KeyID
	AND IsRevoked = 0
END 
