
GO
/****** Object:  StoredProcedure [dbo].[QCheck_CompleteTaskByTaskNameOrId]    Script Date: 10/4/2024 9:49:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- This stored procedure will mark a checklist as Complete
-- ID is the checklist ID
-- if all items are not marked as complete, then it will not be completed
-- and a 0 will be returned

CREATE OR ALTER PROCEDURE [dbo].[QCheck_CompleteTaskByTaskNameOrId] (
	@ActiveChecklistID INT = 0,
	@TaskName NVARCHAR(250) = NULL,
	@isComplete BIT OUTPUT
)
AS
BEGIN

	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;

	DECLARE @MultipleEntries INT
	DECLARE @TempActiveChecklistId INT
	DECLARE @TempTaskName NVARCHAR(250)

	DECLARE @UpcomingDuetimeId INT = -1
	DECLARE @NewActiveChecklistId INT = -1

	IF @ActiveChecklistID > 0 
	BEGIN
		SET	@TempActiveChecklistId = (SELECT ID FROM QCheck_ActiveCheckLists WHERE ID = @ActiveChecklistID AND CompletedDate IS NULL)

		IF @TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL AND @TaskName IS NOT NULL
		BEGIN
		
			SET @TempTaskName = (SELECT Name FROM QCheck_Checklists WHERE Name = @TaskName)

			IF @TempTaskName IS NULL
			BEGIN
				RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
				RETURN
			END

			SET @MultipleEntries = (SELECT COUNT(Name) FROM QCheck_Checklists
				WHERE IsDeleted = 0 AND Name = @TaskName)

			IF @MultipleEntries > 1
			BEGIN
				RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
				RETURN
			END

			SET @TempActiveChecklistId = (SELECT ac.ID FROM QCheck_ActiveChecklists ac
				INNER JOIN QCheck_ChecklistInstances ci
				ON ac.InstanceId = ci.ID
				INNER JOIN QCheck_Checklists c
				on ci.ChecklistID = c.ID
				WHERE c.IsDeleted = 0 AND ac.CompletedDate IS NULL AND c.Name = @TaskName)

			IF (@TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL)
			BEGIN
				RAISERROR('Task has already been completed', 16, 1, @AppName)
				RETURN
			END
			
			EXEC QCheck_CompleteChecklist @TempActiveChecklistId, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT
		
		END
		ELSE IF @TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL AND @TaskName IS NULL
			BEGIN
				RAISERROR('Provided ActiveChecklistId is not valid', 16, 1, @AppName)
				RETURN
			END
			
		EXEC QCheck_CompleteChecklist @ActiveChecklistID, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT

		END
	ELSE IF @TaskName IS NOT NULL
	BEGIN
		
		SET @TempTaskName = (SELECT Name FROM QCheck_Checklists WHERE Name = @TaskName)

		BEGIN
			RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
			RETURN
		END


		SET @MultipleEntries = (SELECT COUNT(Name) FROM QCheck_Checklists
			WHERE IsDeleted = 0 AND Name = @TaskName)

		IF @MultipleEntries > 1
		BEGIN
			RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
			RETURN
		END
		ELSE
		BEGIN

			SET @TempActiveChecklistId = (SELECT ac.ID FROM QCheck_ActiveChecklists ac
			INNER JOIN QCheck_ChecklistInstances ci
			ON ac.InstanceId = ci.ID
			INNER JOIN QCheck_Checklists c
			on ci.ChecklistID = c.ID
			WHERE c.IsDeleted = 0 AND ac.CompletedDate IS NULL AND c.Name = @TaskName)

			IF (@TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL)
			BEGIN
			RAISERROR('Task has already been completed', 16, 1, @AppName)
			RETURN
		END
			EXEC QCheck_CompleteChecklist @TempActiveChecklistId, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT
		END
	END

END