USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetStatusOfTasksByTaskOrUser]    Script Date: 10/8/2024 8:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[QStatus_GetStatusOfTasksByTaskOrUser] (
	@ActiveChecklistId INT = 0,
	@TaskName NVARCHAR(250) = NULL,
	@UserName NVARCHAR(30) = NULL
)
AS
BEGIN
	
	DECLARE @TempActiveChecklistId INT
	DECLARE @TempTaskName NVARCHAR(250)
	DECLARE @TempUserName NVARCHAR(30)

	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;

	IF @ActiveChecklistId > 0
		BEGIN
		SET	@TempActiveChecklistId = (SELECT ID FROM QCheck_ActiveCheckLists WHERE ID = @ActiveChecklistID)
		IF @TempActiveChecklistId = 0
		BEGIN
			RAISERROR('Provided ActiveChecklistId is not valid', 16, 1, @AppName)
			RETURN
		END

			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE ac.ID = @ActiveChecklistId 
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END

	ELSE IF @TaskName IS NOT NULL
		BEGIN

		SET	@TempTaskName = (SELECT Name FROM QCheck_CheckLists WHERE Name = @TaskName AND IsDeleted = 0)
		IF @TempTaskName IS NULL
		BEGIN
			RAISERROR('Provided Task Name is not valid', 16, 1, @AppName)
			RETURN
		END

			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE c.Name = @TaskName 
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END

	ELSE IF @UserName IS NOT NULL
		BEGIN

		SET	@TempUserName = (SELECT ID FROM QCheck_Groups WHERE Name = @UserName)
		IF @TempUserName IS NULL
		BEGIN
			RAISERROR('Provided User Name is not valid', 16, 1, @AppName)
			RETURN
		END
			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE g.Name = @UserName
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END


END

-- Work Space Test case

--SELECT TOP (500)
--c.Name AS TaskName, 
--g.Name AS Assignees,
--con.controllers AS Controllers,
--ac.DueTime AS Deadline, 
--CASE WHEN ac.CompletedDate IS NULL THEN 'Open' ELSE 'Complete' END AS Status
--	FROM QCheck_Checklists c
--	INNER JOIN QCheck_ChecklistInstances ci
--	ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
--	INNER JOIN QCheck_ActiveChecklists ac
--	ON ci.ID = ac.InstanceID
--	INNER JOIN QCheck_Assignments a
--	ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
--	INNER JOIN QCheck_GroupMembership gm
--	ON a.GroupID = gm.GroupID
--	INNER JOIN QCheck_Groups g
--	ON gm.GroupID = g.ID
--	INNER JOIN QCheck_Users u
--	ON g.Owner = u.ID AND u.IsDeleted = 0
--	INNER JOIN QCheck_ChecklistControllersList con
--	ON c.ID = con.checklistid
--WHERE g.Name = 'Antonio Flores'
--GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate

--SELECT TOP (10) * FROM QCheck_ChecklistInstances
--SELECT TOP (10) * FROM QCheck_ActiveCheckLists
--SELECT TOP (10) * FROM QCheck_ActiveAssignments
--SELECT TOP (10) * FROM QCheck_Assignments
--SELECT TOP (10) * FROM QCheck_GroupMembership
--SELECT TOP (10) * FROM QCheck_Users

--EXEC QStatus_GetStatusOfTasksByTaskOrUser 0, 'This is a test system task 2', null
