USE [QTasks]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Util_AddJwtKey](
	@Key NVARCHAR(100),
	@Algorithm NVARCHAR(100),
	@IssuedDate DATETIME,
	@ExpiredDate DATETIME,
	@Version NVARCHAR(100)
)AS

BEGIN

	INSERT INTO QCheck_JwtStore
	VALUES (@Key, @Algorithm, @IssuedDate, @ExpiredDate, @Version)

END


