USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_Approval_NewDeadline]    Script Date: 1/2/2025 8:29:56 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER  PROCEDURE [dbo].[QCheck_Approval_NewDeadline] (
	@ActiveChecklistID INT,
	@NewDueTime DATETIME,
	@UserID INT,
	@Comment VARCHAR(1000) = '',
	@TimeZone NVARCHAR(255) = NULL
) AS

BEGIN

	-- Get app configuration
	DECLARE @AppURL VARCHAR(50), @ImagesURL VARCHAR(50), @ExternalURL VARCHAR(50), @BaseDomain VARCHAR(50), @FromAddress VARCHAR(50), @AppName VARCHAR(50), @GradingAddress VARCHAR(50), @AutomationAddress VARCHAR(50), @DeveloperAddress VARCHAR(50), @ITAddress VARCHAR(50), @MailServer VARCHAR(50)
	SELECT @AppURL = AppURL, @ImagesURL = ImagesURL, @ExternalURL = ExternalURL, @BaseDomain = BaseDomain, @FromAddress = FromAddress, @Appname = AppName, @GradingAddress = GradingAddress, @AutomationAddress = AutomationAddress, @DeveloperAddress = DeveloperAddress, @ITAddress = ITAddress, @MailServer = MailServer FROM QCheck_AppSettings WHERE ID = 1

	DECLARE @ChangeID INT,
		@FullName VARCHAR(50),
		@TaskName VARCHAR(500),
		@CurrentDueTime DATETIME,
		@i INT,
		@count INT,
		@RequestorEmail VARCHAR(500),
		@MailFrom VARCHAR(500), 
		@MailCC VARCHAR(1000),
		@MailTo VARCHAR(5000), 
		@MailSubject VARCHAR(1000),
		@MailBody VARCHAR(5000),
		@AppPath VARCHAR(50),
		@ChecklistID INT

	if(@timezone IS NULL)
		SELECT @TimeZone = ISNULL(TimeZoneOverride, LastTimeZone) FROM QCheck_Users WHERE ID = @UserID
	
	-- Get the path 
	SELECT @AppPath = AppURL 
	FROM QCheck_AppSettings S
	INNER JOIN QCheck_Users U
		ON S.[ID] = U.App
	WHERE U.[ID] = @UserID

	-- Create a new change request
	EXEC QCheck_Approval_NewChangeRequest @UserID, @Comment, @ChangeID OUTPUT
	
	-- Add the change to ActiveChecklists
	INSERT INTO QCheck_Approval_ActiveChecklists (
		ChangeRequestID,
		ActiveChecklistID,
		InstanceID,
		DueTime,
		OrigDueTime,
		ReminderDate,
		CompletedDate,
		HasNaggedDue,
		CompletedBy
	)
		SELECT 
			@ChangeID,
			[ID],
			InstanceID,
			@NewDueTime,
			OrigDueTime,
			ReminderDate,
			CompletedDate,
			HasNaggedDue,
			CompletedBy
		FROM
			QCheck_ActiveChecklists
		WHERE
			[ID] = @ActiveChecklistID

	-- Mark the change as ready for the supervisor
	UPDATE QCheck_Approval_ChangeRequests SET ReadyForSupervisor = 1 WHERE [ID] = @ChangeID

	-- Send e-mails requesting approval for the due date change
	SELECT @FullName = FullName, @RequestorEmail = Email FROM QCheck_Users WHERE [ID] = @UserID
	SET @MailFrom = '"' + @FullName + '"' + ' <' + @RequestorEmail + '>'
	
	SELECT 
		@ChecklistID = c.[ID],
		@TaskName = c.[Name],
		@CurrentDueTime = ac.DueTime
	FROM
		QCheck_Checklists c
		INNER JOIN QCheck_ChecklistInstances ci
			ON ci.ChecklistID = c.[ID]
		INNER JOIN QCheck_ActiveChecklists ac
			ON ac.InstanceID = ci.[ID]
	WHERE
		ac.[ID] = @ActiveChecklistID	
	
	SET @MailSubject = 'Extension request - ' + ISNULL(@FullName, '') + ' - "' + ISNULL(@TaskName, '') + '"'

	declare @extensioncount int = 0
	select @extensioncount = count(a.ID) 
	from QCheck_Approval_ActiveChecklists a
		inner join QCheck_Approval_ChangeRequests r
		on a.ChangeRequestID = r.id
		and (r.approved = 1 or r.id = @ChangeID)-- count prior approved + this one
		and a.ActivechecklistID = @ActiveChecklistID

	declare @OrigDueTime datetime
	select @OrigDueTime = OrigDueTime from qcheck_activechecklists
	where ID = @ActiveChecklistID

	declare @days int = datediff(day, @OrigDueTime, @NewDueTime)

	declare @extensionmessage varchar(1000) = ''


	if @days > 30 or @extensioncount > 3
	begin
		select @extensionmessage = '<span style="color:red;font-weight:bold;">'
		select @MailSubject = '*** LONG TERM EXTENSION ***' + @MailSubject
		if @days > 30 
		begin
			select @extensionmessage = @extensionmessage + '*** This task has been extended more than 30 days past its original deadline! ***<br>'
		end
		if @extensioncount > 3
		begin
			select @extensionmessage = @extensionmessage + '*** This task has been extended more than 3 times! ***'
		end
		select @extensionmessage = @extensionmessage + '</span><br><br>'
	end

	SET @MailBody = @extensionmessage + '<table border="0"><tr><td>Current Due: </td><td><b>' + ISNULL(CONVERT(VARCHAR(20),  dbo.ConvertTimeFromUTC(@CurrentDueTime, @Timezone)), '') + '</b></td></tr>' +
			'<tr><td>Requested Due: </td><td><b>' + ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(@NewDueTime, @Timezone)), '') + 
			--'</b> ('+@TimeZone+')</td></tr></table><br/><br/>' +
			'<table border="0"><tr><td>Comment: <b>' + ISNULL(@Comment, '') + '</b><br/><br/>' +
			'To approve this new due date, reply to this e-mail with "Y".  To reject the change, reply to this e-mail with "N".  The "Y" or "N" must be on the first line of the reply.  To set a different due date, click <a href="' + ISNULL(@AppPath, '') + '/ManageSingleChecklist.aspx?type=1&id=' + ISNULL(CONVERT(VARCHAR(20), @ActiveChecklistID), '') + '&ChangeID=' + ISNULL(CONVERT(VARCHAR(20), @ChangeID), '') + '">here</a>.<br/><br/>If you want to include a comment, copy ' + ISNULL(@Fullname, '') + ' on the reply and put your comment below the first line.</td></tr></table><br/><br/>' +
			'<span style="color: white;">ActiveChecklistID:' + ISNULL(CONVERT(VARCHAR(20), @ActiveChecklistID), '') + '|NewDueTime:' + ISNULL(CONVERT(VARCHAR(20), @NewDueTime), '') + '|ChangeID:' + ISNULL(CONVERT(VARCHAR(20), @ChangeID), '') + '|[ID1]</span>'
	
	SET @MailBody = @MailBody + '<br><br><br><h3>Deadline history for this task</h3>'
	SET @MailBody = @MailBody + '<table border="1" cellpadding="5" cellspacing="0"><tr><th>&nbsp;</th><th>Deadline</th><th>Comment</th><th>Requested By</th><th>Requested Date</th></tr>'

	SELECT @MailBody = @MailBody + 
		'<tr>' +
		'<td><b>Requested Change</b></td>' +
		'<td>' + ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(aac.DueTime, @TimeZone)), '&nbsp;') + '</td>' +
		'<td>' + ISNULL(cr.Comment, '&nbsp;') + '</td>' +
		'<td>' + ISNULL(u.FullName, '&nbsp;') + '</td>' +
		'<td>' + ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(cr.RequestDate, @TimeZone)), '&nbsp;') + '</td>' +
		'</tr>'
	FROM
		QCheck_Approval_ActiveChecklists aac
		INNER JOIN QCheck_Approval_ChangeRequests cr
			ON aac.ChangeRequestID = cr.ID
		INNER JOIN QCheck_Users u
			ON cr.RequestingUser = u.ID
	WHERE
		aac.ActiveChecklistID = @ActiveChecklistID
		AND cr.ID <> @ChangeID
		AND cr.Approved = 1
	ORDER BY
		cr.ApprovedDate DESC
	
	SELECT @MailBody = @MailBody + '<tr><td><b>Original Deadline</b></td><td>' + ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(OrigDueTime, @TimeZone)), '&nbsp;') + '</td><td colspan="3">&nbsp;</td></tr>'
	FROM QCheck_ActiveChecklists
	WHERE ID = @ActiveChecklistID
	
	SET @MailBody = @MailBody + '</table>'
	
	SELECT @MailTo = dbo.[QCheck_ChecklistExtensionControllerEmails](@ChecklistID, DEFAULT)

	EXEC dbo.xp_smtp_sendmail 
		@from = @RequestorEmail, 
		@From_Name = @FullName,
		@replyto = @AutomationAddress,
		@to = @MailTo, 
		@cc = @RequestorEmail,
		@subject = @MailSubject,
		@message = @MailBody, 
		@type = 'text/html', 
		@server = @MailServer

	SET @i = @i + 1

END
