
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetStatusOfTasksByTaskOrUser]    Script Date: 12/30/2024 2:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[QStatus_GetStatusOfTasksByStatusReport] (
	@ReportName NVARCHAR(255)
)
AS
BEGIN

	DECLARE @TempReportId INT = 0
	DECLARE @AppName NVARCHAR(50)

	SELECT @AppName = AppName from QCheck_AppSettings;

		SET	@TempReportId = (SELECT ID FROM QStatus_Report WHERE Name = @ReportName AND IsDeleted = 0)
		IF @TempReportId = 0
		BEGIN
			RAISERROR('Specified status report is not available.', 16, 1, @AppName)
			RETURN
		END

			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con ON c.ID = con.checklistid
				INNER JOIN QStatus_InstanceTaskType itt ON itt.InstanceID = ci.ID
				INNER JOIN QStatus_TaskTypes tt ON tt.ID = itt.TaskType
				INNER JOIN QStatus_Report r ON r.ID = tt.ReportID
			WHERE r.ID = @TempReportId
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate

END

