/****** Object:  StoredProcedure [dbo].[PriorityListSet_GetComments]    Script Date: 12/6/2024 11:14:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROC [dbo].[PriorityListSet_GetComments_UTC]
	@SetID int,
	@UserID int,-- = 766,
	@StartTime datetime,-- = GETUTCDATE(),
	@AllUsers bit = 0
AS
BEGIN
	SET NOCOUNT ON

	select 
		l.userid, 
		l.ID ListID,
		li.activechecklistid, 
		--'[' + c.initials + '] '+ case when c.comments like '%href%' then c.comments else replace(c.comments, '''', '''''') end as comments,--commented by venkat 11/02/2017
		'[' + c.initials + '] '+ c.comments as comments,
		li.id,
		c.id as CommentId,
		c.DisplayOrder
	into #result
	from Priorities_ListSetLists lsl
		JOIN Priorities_Lists l		
			on l.ID = lsl.ListID			
		JOIN Priorities_ListItems li
			on li.ListID = l.ID
		JOIN QCheck_Users u
			ON u.ID = l.UserID
		join qstatus_comments c
			on c.foreignkeyid = li.activechecklistid
			and c.specialtask = 0
			and (c.userid = @userid OR @AllUsers = 1)
			and c.commentdt > @starttime
	where lsl.setid = @setid
		and len(c.comments) > 0
	order by l.userid, c.displayorder

	SELECT UserID, ListID, activechecklistid, comments, id
	FROM #result
	ORDER BY UserID, DisplayOrder
END

/****** Object:  StoredProcedure [dbo].[PriorityList_GetLastComment]    Script Date: 12/6/2024 11:15:06 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[PriorityList_GetLastComment_UTC] 
@UserID int,
@taskID int,
@StartTime datetime
AS
BEGIN

	select comments from QStatus_Comments where ForeignKeyID=@taskID and UserID=@UserID and CommentDt>@StartTime
	 and ID=(select max(ID) from QStatus_Comments where ForeignKeyID=@taskID and UserID=@UserID and CommentDt>@StartTime)
END
GO


