USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_CreateTaskThroughChatbot]    Script Date: 12/11/2024 10:42:10 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER   PROCEDURE [dbo].[QCheck_CreateTaskThroughChatbot]
(
	@TaskName NVARCHAR(500),
	@MainController NVARCHAR(100),
	@Controllers NVARCHAR(MAX) = '',
	@Assignees NVARCHAR(MAX),
	@DueDate DATETIME,
	@LocalDueDate DATETIME,
	@Location NVARCHAR(50),
	@DueTime INT = 0,
	@SoftDueDate DATETIME = NULL,
	@Items NVARCHAR(MAX) = '',
	@IsRecurring BIT = 0,
	@FreqType INT = 0,
	@FreqRecurrance INT = 0,
	@StatusReportName NVARCHAR(250) = NULL,
	@StatusReportSection NVARCHAR(250) = NULL,
	@Activate BIT = 1,
	@IsReminder BIT = 0,
	@ReminderDate DATETIME = NULL,
	@AddToPriorityList BIT = 0,
	@NewInstanceId INT OUTPUT
)
AS

BEGIN

	DECLARE @StatusReportId INT
	DECLARE @TaskTypeId INT = NULL
	DECLARE @RowsUpdated INT
	DECLARE @NewChecklistId INT
	DECLARE @NewActiveId INT
	DECLARE @nextIteration INT
	DECLARE @nextItemIteration NVARCHAR(MAX)
	DECLARE @UniqueTaskName NVARCHAR(MAX)
	DECLARE @AppName NVARCHAR(50);
 
SELECT @AppName = AppName from QCheck_AppSettings; 


--Basic validation here

IF @StatusReportName IS NOT NULL 
BEGIN
	SELECT @StatusReportId = id from QStatus_Report where Name = @StatusReportName;

	 IF @StatusReportId IS NULL
	BEGIN
		RAISERROR('The specified status report name does not match any status report in %s', 16, 1, @AppName)
		RETURN
	END
END

IF @StatusReportSection IS NOT NULL 
BEGIN
	SELECT @TaskTypeId = tt.ID from QStatus_TaskTypes tt
		WHERE tt.Description = @StatusReportSection
		AND tt.ReportID = @StatusReportId;

	 IF @TaskTypeId IS NULL
	BEGIN
		RAISERROR('The specified status report section does not match any section in %s', 16, 1, @AppName)
		RETURN
	END
END

DECLARE @OwnerGroupId INT = (SELECT g.ID
	FROM QCheck_Groups g
	WHERE  g.Name = @MainController)

DECLARE @UserId INT = (SELECT u.ID
	FROM QCheck_Users u 
	WHERE  u.FullName = @MainController)

EXEC QCheck_DuplicateNameCheck @Name = @TaskName, @UserID = 0, @OKToUse = @UniqueTaskName OUTPUT

	if @UniqueTaskName = 0
	BEGIN
		RAISERROR('Task with the provided name already exists and is already assigned to selected group', 16, 1)
		RETURN
	END

--This table will be passed around to hold group IDs for either controllers or assignees

CREATE TABLE #GroupIDs(
	ID INT
);

CREATE TABLE #Controllers(
	Name NVARCHAR(30)
);

INSERT INTO #Controllers (Name) SELECT UserName.c from dbo.Util_fn_List_To_Table(@Controllers, ',') as UserName;

CREATE TABLE #Assignees(
	Name NVARCHAR(30)
);

INSERT INTO #Assignees (Name) SELECT UserName.c from dbo.Util_fn_List_To_Table(@Assignees, ',') as UserName;

	CREATE TABLE #Items(
	ItemText NVARCHAR(200)
);

INSERT INTO #Items (ItemText) SELECT ItemText.c from dbo.Util_fn_List_To_Table(@Items, ',') as ItemText


EXEC QCheck_CreateSimple_part1 @NewChecklistId OUTPUT, @TaskName, 1, @DueDate, @UserId, @TaskTypeId, 
								   @FreqType, @RowsUpdated, @NewInstanceId OUTPUT, @NewActiveId OUTPUT, @OwnerGroupId, 
								   @Activate, @IsReminder, @ReminderDate, @AddToPriorityList, @DueTime, @Location 


--First we add controllers

INSERT INTO #GroupIDs (ID) SELECT DISTINCT ID
	FROM QCheck_Groups
	WHERE Name IN (SELECT Name fROM #Controllers)

DECLARE groupCursor CURSOR FOR SELECT DISTINCT ID FROM #GroupIDs

	OPEN groupCursor
	FETCH FROM groupCursor INTO @nextIteration

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC QCheck_AddManager @nextIteration, @NewChecklistId
		FETCH FROM groupCursor INTO @nextIteration
	END	

	CLOSE groupCursor
	DEALLOCATE groupCursor
	SET @nextIteration = 0


--Second we add more assignees

INSERT INTO #GroupIDs (ID) SELECT DISTINCT ID
	FROM QCheck_Groups
	WHERE Name IN (SELECT Name fROM #Assignees)

	DECLARE assigneeCursor CURSOR FOR SELECT DISTINCT ID FROM #GroupIDs

	OPEN assigneeCursor
	FETCH FROM assigneeCursor INTO @nextIteration

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC QCheck_AddAssignedTo @NewInstanceID, @nextIteration, 0
		FETCH FROM assigneeCursor INTO @nextIteration
	END	

	CLOSE assigneeCursor
	DEALLOCATE assigneeCursor
	SET @nextIteration = 0

	--Finally we add all items

	DECLARE itemsCursor CURSOR FOR SELECT DISTINCT ItemText FROM #Items

	OPEN itemsCursor
	FETCH FROM itemsCursor INTO @nextItemIteration

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC QCheck_AddItem @NewChecklistId,0,1,@nextItemIteration, ' ', 0
		FETCH FROM itemsCursor INTO @nextItemIteration
	END	

	CLOSE itemsCursor
	DEALLOCATE itemsCursor
	SET @nextItemIteration = ''

	EXEC QCheck_UpdateSchedule_part1 
			@InstanceID = @NewInstanceId, 
			@firstDueDate = @LocalDueDate,
			@freqType = @FreqType,
			@freqRecurrance = 1,
			@freqInterval = @FreqRecurrance,
			@dueTime = @DueTime,
			@PrevFreqType = 0,
			@RowsUpdated = 0,
			@Activate = @Activate,
			@TimeZone = @Location

	EXEC QCheck_UpdateSchedule_Part2 @NewInstanceId, @FreqType, @Activate
    
END