USE [PFSProcess]
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetCommentsAllHistory]    Script Date: 4/14/2025 7:45:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[QStatus_GetCommentsAllHistory]
       @ChecklistID int,
       @UserId int
AS

BEGIN

 SET NOCOUNT ON

	SELECT DISTINCT 
		C.*,
		NULL AS archivedt,
		CASE 
			WHEN gr.USERID IS NOT NULL THEN 0 -- red
			ELSE 
				CASE 
					WHEN supcolor.colorNum IS NOT NULL THEN supcolor.colorNum
					ELSE 
						CASE 
							WHEN sup.interestedParty = 0 THEN 3 -- green
							ELSE 50 -- purple
						END
				END
		END AS colornum,
		u.FullName,
		2147483647 AS CommentSort
	FROM 
		QStatus_Comments_All C
		INNER JOIN QCheck_ActiveChecklists a 
			ON c.ForeignKeyID = a.ID
		INNER JOIN QCheck_ChecklistInstances b 
			ON a.InstanceID = b.ID AND b.IsDeleted = 0
		INNER JOIN QCheck_Checklists ch 
			ON b.checklistID = ch.ID AND ch.IsDeleted = 0
	INNER JOIN 
		QCheck_Users u ON u.ID = C.UserID
	LEFT OUTER JOIN (
		SELECT 
			gm.UserID,
			s.InterestedParty
		FROM 
			QStatus_SUPERVISORS s
		INNER JOIN 
			QCheck_GroupMembership gm ON gm.GroupID = s.supervisorGroupID
		INNER JOIN 
			QCheck_Groups g ON g.ID = gm.GroupID
	) sup ON sup.UserID = C.UserID
	LEFT OUTER JOIN (
		SELECT 
			gm.UserID
		FROM 
			QStatus_GroupReport gr
		INNER JOIN 
			QCheck_GroupMembership gm ON gm.GroupID = gr.GroupID
		INNER JOIN 
			QCheck_Groups g ON g.ID = gm.GroupID
	) gr ON gr.UserID = C.UserID
	LEFT OUTER JOIN 
		QStatus_SupervisorColors supcolor ON supcolor.supervisorUserID = u.ID
		WHERE ch.ID = @ChecklistID
		ORDER BY ForeignKeyID,DisplayOrder
		--428859 @ChecklistID 
	--UNION ALL

	--SELECT DISTINCT 
	--    C.*,
	--    CASE 
	--        WHEN gr.USERID IS NOT NULL THEN 0 -- red
	--        ELSE 
	--            CASE 
	--                WHEN supcolor.colorNum IS NOT NULL THEN supcolor.colorNum
	--                ELSE 
	--                    CASE 
	--                        WHEN sup.interestedParty = 0 THEN 3 -- green
	--                        ELSE 50 -- purple
	--                    END
	--            END
	--    END AS colornum,
	--    u.FullName,
	--    C.ArchiveID AS CommentSort
	--FROM 
	--    QStatus_commentarchive C
	--	INNER JOIN CHECKLISTS a 
	--		ON C.ForeignKeyID = a.ID
	--	INNER JOIN QCheck_ChecklistInstances b 
	--		ON a.InstanceID = b.ID AND b.IsDeleted = 0
	--	INNER JOIN QCheck_Checklists ch 
	--		ON b.checklistID = ch.ID AND ch.IsDeleted = 0
	--INNER JOIN 
	--    QCheck_Users u ON u.ID = C.UserID 
	--LEFT OUTER JOIN (
	--    SELECT 
	--        gm.UserID,
	--        s.InterestedParty
	--    FROM 
	--        QStatus_SUPERVISORS s
	--    INNER JOIN 
	--        QCheck_GroupMembership gm ON gm.GroupID = s.supervisorGroupID
	--    INNER JOIN 
	--        QCheck_Groups g ON g.ID = gm.GroupID
	--) sup ON sup.UserID = C.UserID
	--LEFT OUTER JOIN (
	--    SELECT 
	--        gm.UserID
	--    FROM 
	--        QStatus_GroupReport gr
	--    INNER JOIN 
	--        QCheck_GroupMembership gm ON gm.GroupID = gr.GroupID
	--    INNER JOIN 
	--        QCheck_Groups g ON g.ID = gm.GroupID
	--) gr ON gr.UserID = C.UserID
	--LEFT OUTER JOIN 
	--    QStatus_SupervisorColors supcolor ON supcolor.supervisorUserID = u.ID
	--	WHERE ch.ID = 428859
	--ORDER BY 
	--    DisplayOrder,
	--	TabIn;


END

 

 

 

