USE [PFSProcess]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_GetActiveChecklistIdByChecklistId]    Script Date: 4/14/2025 1:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[QCheck_GetActiveChecklistIdByChecklistId]
    @ChecklistID INT,
    @ActiveChecklistID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 @ActiveChecklistID = a.ID
    FROM QCheck_ActiveChecklists a
    INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
    INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID AND c.IsDeleted = 0
    WHERE c.ID = @ChecklistID;

    IF @ActiveChecklistID IS NULL
        SET @ActiveChecklistID = 0;

    SELECT @ActiveChecklistID AS ActiveChecklistID;
END