/****** Object:  StoredProcedure [dbo].[QStatus_MyStatusSearch]    Script Date: 7/14/2025 2:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   proc [dbo].[QStatus_MyStatusSearch] 
	@criteria varchar(4000),-- can be blank
	@logicAndOr bit,		-- 1 = AND, 0 = OR, NULL = "advanced"
	@userId int,
	@reportId int,
	@includeTaskName bit = 1,
	@includeItemText bit = 1,
	@includeComment bit = 1,
	@includeArchive bit = 1,
	@fromDate datetime = null,
	@toDate datetime = null
AS
BEGIN
	--EXEC QStatus_MyStatusSearch @criteria = 'credence', @logicAndOr = 1, @userId = 74, @reportId = 10186

	SET NOCOUNT ON
	IF TRIM(ISNULL(@criteria, '')) = '' RETURN

	/*UPDATE dbo.QCheck_SearchHistory
	SET LastUpdated = GETUTCDATE()
	WHERE UserId = @userId AND Criteria = @criteria

	IF @@ROWCOUNT = 0 BEGIN
		INSERT INTO dbo.QCheck_SearchHistory (UserId, Criteria) VALUES (@userId, @criteria)
	END

	DELETE QCheck_SearchHistory 
	WHERE UserId = @userId
	AND @criteria like Criteria + '%'
	AND LEN(@criteria) > LEN(Criteria)
	AND LastUpdated > DATEADD(minute, -5,  GETUTCDATE())*/

	--DROP TABLE IF EXISTS #grp
	--DROP TABLE IF EXISTS #checklist
	--DROP TABLE IF EXISTS #checklistArchive
	DROP TABLE IF EXISTS #allChecklist
	DROP TABLE IF EXISTS #allowedChecklist
	DROP TABLE IF EXISTS #allowedChecklistArchive
	--DROP TABLE IF EXISTS #result
	--DROP TABLE IF EXISTS #resultArchive

	-- variable declaration
	CREATE TABLE #allChecklist (Id INT, ActiveChecklistID int null, Archive BIT, CommentDt datetime Null)
	CREATE TABLE #allowedChecklist (Id INT NOT NULL, ActiveChecklistId INT NOT NULL, DueTime datetime NOT NULL)
	CREATE TABLE #allowedChecklistArchive (Id INT NOT NULL, ActiveChecklistId INT NOT NULL, DueTime datetime NOT NULL)

	INSERT INTO #allowedChecklist
	SELECT DISTINCT
		ChecklistId = c.ID, ActiveChecklistId = ac.ID, ac.DueTime
	FROM 
		QStatus_TaskTypes tt
		INNER JOIN QStatus_ActiveChecklistTaskType actt
			ON actt.TaskType = tt.ID
		INNER JOIN QCheck_ActiveChecklists ac
			ON ac.ID = actt.ActiveChecklistID
		INNER JOIN qcheck_checklistinstances ci
			ON ci.ID = ac.InstanceID
		INNER JOIN qcheck_checklists c
			ON ci.ChecklistID = c.ID
	WHERE 1 = 1
		AND tt.ReportID = @reportId
		AND tt.IsDeleted = 0
		AND tt.NativeType = 0

	INSERT INTO #allowedChecklistArchive
	SELECT DISTINCT
		ChecklistId = c.ID, ActiveChecklistId = ac.ID, ac.DueTime
	FROM 
		QStatus_TaskTypes tt
		INNER JOIN QStatus_ActiveChecklistTaskType_All actt
			ON actt.TaskType = tt.ID
		INNER JOIN QCheck_ActiveChecklists_All ac
			ON ac.ID = actt.ActiveChecklistID
		INNER JOIN QCheck_ChecklistInstances_All ci
			ON ci.ID = ac.InstanceID
		INNER JOIN QCheck_Checklists_All c
			ON ci.ChecklistID = c.ID
	WHERE 1 = 1
		AND tt.ReportID = @reportId
		AND tt.NativeType = 0

	
	DECLARE @contain VARCHAR(max) = ''
	
	IF(@logicAndOr IS NULL)
	BEGIN
		DECLARE @i INT = 1, @j int, @k int, @isCrit bit = 0
		DECLARE @len INT = LEN(@criteria)
		DECLARE @c NCHAR(1), @d NCHAR(4)
		DECLARE @parts Table (part varchar(4000))

		WHILE @i <= @len
		BEGIN
			SET @c = SUBSTRING(@criteria, @i, 1);
			SET @isCrit = 1
			
			IF @c = ';' RETURN --guard clause for SQL injection
			ELSE IF @c = ' '
			BEGIN
				SET @i = @i+1		
				SET @isCrit = 0
			END
			ELSE IF @c IN ('(', ')')
			BEGIN
				INSERT INTO @parts VALUES (@c)
				SET @i = @i+1
				SET @isCrit = 0
			END
			ELSE IF @c = '"'
			BEGIN
				SET @j = CHARINDEX('"', @criteria, @i+1)
				IF @j < @i SET @j = @len+1
				INSERT INTO @parts VALUES (SUBSTRING(@criteria, @i+1, @j-@i-1))
				SET @i = @j+1		
				SET @isCrit = 0
			END
			ELSE IF @c = 'N'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 4);
				IF TRIM(@d) = 'NOT'
				BEGIN
					INSERT INTO @parts VALUES('NOT')
					SET @i = @i+4
				SET @isCrit = 0
				END
			END
			ELSE IF @c = 'A'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 4);
				IF TRIM(@d) = 'AND'
				BEGIN
					INSERT INTO @parts VALUES('AND')
					SET @i = @i+4
				SET @isCrit = 0
				END
			END
			ELSE IF @c = 'O'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 3);
				IF TRIM(@d) = 'OR'
				BEGIN
					INSERT INTO @parts VALUES('OR')
					SET @i = @i+3
					SET @isCrit = 0
				END
			END
	
			IF @isCrit = 1
			BEGIN
				SET @j = CHARINDEX(')', @criteria, @i+1)
				SET @k = CHARINDEX(' ', @criteria, @i+1)
				IF @j < @i OR @j > @k
					SET @j = @k
			
				IF @j < @i SET @j = @len+1
				INSERT INTO @parts VALUES (SUBSTRING(@criteria, @i, @j-@i))
				SET @i = CASE WHEN @j = @k THEN @j+1 ELSE @j END
			END

		END

		UPDATE @parts SET part = 'CONTAINS([Name], N''"' + part + '"'')' WHERE part NOT IN ('(', ')', 'AND', 'OR', 'NOT')

		--SELECT * FROM @parts

		SELECT @contain = STRING_AGG(part, ' ') FROM @Parts
		--SELECT @contain
	END
	ELSE
	BEGIN
		DECLARE @exec VARCHAR(max) = '',
				@first BIT = NULL,
				@word VARCHAR(255) = ''				

		-- build criteria string
		DECLARE oCursor CURSOR FOR
			SELECT [Data] FROM dbo.Util_Split(@criteria,' ')

		OPEN oCursor
		FETCH NEXT FROM oCursor INTO @word
		WHILE @@FETCH_STATUS = 0 BEGIN
			set @word = REPLACE(@word, '''', '''''')

			if @first is null
				begin
					set @first = 0
					--set @cmd = @cmd + ' [Name] like ''%' + @word + '%'''
					set @contain = @contain + '"' + @word + '*"'
				end
			else
				begin
					if @logicAndOr = 0
						begin
							--set @cmd = @cmd + ' or [Name] like ''%' + @word + '%'''
							set @contain = @contain + ' OR "' + @word + '*"'
						end
					else
						begin
							--set @cmd = @cmd + ' and [Name] like ''%' + @word + '%'''
							set @contain = @contain + ' AND "' + @word + '*"'
						end
				end
		
			fetch next from oCursor into @word
		END
		CLOSE oCursor
		DEALLOCATE oCursor

		IF @contain <> '' SET @contain = 'CONTAINS([Name], ''' + @contain + ''')'

	END

	IF @includeTaskName = 1 BEGIN
		SET @exec = 'insert into #allChecklist select ID, null, 0, null from QCheck_Checklists with (nolock) where ' + @contain; EXEC(@exec)

		IF @includeArchive = 1
			SET @exec = 'insert into #allChecklist select ID, null, 1, null from QCheck_ChecklistArchive with (nolock) where ' + @contain; EXEC(@exec)
	END

	IF @includeItemText = 1 BEGIN
		SET @exec = 'insert into #allChecklist select ChecklistID, null, 0, null from QCheck_Items with (nolock) where ' + REPLACE(@contain, '[Name]', '[Text]'); EXEC(@exec)
		
		IF @includeArchive = 1
			SET @exec = 'insert into #allChecklist select ChecklistID, null, 1, null from QCheck_ItemArchive with (nolock) where ' + REPLACE(@contain, '[Name]', '[Text]'); EXEC(@exec)
	END

	IF @includeComment = 1 BEGIN
		SET @exec = 'insert into #allChecklist select aa.ChecklistID, a.ID, 0, commentDt from QStatus_Comments c with (nolock) inner join QCheck_ActiveChecklists a with (nolock) on a.ID = c.ForeignKeyID inner join QCheck_ChecklistInstances aa with (nolock) on aa.ID = a.InstanceID where specialtask=0 and ' + REPLACE(@contain, '[Name]', '[Comments]'); EXEC(@exec)
		
		IF @includeArchive = 1
			SET @exec = 'insert into #allChecklist select aa.ChecklistID, a.ID, 1, commentDt from QStatus_CommentArchive c with (nolock) inner join QCheck_ActiveChecklistArchive a with (nolock) on a.ID = c.ForeignKeyID inner join QCheck_ChecklistInstances_All aa with (nolock) on aa.ID = a.InstanceID where specialtask=0 and ' + REPLACE(@contain, '[Name]', '[Comments]'); EXEC(@exec)
	END

	SELECT c.ActiveChecklistId
	FROM #allowedChecklist c
	INNER JOIN #allChecklist sc 
		ON sc.Id = c.Id AND sc.Archive = 0
		AND (sc.activeChecklistID is null OR sc.activeChecklistID = c.ActiveChecklistID)
	WHERE
		--task match
		(
			sc.CommentDt is null --this is a task match
				-- filter the due date of the TASK
			AND
			(
			 c.DueTime >= ISNULL(@fromDate, c.DueTime)
			AND c.DueTime <= ISNULL(@toDate, c.DueTime)
			)
		)
		OR
		--Comment match
		(
			sc.CommentDt is NOT null --this is a comment match
				-- filter the comment date of the COMMENT
			AND
			(
			sc.CommentDt >= ISNULL(@fromDate, sc.CommentDt)
			AND sc.CommentDt <= ISNULL(@toDate, sc.CommentDt)
			)
		)
	GROUP BY c.ActiveChecklistId


	SELECT DISTINCT
		--ActiveChecklistIdArchive = ac.ID, 
		Task = ISNULL(ca.[Name], c.[Name]),
		DueTime = CONVERT(CHAR(10), ac.DueTime, 101),
		assignees = isnull(al.assignees, ''),
		controllers = isnull(dbo.QCheck_ManagersList(ISNULL(cia.ChecklistID, ci.ChecklistID)), ''),
		comments = (SELECT STRING_AGG(CONVERT(NVARCHAR(MAX),cmt), '') FROM (
			SELECT 
				 cmt = '<div>[' + CONVERT(VARCHAR(10), c.CommentDt, 101) + '] [' + c.Initials + '] ' + c.Comments + '</div>'
			FROM
				QStatus_COMMENTS C
			WHERE c.ForeignKeyID = ac.ID

			UNION ALL SELECT 
				 cmt = '<div>[' + CONVERT(VARCHAR(10), c.CommentDt, 101) + '] [' + c.Initials + '] ' + c.Comments + '</div>'
			FROM
				QStatus_commentarchive C
			WHERE c.ForeignKeyID = ac.ID) xc)
	FROM
		QStatus_TaskTypes tt
		INNER JOIN QStatus_ActiveChecklistTaskType_All actt
			ON actt.TaskType = tt.ID
		INNER JOIN QCheck_ActiveChecklists_All ac
			ON ac.ID = actt.ActiveChecklistID
		INNER JOIN QCheck_ChecklistInstances_All cia
			ON cia.ID = ac.InstanceID
		INNER JOIN QCheck_Checklists_All ca
			ON cia.ChecklistID = ca.ID
		-- 2/26/2013 dalvarado - found cases where the instance wasn't archived with the active checklist, so need to look
		-- in both checklistinstances and checklistinstancearchive.
		LEFT OUTER JOIN qcheck_checklistinstances ci
			ON ac.InstanceID = ci.ID
		LEFT OUTER JOIN QCheck_Checklists c
			ON c.ID = ci.ChecklistID
		INNER JOIN qcheck_assigneelookup al
			ON al.instanceid = ac.instanceid
	WHERE ac.ID IN (
		SELECT c.ActiveChecklistId
		FROM #allowedChecklistArchive c
		INNER JOIN #allChecklist sc 
			ON sc.Id = c.Id AND @includeArchive = 1
			AND (sc.activeChecklistID is null OR sc.activeChecklistID = c.ActiveChecklistID)
		WHERE
		--task match
		(
			sc.CommentDt is null --this is a task match
				-- filter the due date of the TASK
			AND
			(
			 c.DueTime >= ISNULL(@fromDate, c.DueTime)
			AND c.DueTime <= ISNULL(@toDate, c.DueTime)
			)
		)
		OR
		--Comment match
		(
			sc.CommentDt is NOT null --this is a comment match
				-- filter the comment date of the COMMENT
			AND
			(
			sc.CommentDt >= ISNULL(@fromDate, sc.CommentDt)
			AND sc.CommentDt <= ISNULL(@toDate, sc.CommentDt)
			)
		)
	)
END