/****** Object:  StoredProcedure [dbo].[QStatus_MyTaskSearch]    Script Date: 7/16/2025 5:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[QStatus_MyTaskSearch] 
	@criteria varchar(4000),-- can be blank
	@logicAndOr bit,		-- 1 = AND, 0 = OR
	@userId int,
	@includeTaskName bit = 1,
	@includeItemText bit = 1,
	@includeComment bit = 0,
	@fromDate datetime = null,
	@toDate datetime = null
AS
BEGIN
	SET NOCOUNT ON
	IF TRIM(ISNULL(@criteria, '')) = '' RETURN

	DROP TABLE IF EXISTS #allChecklist
	DROP TABLE IF EXISTS #allowedChecklist

	-- variable declaration
	CREATE TABLE #allChecklist (Id INT)
	CREATE TABLE #allowedChecklist (Id INT NOT NULL PRIMARY KEY)

	-- get current checklists
	INSERT INTO #allowedChecklist
	SELECT 
		c.ID as ChecklistID
	FROM
		QCheck_ActiveChecklists a 
		INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
		INNER JOIN QCheck_Schedule s ON b.ScheduleID = s.ID 
		INNER JOIN QCheck_Checklists c on b.checklistID = c.ID AND c.IsDeleted = 0
		INNER JOIN QCheck_ActiveAssignments k on k.ActiveChecklistID = a.ID 
		INNER JOIN QCheck_GroupMembership gm on gm. UserID = @UserID
		INNER JOIN QCheck_Groups g on g.ID = gm.GroupID
		INNER JOIN QCheck_Assignments f on f.GroupID = gm.GroupID And f.IsDeleted = 0 and f.InstanceID = b.ID
		LEFT OUTER JOIN QStatus_TaskReportList trl on trl.activechecklistid = a.id and trl.userid = @UserID
		LEFT OUTER JOIN QCheck_ChecklistControllersList ccl on ccl.checklistid = c.id
		LEFT OUTER JOIN	dbo.QCheck_AssigneeLookup AL on a.InstanceID=al.InstanceID
		LEFT OUTER JOIN QCheck_MultiStep ms on ms.checklistid = c.ID
		LEFT OUTER JOIN QCheck_ControllerAssigneeInstances cai on cai.id = b.id
		LEFT OUTER JOIN QCheck_MostRecentDeadlineRequests mrdr
				ON a.ID = mrdr.ActiveChecklistID
		LEFT OUTER JOIN QCheck_Approval_ChangeRequests cr
			ON cr.ID = mrdr.ChangeRequestID
		LEFT OUTER JOIN QCheck_Approval_ActiveChecklists aac
				ON aac.ChangeRequestID = CR.[ID]
				AND aac.ActiveChecklistID = mrdr.ActiveChecklistID
	WHERE a.dueTime between ISNULL(@fromDate, a.DueTime) and ISNULL(@toDate, a.DueTime)

	UNION 
	
	-- get future checklists
	SELECT 
		c.ID As ChecklistID
	FROM
		QCheck_ChecklistInstances b
		INNER JOIN QCheck_UpcomingDueTimes upcoming1
			ON b.ID = upcoming1.instanceID
			and upcoming1.DueTime between ISNULL(@fromDate, upcoming1.DueTime) and ISNULL(@toDate, upcoming1.DueTime)
		INNER JOIN QCheck_Schedule s 
			ON b.ScheduleID = s.ID 
		INNER JOIN QCheck_Checklists c 
			on b.checklistID = c.ID 
			AND c.IsDeleted = 0
		INNER JOIN QCheck_GroupMembership gm 
			on gm. UserID = @UserID
		INNER JOIN QCheck_Groups g
			on g.ID = gm.GroupID
		INNER JOIN QCheck_Assignments f 
			on f.GroupID = gm.GroupID
			And f.IsDeleted = 0 
			and f.InstanceID = b.ID
		LEFT OUTER JOIN QCheck_ActiveChecklists ac
			ON ac.InstanceID = upcoming1.InstanceID
			AND ac.OrigDueTime = upcoming1.DueTime
		LEFT OUTER JOIN QCheck_ChecklistControllersList ccl on ccl.checklistid = c.id
		LEFT OUTER JOIN	dbo.QCheck_AssigneeLookup AL on b.ID=al.InstanceID
		LEFT OUTER JOIN QCheck_MultiStep ms on ms.checklistid = c.ID
		LEFT OUTER JOIN QCheck_ControllerAssigneeInstances cai on cai.id = b.id
	WHERE 
		not b.isDeleted = 1 
		AND ac.ID is null

	-- build criteria string
	DECLARE @contain VARCHAR(max) = ''
	
	IF(@logicAndOr IS NULL)
	BEGIN
		DECLARE @i INT = 1, @j int, @k int, @isCrit bit = 0
		DECLARE @len INT = LEN(@criteria)
		DECLARE @c NCHAR(1), @d NCHAR(4)
		DECLARE @parts Table (part varchar(4000))

		WHILE @i <= @len
		BEGIN
			SET @c = SUBSTRING(@criteria, @i, 1);
			SET @isCrit = 1
			
			IF @c = ';' RETURN --guard clause for SQL injection
			ELSE IF @c = ' '
			BEGIN
				SET @i = @i+1		
				SET @isCrit = 0
			END
			ELSE IF @c IN ('(', ')')
			BEGIN
				INSERT INTO @parts VALUES (@c)
				SET @i = @i+1
				SET @isCrit = 0
			END
			ELSE IF @c = '"'
			BEGIN
				SET @j = CHARINDEX('"', @criteria, @i+1)
				IF @j < @i SET @j = @len+1
				INSERT INTO @parts VALUES (SUBSTRING(@criteria, @i+1, @j-@i-1))
				SET @i = @j+1		
				SET @isCrit = 0
			END
			ELSE IF @c = 'N'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 4);
				IF TRIM(@d) = 'NOT'
				BEGIN
					INSERT INTO @parts VALUES('NOT')
					SET @i = @i+4
				SET @isCrit = 0
				END
			END
			ELSE IF @c = 'A'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 4);
				IF TRIM(@d) = 'AND'
				BEGIN
					INSERT INTO @parts VALUES('AND')
					SET @i = @i+4
				SET @isCrit = 0
				END
			END
			ELSE IF @c = 'O'
			BEGIN
				SET @d = SUBSTRING(@criteria, @i, 3);
				IF TRIM(@d) = 'OR'
				BEGIN
					INSERT INTO @parts VALUES('OR')
					SET @i = @i+3
					SET @isCrit = 0
				END
			END
	
			IF @isCrit = 1
			BEGIN
				SET @j = CHARINDEX(')', @criteria, @i+1)
				SET @k = CHARINDEX(' ', @criteria, @i+1)
				IF @j < @i OR @j > @k
					SET @j = @k
			
				IF @j < @i SET @j = @len+1
				INSERT INTO @parts VALUES (SUBSTRING(@criteria, @i, @j-@i))
				SET @i = CASE WHEN @j = @k THEN @j+1 ELSE @j END
			END

		END

		UPDATE @parts SET part = 'CONTAINS([Content], N''"' + part + '"'')' WHERE part NOT IN ('(', ')', 'AND', 'OR', 'NOT')

		--SELECT * FROM @parts

		SELECT @contain = STRING_AGG(part, ' ') FROM @Parts
		--SELECT @contain
	END
	ELSE
	BEGIN
		DECLARE @exec VARCHAR(max) = '',
			@first BIT = NULL,
			@word VARCHAR(255) = ''	

		-- build criteria string
		DECLARE oCursor CURSOR FOR
			SELECT [Data] FROM dbo.Util_Split(@criteria,' ')

		OPEN oCursor
		FETCH NEXT FROM oCursor INTO @word
		WHILE @@FETCH_STATUS = 0 BEGIN
			set @word = REPLACE(@word, '''', '''''')

			if @first is null
				begin
					set @first = 0
					--set @cmd = @cmd + ' [Name] like ''%' + @word + '%'''
					set @contain = @contain + '"' + @word + '*"'
				end
			else
				begin
					if @logicAndOr = 0
						begin
							--set @cmd = @cmd + ' or [Name] like ''%' + @word + '%'''
							set @contain = @contain + ' OR "' + @word + '*"'
						end
					else
						begin
							--set @cmd = @cmd + ' and [Name] like ''%' + @word + '%'''
							set @contain = @contain + ' AND "' + @word + '*"'
						end
				end
		
			fetch next from oCursor into @word
		END
		CLOSE oCursor
		DEALLOCATE oCursor

		IF @contain <> '' SET @contain = 'CONTAINS([Content], ''' + @contain + ''')'

	END

	SET @exec = 'insert into #allChecklist select ChecklistID from TaskContent with (nolock) where ' + @contain; EXEC(@exec)

	SELECT c.Id
	FROM #allChecklist c
	INNER JOIN #allowedChecklist sc ON sc.Id = c.Id
	Group BY c.Id
END
