USE [PFSProcess]
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetCommentsAllHistory]    Script Date: 4/15/2025 3:23:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[QStatus_GetCommentsAllHistory]
    @ChecklistID INT
AS
BEGIN

	/* OG (4/15/25): Comments section within the Task History popup. This is meant to return all comments (IsRelated bit used to differentiate). */

    SET NOCOUNT ON;

    DECLARE @ActiveChecklistID INT;

    SELECT TOP 1 @ActiveChecklistID = a.ID
    FROM QCheck_ActiveChecklists a
    INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
    INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID AND c.IsDeleted = 0
    WHERE c.ID = @ChecklistID;

    IF @ActiveChecklistID IS NULL
        SET @ActiveChecklistID = 0;

    ;WITH RelatedChecklistIDs AS (
        SELECT a.ID
        FROM QCheck_ActiveChecklists a
        INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID
        INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID
        WHERE c.ID = @ChecklistID AND a.ID <> @ActiveChecklistID
    ),
    ChecklistTargets AS (
        SELECT @ActiveChecklistID AS ID
        UNION ALL
        SELECT ID FROM RelatedChecklistIDs
    )

    SELECT 
        C.*, 
        u.FullName, 
        AC.ID AS TaskID, 
        AC.DueTime,
        CASE 
            WHEN AC.ID = @ActiveChecklistID THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS IsRelated
    FROM QStatus_COMMENTS C
    INNER JOIN (
        SELECT ID, InstanceID, DueTime
        FROM QCheck_ActiveChecklists
        UNION ALL
        SELECT ID, InstanceID, DueTime
        FROM QCheck_ActiveChecklistArchive
    ) AC ON C.ForeignKeyID = AC.ID
    INNER JOIN ChecklistTargets CT ON AC.ID = CT.ID
    INNER JOIN QCheck_Users u ON u.ID = C.UserID
    ORDER BY IsRelated DESC, AC.DueTime, AC.ID, C.DisplayOrder;
END
