CREATE OR ALTER   PROC [dbo].[PriorityListSet_GetComments]
  @SetID int,
  @UserID int,
  @StartTime datetime,
  @AllUsers bit = 0,
  @IncludeHistory bit = 1
AS
BEGIN
  SET NOCOUNT ON

  --SELECT @SetID = 64, @UserID = 74,  @StartTime='2025-05-18 00:00:00', @IncludeHistory = 1
  --DROP TABLE IF EXISTS #result
  --DROP TABLE IF EXISTS #checklists

  IF @IncludeHistory = 0 BEGIN
    select 
      l.userid, 
      l.ID ListID,
      li.activechecklistid, 
      '[' + c.initials + '] '+ c.comments as comments,
      li.id,
      c.id as CommentId,
      c.DisplayOrder
    into #result
    from Priorities_ListSetLists lsl
      JOIN Priorities_Lists l    
        on l.ID = lsl.ListID      
      JOIN Priorities_ListItems li
        on li.ListID = l.ID
      join qstatus_comments c
        on c.foreignkeyid = li.activechecklistid
        and c.specialtask = 0
        and (c.userid = @userid OR @AllUsers = 1)
        and c.commentdt > @starttime
    where lsl.setid = @setid
      and len(c.comments) > 0
    order by l.userid, c.displayorder

    DECLARE @recordIds AS RecordId
    INSERT INTO @recordIds
      SELECT DISTINCT CommentId FROM #result WHERE CommentId IS NOT NULL


    SELECT UserID, ListID, activechecklistid, comments, id, IsHidden = CAST(0 AS BIT)
    FROM #result
    ORDER BY UserID, DisplayOrder
  END ELSE IF @IncludeHistory = 1 BEGIN
    SELECT li.ActiveChecklistID, li.[Priority], lsl.ListID, li.ID, l.UserID
    INTO #checklists
    FROM 
      Priorities_ListSetLists lsl
      INNER JOIN Priorities_Lists l    
        ON l.ID = lsl.ListID      
      INNER JOIN Priorities_ListItems li
        ON li.ListID = l.ID
    WHERE lsl.setid = 64

    SELECT UserID, ListID, ActiveChecklistID, Comments, Id, IsHidden, TabIn, CommentUserID, CommentId
    FROM (
      SELECT DISTINCT
        UserID = l.UserId,
        ListID = l.ListID,
        ActiveChecklistID = l.ActiveChecklistID,
        Comments = '[' + CONVERT(VARCHAR(10), c.CommentDt, 101) + '] [' + u.FullName + '] ' + c.Comments,
        Id = l.ID,
        IsHidden = CAST(CASE WHEN c.commentdt > @starttime THEN 0 ELSE 1 END AS BIT),
        DisplayOrder = c.DisplayOrder,
        TabIn = c.TabIn,
        CommentUserID = c.UserID,
        CommentId = c.ID
      FROM 
        QStatus_COMMENTS C
        INNER JOIN QCheck_Users u
          ON u.ID = C.UserID
        INNER JOIN #checklists l
          ON l.ActiveChecklistID = c.ForeignKeyID

      UNION ALL SELECT DISTINCT
        UserID = l.UserID,
        ListID = l.ListID,
        ActiveChecklistID = l.ActiveChecklistID,
        Comments = '[' + CONVERT(VARCHAR(10), c.CommentDt, 101) + '] [' + u.FullName + '] ' + c.Comments,
        Id = l.ID,
        IsHidden = CAST(CASE WHEN c.commentdt > @starttime THEN 0 ELSE 1 END AS BIT),
        DisplayOrder = c.DisplayOrder,
        TabIn = c.TabIn,
        CommentUserID = c.UserID,
        CommentId = c.ID
      FROM 
        QStatus_commentarchive C
        INNER JOIN QCheck_Users u
          ON u.ID = C.UserID
        INNER JOIN #checklists l
          ON l.ActiveChecklistID = c.ForeignKeyID
    ) x
    ORDER BY UserID, DisplayOrder
  END
END