USE [QTasks]
GO
/****** Object:  StoredProcedure [dbo].[QCheck_GetMyChecklistsByFolder]    Script Date: 5/15/2025 2:07:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[QCheck_GetMyChecklistsByFolder](
	@UserID int,
	@memberGroupID int = 0,
	@managerGroupID int = 0,
	@isAdmin bit = 0,
	@search varchar(200) = ''
) AS

BEGIN

	SET NOCOUNT ON
	DECLARE @recordIds AS RecordId
	DECLARE @tblResults TABLE(
		ID int
	)

	DECLARE @tblAssigned TABLE(
		ID int
	)

	DECLARE @tblManaged TABLE(
		ID int
	)

	-- Get all the ChecklistIDs the user is assigned to
	INSERT INTO @tblAssigned
	SELECT DISTINCT c.ID
	FROM QCheck_Checklists c (nolock)
		INNER JOIN QCheck_ChecklistInstances ci (nolock)
		ON c.[ID] = ci.ChecklistID
			AND c.IsDeleted = 0
			AND ci.IsDeleted = 0
		INNER JOIN QCheck_Assignments a (nolock)
		ON ci.[ID] = a.InstanceID
			AND a.IsDeleted = 0
		INNER JOIN QCheck_Groups g (nolock)
		ON a.GroupID = g.[ID]
		INNER JOIN QCheck_GroupMembership gm (nolock)
		ON g.[ID] = gm.GroupID
			AND (
				gm.UserID = @UserID 
				OR @isAdmin = 1
			)

	-- Get all the ChecklistIDs the user controls
	INSERT INTO @tblManaged
	SELECT DISTINCT c.[ID]
	FROM QCheck_Checklists c (nolock)
		INNER JOIN QCheck_ChecklistManagers cm (nolock)
		ON cm.ChecklistID = c.[ID]
			AND cm.IsDeleted = 0
			AND c.IsDeleted = 0
		INNER JOIN QCheck_Groups g (nolock)
		ON g.[ID] = cm.ManagerGroupID
		INNER JOIN QCheck_GroupMembership gm (nolock)
		ON gm.GroupID = g.[ID]
			AND (
				gm.UserID = @UserID 
				OR @isAdmin = 1
			)
				

	-- Get all active checklists
	SELECT DISTINCT c.id
	INTO #tblActive
	FROM qcheck_checklists c (nolock)
		INNER JOIN qcheck_checklistinstances ci (nolock)
		ON ci.checklistid = c.id
		INNER JOIN qcheck_activechecklists ac (nolock)
		ON ac.instanceid = ci.id

	-- If no group filter was supplied, the result set is everything assigned/managed through any group
	IF @memberGroupID = 0 AND @managergroupID = 0 BEGIN

		INSERT INTO @tblResults
			SELECT DISTINCT 
				c.ID
			FROM 
				qcheck_checklists c (nolock)
				INNER JOIN @tblAssigned tm
					ON tm.ID = c.ID

			UNION

			SELECT DISTINCT 
				c.ID
			FROM 
				qcheck_checklists c (nolock)
				INNER JOIN @tblManaged tm
					ON tm.ID = c.ID

	-- If a group filter was supplied, the result set is everything assigned to the user through that group
	END ELSE BEGIN

		INSERT INTO @tblResults
			SELECT DISTINCT 
				c.ID
			FROM 
				qcheck_checklists c (nolock)
				INNER JOIN (select ID from @tblManaged union all select ID from @tblAssigned) tm
					ON tm.ID = c.ID
				LEFT OUTER JOIN QCheck_ChecklistInstances ci (nolock)
					ON ci.ChecklistID = c.ID
					AND ci.IsDeleted = 0
				LEFT OUTER JOIN QCheck_Assignments a (nolock)
					ON a.InstanceID = ci.ID
					AND a.IsDeleted = 0
					AND a.GroupID = @memberGroupID
			WHERE
				(
					@memberGroupID = 0 OR
					a.ID IS NOT NULL
				)
				AND 
				(
					@managerGroupID = 0 OR
					c.id in (
					 select cm.checklistid from 
						QCheck_ChecklistManagers cm (nolock)
					 inner JOIN QCheck_Groups managerg (nolock)
								 ON managerg.ID = cm.ManagerGroupID
					 inner join QCheck_GroupMembership managergm (nolock)
								 ON managergm.GroupID = managerg.ID
								 AND managergm.GroupID = @managergroupID
					 where cm.IsDeleted = 0) 
				)

	END
		
	-- If no search string was supplied, return the full result set with folders
	IF LEN(LTRIM(RTRIM(@search))) = 0 BEGIN

		SELECT DISTINCT 
			c.Name as NodeName, 
			c.ID,
			c.ID as FolderID,
			isNull(fc.FolderID, 0) as ParentID,
			1 as Type,
			case when ac.ID IS NULL THEN 0 ELSE 1 END As Active,
			c.Template
		INTO #result
		FROM 
			@tblResults tr
			INNER JOIN qcheck_checklists c (nolock)
				ON tr.ID = c.ID
			LEFT OUTER JOIN #tblActive ac
				ON ac.ID = c.ID
			LEFT OUTER JOIN QCheck_FolderChecklists fc (nolock)
				ON fc.ChecklistID = c.ID
				AND fc.FolderID IN (
					SELECT ID 
					FROM QCheck_Folders 
					WHERE UserID = @UserID
				)
		
		UNION ALL
		
		SELECT 
			'All Tasks' as NodeName, 
			0 As ID,
			0 as FolderID,
			null as ParentID,
			2 as Type,
			0 as Active,
			0 as Template
	
		UNION ALL
			
		SELECT 
			FolderName as NodeName,
			ID,
			ID as FolderID,
			ParentFolder as ParentID,
			3 as Type,
			0 as Active,
			0 as Template
		FROM
			QCheck_Folders (nolock)
		WHERE
			UserID = @UserID		

	INSERT INTO @recordIds
		SELECT DISTINCT ID FROM #result WHERE ID > 0
	EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

	SELECT * FROM #result ORDER BY [Type] DESC, NodeName
	-- If a search string was supplied, filter the result set by that search string
	END ELSE BEGIN

		SELECT DISTINCT 
			c.Name as NodeName, 
			c.ID,
			c.ID as FolderID,
			isNull(fc.FolderID, 0) as ParentID,
			1 as Type,
			case when ac.ID IS NULL THEN 0 ELSE 1 END As Active,
			c.Template
		INTO #result2
		FROM 
			@tblResults tr
			INNER JOIN qcheck_checklists c (nolock)
				ON tr.ID = c.ID
			LEFT OUTER JOIN	QCheck_Items i (nolock)
				ON i.ChecklistID = c.ID
			LEFT OUTER JOIN #tblActive ac
				ON ac.ID = c.ID
			LEFT OUTER JOIN QCheck_FolderChecklists fc (nolock)
				ON fc.ChecklistID = c.ID
				AND fc.FolderID IN (
					SELECT ID 
					FROM QCheck_Folders 
					WHERE UserID = @UserID
				)
		WHERE
			c.Name LIKE ('%'+@search+'%') 
			OR i.Text like ('%'+@search+'%')
		
		UNION ALL
		
		SELECT 
			'All Tasks' as NodeName, 
			0 As ID,
			0 as FolderID,
			null as ParentID,
			2 as Type,
			0 as Active,
			0 as Template
	
		UNION ALL
			
		SELECT 
			FolderName as NodeName,
			ID,
			ID as FolderID,
			ParentFolder as ParentID,
			3 as Type,
			0 as Active,
			0 as Template
		FROM
			QCheck_Folders (nolock)
		WHERE
			UserID = @UserID		

		INSERT INTO @recordIds
			SELECT DISTINCT ID FROM #result2 WHERE ID > 0
		EXEC dbo.Audit_Set @userId, @recordIds, 'Checklist', 2

		SELECT * FROM #result2 ORDER BY [Type] DESC, NodeName
	END
END