
ALTER   PROC [dbo].[QStatus_GetCommentsAllHistory]
    @ChecklistID INT,
    @UniqueID INT
AS
BEGIN

    /* OG (4/15/25): Comments section within the Task History popup. This is meant to return all comments (IsRelated bit used to differentiate). */

    SET NOCOUNT ON;

    DECLARE @ActiveChecklistID INT;

    IF @UniqueID <> 0
    BEGIN
        SET @ActiveChecklistID = @UniqueID;
    END
    ELSE
    BEGIN
        SELECT TOP 1 @ActiveChecklistID = a.ID
        FROM QCheck_ActiveChecklists a
        INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
        INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID AND c.IsDeleted = 0
        WHERE c.ID = @ChecklistID
        ORDER BY a.ID DESC;

        IF @ActiveChecklistID IS NULL
            SET @ActiveChecklistID = 0;
    END

    ;WITH RelatedChecklistIDs AS (
        SELECT ac.ID
		FROM QCheck_Checklists_All c 
		INNER JOIN QCheck_ChecklistInstances_All ci
			ON c.ID = ci.ChecklistID
		INNER JOIN QCheck_ActiveChecklists_All ac
			ON ci.ID = ac.InstanceID
		INNER JOIN QStatus_Comments_All cm
			ON cm.ForeignKeyID = ac.ID
			AND cm.SpecialTask = 0
        WHERE c.ID = @ChecklistID AND ac.ID <> @ActiveChecklistID
    ),
    ChecklistTargets AS (
        SELECT @ActiveChecklistID AS ID
        UNION ALL
        SELECT ID FROM RelatedChecklistIDs
    )

    SELECT DISTINCT
        C.*, 
        u.FullName, 
        AC.ID AS TaskID, 
        AC.DueTime,
        CASE 
            WHEN AC.ID = @ActiveChecklistID THEN CAST(0 AS BIT)
            ELSE CAST(1 AS BIT)
        END AS IsRelated
    FROM QStatus_Comments_All C
    INNER JOIN (
        SELECT ID, InstanceID, DueTime
        FROM QCheck_ActiveChecklists
        UNION ALL
        SELECT ID, InstanceID, DueTime
        FROM QCheck_ActiveChecklistArchive
    ) AC ON C.ForeignKeyID = AC.ID
    INNER JOIN ChecklistTargets CT ON AC.ID = CT.ID
    INNER JOIN QCheck_Users u ON u.ID = C.UserID
    ORDER BY IsRelated DESC, AC.DueTime, AC.ID, C.DisplayOrder;
END