/****** Object:  StoredProcedure [dbo].[QStatus_AutomationEmailPreferences_Get]    Script Date: 7/24/2025 1:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* [QStatus_AutomationEmailPreferences_Get] */

ALTER proc [dbo].[QStatus_AutomationEmailPreferences_Get]
	@UserID int,
	@AssigneeVal int = -1
AS BEGIN

	DECLARE @Assignee int = -1, 
			@Controller int = -1,
			@Due int = -1,
			@ReportOrig int = -1,
			@Report int = -1,
			@Priority int = -1,
			@Alert int = -1,
			@SoftDue int = -1,
			@EChecklistPriority int = -1,
			@WeeklySummaryEmail bit = 0
			
	SELECT @Assignee=Assignee, 
			@Controller = Controller, 
			@Due = Due, 
			@Report = Report, 
			@ReportOrig = Report,
			@Priority = [Priority],
			@Alert = Alert,
			@SoftDue = SoftDue,
			@EChecklistPriority = EChecklistPriority,
			@WeeklySummaryEmail = WeeklySummaryEmail
	FROM QStatus_AutomationEmailPreferences
	WHERE UserID = @UserID
	
	DECLARE @AssigneeName varchar(1000) = '',
			@ControllerName varchar(1000) = '',
			@ReportName varchar(1000) = ''
			
	IF @Assignee > -1
	BEGIN
		SELECT @AssigneeName = name from QCheck_Groups
		WHERE ID = @Assignee
	END
	
	IF @ControllerName > -1
	BEGIN
		SELECT @ControllerName = name from QCheck_Groups
		where ID = @Controller
	END
	
	--if it was not passed in, use the default
	IF @AssigneeVal = -1
	BEGIN
		SELECT @AssigneeVal = @Assignee
	END
	
	--if default not set, it will be the group id of the user who sent it
	IF @AssigneeVal = -1
	BEGIN
		SELECT @AssigneeVal = UserGroupID 
		FROM qstatus_usersupervisors
		WHERE UserID = @UserID
	END
	
	IF @Report = -1
	BEGIN
		SELECT top 1 
			@Report = tt.ID
		FROM 
			QStatus_Report r
		INNER JOIN QCheck_GroupMembership gm1
			on gm1.GroupID = @AssigneeVal
		INNER JOIN
			QStatus_GroupReport gr
		ON
			gr.ReportID = r.ID
		INNER JOIN
			QCheck_Groups g
		ON
			g.ID = gr.GroupID
		INNER JOIN
			QCheck_GroupMembership gm
		ON
			gm.GroupID = g.ID
		AND
			gm.UserID = gm1.UserID
		INNER JOIN 
			QStatus_TaskTypes tt
		ON
			tt.ReportID = r.ID
		AND 
			tt.IsDeleted = 0
		AND
			tt.NativeType = 0
		WHERE 
			r.IsDeleted = 0
		ORDER BY gr.defaultreport desc, r.ID, tt.displayOrder
	END
	
	-- OG (5/22/25): Changed from > -1 to > 0 to allow 0 to represent 'no report'
	If @Report > 0
	BEGIN
		select @ReportName = r.Name + ' - ' + tt.Description 
		from QStatus_TaskTypes tt
		inner join QStatus_Report r
			on tt.ReportID = r.id
		WHERE tt.ID = @Report
	END
		
	
	SELECT @Assignee as Assignee, 
			@Controller as Controller,
			@Due as Due,
			@Report as Report,
			@ReportOrig as ReportOrig,
			@Priority as [Priority],
			@AssigneeName as AssigneeName,
			@ControllerName as ControllerName,
			@ReportName as ReportName,
			@Alert as Alert,
			@SoftDue as SoftDue,
			@EChecklistPriority as EChecklistPriority,
			@WeeklySummaryEmail as WeeklySummaryEmail
			 
End
GO

/****** Object:  StoredProcedure [dbo].[QStatus_AutomationEmailPreferences_Set]    Script Date: 7/24/2025 1:24:40 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[QStatus_AutomationEmailPreferences_Set]
	@UserID int,
	@Assignee int,
	@Controller int,
	@Due int,
	@Report int,
	@Priority int,
	@Alert int = -1,
	@SoftDue int = -1,
	@EChecklistPriority int = -1,
	@WeeklySummaryEmail bit = 0
AS BEGIN

	UPDATE QStatus_AutomationEmailPreferences
		SET Assignee = @Assignee,
			Controller = @Controller,
			Due = @Due,
			Report = @Report,
			[Priority] = @Priority,
			Alert = @Alert,
			SoftDue = @SoftDue,
			EChecklistPriority = @EChecklistPriority,
			WeeklySummaryEmail = @WeeklySummaryEmail
		WHERE UserID = @UserID
		
	IF @@ROWCOUNT = 0
	BEGIN
		INSERT INTO QStatus_AutomationEmailPreferences
		(UserID, Assignee, Controller, Due, Report, [Priority], Alert, SoftDue, EChecklistPriority, WeeklySummaryEmail)
		SELECT @UserID, @Assignee, @Controller, @Due, @Report, @Priority, @Alert, @SoftDue, @EChecklistPriority, @WeeklySummaryEmail
	END

END
GO

