
ALTER PROCEDURE [dbo].[QStatus_GetDeadlineHistory]
    @ChecklistID INT,
	@ActiveChecklistID INT,
    @UserID INT
AS

--DECLARE @ChecklistID INT;
--DECLARE @ActiveChecklistID INT = 562199;
--DECLARE @UserID INT = 557;
DECLARE @TimeZone VARCHAR(MAX) = NULL;

 -- Only update @ActiveChecklistID if it is NULL
 IF @ActiveChecklistID <> 0
 BEGIN
  SET @ActiveChecklistID = (
   SELECT TOP 1 a.ID
   FROM QCheck_ActiveChecklists a
   INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
   INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID AND c.IsDeleted = 0
   WHERE c.ID = @ChecklistID
   ORDER BY a.ID DESC
  );
 END

SET @TimeZone = (
    SELECT ISNULL(TimeZoneOverride, LastTimeZone)
    FROM QCheck_Users
    WHERE ID = @UserID
);

-- Combine approvals (active + archive)
WITH AllApprovalActiveChecklists AS (
    SELECT ID, ActiveChecklistID, ChangeRequestID, CompletedBy, CompletedDate
    FROM QCheck_Approval_ActiveChecklists
    UNION ALL
    SELECT ID, ActiveChecklistID, ChangeRequestID, CompletedBy, CompletedDate
    FROM QCheck_Approval_ActiveChecklists_Archive
),
AllApprovalChangeRequests AS (
    SELECT ID, RequestingUser, RequestDate, ApprovedUser, ApprovedDate, Comment
    FROM QCheck_Approval_ChangeRequests
    UNION ALL
    SELECT ID, RequestingUser, RequestDate, ApprovedUser, ApprovedDate, Comment
    FROM QCheck_Approval_ChangeRequests_Archive
),

AllApprovalsWithTime AS (
    SELECT 
        aaac.ActiveChecklistID,
        acr.ID AS ChangeRequestID,
        acr.RequestingUser,
        acr.RequestDate,
        acr.ApprovedUser,
        acr.ApprovedDate,
        acr.Comment,
        aaac.CompletedBy,
        aaac.CompletedDate
    FROM AllApprovalActiveChecklists aaac
    INNER JOIN AllApprovalChangeRequests acr ON aaac.ChangeRequestID = acr.ID
),

DueDateChangesWithApprovals AS (
    SELECT 
        ddc.ActiveChecklistID,
        ac2.CompletedDate AS CompletedDate,
        ac2.OrigDueTime,
        ac2.DueTime,
        ac2.InstanceID,
        a.RequestingUser,
        a.RequestDate,
        a.ApprovedUser,
        a.ApprovedDate,
		a.Comment,
        ac2.CompletedBy,
        ROW_NUMBER() OVER (
            PARTITION BY ddc.ActiveChecklistID, ddc.UpdateDt
            ORDER BY a.ApprovedDate DESC
        ) AS rn
    FROM qcheck_activechecklists_all ac
    INNER JOIN qcheck_checklistinstances_all ci 
		ON ci.ID = ac.InstanceID 
		AND ac.ID = @ActiveChecklistID
    INNER JOIN qcheck_activechecklists_all ac2 
		ON ac2.InstanceID = ac.InstanceID
    INNER JOIN qstatus_duedatechanges ddc 
		ON ddc.ActiveChecklistID = ac2.ID
    LEFT JOIN AllApprovalsWithTime a 
        ON a.ActiveChecklistID = ddc.ActiveChecklistID
        AND a.ApprovedDate <= ddc.UpdateDt
)

SELECT DISTINCT
	dca.Comment,
    --dca.ActiveChecklistID,
    CAST(dbo.ConvertTimeFromUtc(dca.OrigDueTime, @TimeZone) AS DATETIME) AS OrigDueTime,
    CAST(dbo.ConvertTimeFromUtc(dca.DueTime, @TimeZone) AS DATETIME) AS DueTime,
    ru.FullName AS Requestor,
    CAST(dbo.ConvertTimeFromUtc(dca.RequestDate, @TimeZone) AS DATETIME) AS RequestDate,
    au.FullName AS Approver,
    CAST(dbo.ConvertTimeFromUtc(dca.ApprovedDate, @TimeZone) AS DATETIME) AS ApprovedDate,
    CAST(dbo.ConvertTimeFromUtc(dca.CompletedDate, @TimeZone) AS DATETIME) AS CompletedDate,
    cu.FullName AS CompletedBy
FROM DueDateChangesWithApprovals dca
LEFT JOIN QCheck_Users ru ON dca.RequestingUser = ru.ID
LEFT JOIN QCheck_Users au ON dca.ApprovedUser = au.ID
LEFT JOIN QCheck_Users cu ON dca.CompletedBy = cu.ID

WHERE dca.rn = 1