/****** Object:  StoredProcedure [dbo].[QCheck_Approval_GetUserChangeRequests]    Script Date: 1/27/2025 6:31:52 PM ******/

ALTER PROCEDURE [dbo].[QCheck_Approval_GetUserChangeRequests] (
	@UserID INT, -- The UserID of the requester,
	@ID INT = NULL,
	@Sort int = 0 --0 = by request date, 1= by name, 2 = by new deadline
) AS
BEGIN
	DECLARE @User_ID INT
		,@_ID INT
		,@_Sort int
		,@NextOfficeDay VARCHAR(1000)	

	SELECT @User_ID = @UserID, @_ID = @ID, @_Sort = @Sort, @NextOfficeDay = 
			'** Requested deadline has passed! Upon approval, deadline will be set to ' +CONVERT(VARCHAR, dbo.Util_NextOfficeDay(GETUTCDATE()), 101) + ' instead**'

	DECLARE @chk TABLE (
		ChangeRequestID INT
		,id INT
		,name VARCHAR(8000)
		,InstanceID INT
	)
	INSERT INTO @chk
	SELECT 
		ac.ChangeRequestID, c.id, c.name, ci.ID AS InstanceID
	FROM  
		QCheck_Approval_ActiveChecklists AC
		INNER JOIN QCheck_ChecklistInstances CI
			ON AC.InstanceID = CI.[ID]
		INNER JOIN QCheck_Checklists C
			ON CI.ChecklistID = C.[ID]
		INNER JOIN QCheck_Approval_ChangeRequests CR
			ON AC.ChangeRequestID = CR.ID
			AND CR.RequestingUser = @User_ID	
			AND (CR.ID = @_ID or @_ID is null)
	
	INSERT INTO @chk
	SELECT DISTINCT
		A.ChangeRequestID, C.[ID], c.name, ci.ID AS InstanceID
	FROM 
		QCheck_Approval_Assignments A
		INNER JOIN QCheck_ChecklistInstances CI
			ON A.InstanceID = CI.[ID]
		INNER JOIN QCheck_Checklists C
			ON CI.ChecklistID = C.[ID]
		INNER JOIN QCheck_Approval_ChangeRequests CR
			ON A.ChangeRequestID = CR.ID
			AND CR.RequestingUser = @User_ID		
			AND (CR.ID = @_ID or @_ID is null)
			AND CR.ID not in (select ChangeRequestID from @chk)
									
	INSERT INTO @chk
	SELECT
		I.ChangeRequestID,  C.[ID], c.name, -1 AS InstanceID
	FROM 
		QCheck_Approval_Items I
		INNER JOIN QCheck_Checklists C
			ON I.ChecklistID = C.[ID]
		INNER JOIN QCheck_Approval_ChangeRequests CR
			ON i.ChangeRequestID = CR.ID
			AND CR.RequestingUser = @User_ID		
			AND (CR.ID = @_ID or @_ID is null)
			AND CR.ID not in (select ChangeRequestID from @chk)

	-- Pulls back the list of change requests made by the given user that have not yet been approved or rejected
	SELECT 
		CR.[ID],
		CR.RequestingUser,
		RU.FullName,
		Ru.Email,
		CR.RequestDate,
		CR.Comment,
		chk.ID AS ChecklistID,
		chk.Name AS ChecklistName,
		dbo.QCheck_ManagersList(chk.ID) AS Controllers,
		dbo.QCheck_AssigneesList(chk.InstanceID) AS Assignees,
		dbo.QCheck_Approval_ExtensionLength(cr.id) as extensiondays,
		dbo.QCheck_Approval_ExtensionCount(cr.id) as extensioncount,
		deadlinechecklist.completeddate,
		case when ac.id is not null and ac.duetime <> ac.origduetime and ac.duetime < GETUTCDATE() 
			then 
			@NextOfficeDay
			else ''
		end as DatePassedMessage
	FROM 
		QCheck_Approval_ChangeRequests CR
		inner join @chk chk
			ON chk.ChangeRequestID = cr.id
		INNER JOIN QCheck_Users RU
			ON CR.RequestingUser = RU.[ID]
		LEFT OUTER JOIN QCheck_Approval_ActiveChecklists AC
			ON AC.ChangeRequestID = CR.ID
		OUTER APPLY 
				(
					SELECT id, completeddate FROM QCheck_ActiveChecklists_All
					WHERE id = AC.activechecklistID
				) deadlinechecklist
	WHERE
		CR.IsActive = 1
		AND CR.Approved = 0
		AND CR.Rejected = 0
		AND CR.ReadyForSupervisor = 1
		AND CR.RequestingUser = @User_ID	
		AND (CR.ID = @_ID or @_ID is null)
	ORDER BY
		CASE WHEN @_Sort = 0 then convert(varchar,RequestDate,  120) 
		 WHEN @_Sort = 1 then RU.FullName
		 ELSE convert(varchar,AC.duetime,  120)
		END
END
GO

/****** Object:  StoredProcedure [dbo].[QCheck_Approval_GetSupervisorChangeRequests_UniversalExtensions]    Script Date: 1/27/2025 6:33:50 PM ******/

ALTER PROCEDURE [dbo].[QCheck_Approval_GetSupervisorChangeRequests_UniversalExtensions] (
	@UserID INT, -- The UserID of the controller,
	@ID INT = NULL,
	@Sort int = 0 --0 = by request date, 1= by name, 2 = by new deadline
) AS
BEGIN
	-- Pulls back the list of change requests requiring the given supervisor's approval or rejection
	SELECT 
		CR.[ID],
		CR.RequestingUser,
		RU.FullName,
		Ru.Email,
		CR.RequestDate,
		CR.Comment,
		chk.ID AS ChecklistID,
		chk.Name AS ChecklistName,
		dbo.QCheck_ManagersList(chk.ID) AS Controllers,
		dbo.QCheck_AssigneesList(chk.InstanceID) AS Assignees,
		deadlinechecklist.completeddate,
		case when ac.id is not null and ac.duetime <> ac.origduetime and ac.duetime < GETUTCDATE() 
			then 
			'** Requested deadline has passed! Upon approval, deadline will be set to ' 
				+ CONVERT(VARCHAR,
					dbo.ConvertTimeFromUtc(
						dbo.ConvertTimeToUtc(
							dateadd(hour, datepart(hour, dbo.ConvertTimeFromUtc(ac.DueTime, ISNULL(ru.TimeZoneOverride, ru.LastTimeZone))), 
								dbo.Util_AddOfficeDays(
									dbo.ConvertTimeFromUtc(GETUTCDATE(), ISNULL(ru.TimeZoneOverride, ru.LastTimeZone))
									, 1)
								), 
							ISNULL(ru.TimeZoneOverride, ru.LastTimeZone)), 
						ISNULL(ru.TimeZoneOverride, ru.LastTimeZone)), 
					101) 
				--+ ' (' + ISNULL(ru.TimeZoneOverride, ru.LastTimeZone) + ')'
				+ ' instead**'
			else ''
		end as DatePassedMessage
	FROM 
		QCheck_Approval_ChangeRequests CR
		inner join 
			(
			SELECT 
				ac.ChangeRequestID, c.id, c.name, ci.ID AS InstanceID
			FROM  
				QCheck_Approval_ActiveChecklists AC
				INNER JOIN QCheck_ChecklistInstances CI
					ON AC.InstanceID = CI.[ID]
				INNER JOIN QCheck_Checklists C
					ON CI.ChecklistID = C.[ID]
	
			UNION
			
			SELECT DISTINCT
				A.ChangeRequestID, C.[ID], c.name, ci.ID AS InstanceID
			FROM 
				QCheck_Approval_Assignments A
				INNER JOIN QCheck_ChecklistInstances CI
					ON A.InstanceID = CI.[ID]
				INNER JOIN QCheck_Checklists C
					ON CI.ChecklistID = C.[ID]
				--order by 1
				
			UNION 
	
			SELECT DISTINCT
				I.ChangeRequestID,  C.[ID], c.name, -1 AS InstanceID
			FROM 
				QCheck_Approval_Items I
				INNER JOIN QCheck_Checklists C
					ON I.ChecklistID = C.[ID]
			WHERE i.changerequestid not in 
				(
				SELECT ac.changerequestid
				FROM  
					QCheck_Approval_ActiveChecklists AC
					INNER JOIN QCheck_ChecklistInstances CI
						ON AC.InstanceID = CI.[ID]
					INNER JOIN QCheck_Checklists C
						ON CI.ChecklistID = C.[ID]
		
				UNION ALL
				
				SELECT
					a.changerequestid
				FROM 
					QCheck_Approval_Assignments A
					INNER JOIN QCheck_ChecklistInstances CI
						ON A.InstanceID = CI.[ID]
					INNER JOIN QCheck_Checklists C
						ON CI.ChecklistID = C.[ID]
				)
			) as chk
		on chk.ChangeRequestID = cr.id
		INNER JOIN QCheck_ChecklistManagers CM
			ON CM.ChecklistID = Chk.ID
			AND CM.IsDeleted = 0
		INNER JOIN QCheck_Groups G
			ON CM.ManagerGroupID = G.[ID]
		INNER JOIN QCheck_GroupMembership GM
			ON G.[ID] = GM.GroupID
		INNER JOIN QCheck_Users CU
			ON GM.UserID = CU.[ID]
		INNER JOIN QCheck_Users RU
			ON CR.RequestingUser = RU.[ID]
		LEFT OUTER JOIN QCheck_Approval_ActiveChecklists AC
			ON AC.ChangeRequestID = CR.ID
		OUTER APPLY 
				(
					SELECT id, completeddate FROM QCheck_ActiveChecklists_All
					WHERE id = AC.activechecklistID
				) deadlinechecklist
	WHERE
		CR.IsActive = 1
		AND CR.Approved = 0
		AND CR.Rejected = 0
		AND CR.ReadyForSupervisor = 1
		AND CU.[ID] = @UserID	
		AND (CR.ID = @ID or @ID is null)
		and CR.ID in (select ChangeRequestID from QCheck_UniversalExtensionChangeRequests where IsActive=1)
	ORDER BY
		CASE WHEN @Sort = 0 then convert(varchar,RequestDate,  120) 
		 WHEN @Sort = 1 then RU.FullName
		 ELSE convert(varchar,AC.duetime,  120)
		END
END
GO
