CREATE OR ALTER PROCEDURE [dbo].[QCheck_GetActiveChecklistIdByChecklistId]
    @ChecklistID INT,
    @ActiveChecklistID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 @ActiveChecklistID = a.ID
    FROM QCheck_ActiveChecklists a
    INNER JOIN QCheck_ChecklistInstances b ON a.InstanceID = b.ID AND b.IsDeleted = 0
    INNER JOIN QCheck_Checklists c ON b.ChecklistID = c.ID AND c.IsDeleted = 0
    WHERE c.ID = @ChecklistID
	ORDER BY a.ID DESC;

    IF @ActiveChecklistID IS NULL
        SET @ActiveChecklistID = 0;

    SELECT @ActiveChecklistID AS ActiveChecklistID;
END