
GO
/****** Object:  StoredProcedure [dbo].[QCheck_Approval_DeadlineHistory]    Script Date: 2/4/2025 5:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[QCheck_Approval_DeadlineHistory] (
	@ChangeID INT
) AS

BEGIN

DECLARE @ActiveChecklistID INT, @TZ VARCHAR(1000)
 SELECT 
        @ActiveChecklistID = ActiveChecklistID,
        @TZ = COALESCE(u.timezoneoverride, u.lasttimezone, sys.systemtimezone)
    FROM 
        QCheck_Approval_ActiveChecklists AC
        LEFT OUTER JOIN QCheck_Approval_ChangeRequests cr
            ON ac.ChangeRequestID = cr.ID
        LEFT OUTER JOIN QCheck_Users u
            ON cr.RequestingUser = u.ID
        CROSS APPLY  (SELECT TOP 1 systemtimezone FROM qcheck_appsettings) sys
    WHERE
        AC.ChangeRequestID = @ChangeID
    
    SELECT 
        'Requested Change' AS ReqType,
        ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(aac.DueTime, @TZ)), '') AS DueTime,
        ISNULL(cr.Comment, '') AS Comment,
        ISNULL(u.FullName, '') AS RequestedBy,
        ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(cr.RequestDate, @TZ)), '') AS RequestDate,
        dbo.ConvertTimeFromUtc(cr.ApprovedDate, @TZ) AS ApprovedDate,
        CAST(dbo.ConvertTimeFromUtc(cr.ApprovedDate, @TZ) as datetime) as ApprovedDateCmp
    FROM
        QCheck_Approval_ActiveChecklists aac
        INNER JOIN QCheck_Approval_ChangeRequests cr
            ON aac.ChangeRequestID = cr.ID
        INNER JOIN QCheck_Users u
            ON cr.RequestingUser = u.ID
    WHERE
        aac.ActiveChecklistID = @ActiveChecklistID
        AND cr.ID <> @ChangeID
        AND cr.Approved = 1
    
    UNION
    
    SELECT 
        'Original Deadline',
        ISNULL(CONVERT(VARCHAR(20), dbo.ConvertTimeFromUtc(OrigDueTime, @TZ)), ''),
        'Original Deadline',
        '',
        '',
        '1/1/1900',
        '1/1/1900'
    FROM QCheck_ActiveChecklists
    WHERE ID = @ActiveChecklistID
    ORDER BY ApprovedDateCmp DESC
	
END