USE [PFSProcess]
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetDeadlineHistory]    Script Date: 4/14/2025 7:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[QStatus_GetDeadlineHistory]
    @ChecklistID INT,
    @UserID INT
AS
BEGIN

DECLARE @TimeZone VARCHAR(MAX) = NULL
SET @TimeZone = (SELECT isnull(TimeZoneOverride, LastTimeZone) FROM QCheck_Users WHERE ID = @UserID)
--dbo.ConvertTimeFromUtc(ac.DueTime, @TimeZone)

SELECT
	Comment
	, CAST(dbo.ConvertTimeFromUtc(aca.OrigDueTime, @TimeZone) AS DATETIME) AS OrigDueTime
	, CAST(dbo.ConvertTimeFromUtc(aca.DueTime, @TimeZone) AS DATETIME) AS DueTime
	, ru.FullName AS Requestor
	, CAST(dbo.ConvertTimeFromUtc(RequestDate, @TimeZone) AS DATETIME) AS RequestDate
	, au.FullName AS Approver
	, CAST(dbo.ConvertTimeFromUtc(ApprovedDate, @TimeZone) AS DATETIME) AS ApprovedDate
	, cu.FullName AS CompletedBy
	, CAST(dbo.ConvertTimeFromUtc(ac.CompletedDate, @TimeZone) AS DATETIME) AS CompletedDate
	FROM
	QCheck_ActiveChecklists ac
	INNER JOIN QCheck_ChecklistInstances ci 
		ON ac.InstanceId = ci.Id
	INNER JOIN QCheck_Checklists c 
		ON ci.ChecklistId = c.Id
	LEFT OUTER JOIN QCheck_Approval_ActiveChecklists aca 
		ON aca.ActiveChecklistId = ac.ID
	LEFT OUTER JOIN QCheck_Approval_ChangeRequests acr 
		ON acr.ID = aca.ChangeRequestID
	LEFT OUTER JOIN QCheck_Users au
		ON au.ID = acr.ApprovedUser
	LEFT OUTER JOIN QCheck_Users ru
		ON ru.ID = acr.RequestingUser
	LEFT OUTER JOIN QCheck_Users cu
	ON cu.ID = ac.CompletedBy
	WHERE c.ID = @ChecklistID
	AND aca.DueTime IS NOT NULL
END;
