
CREATE OR ALTER   PROCEDURE [dbo].[QStatus_GetChangeHistory]
    @ChecklistID INT,
    @UserID INT
AS
BEGIN
	DECLARE @results TABLE (
		ID INT,
		ChecklistID INT,
		ChangeRequest VARCHAR(MAX),
		Requestor VARCHAR(50),
		RequestDate DATETIME,
		Result VARCHAR(8),
		ResultPerson VARCHAR(50),
		ResultDate DATETIME,
		Comment VARCHAR(1000)
	);

	DECLARE @Changes TABLE (
		Seq INT,
		Item VARCHAR(500),
		Requested VARCHAR(MAX),
		CRItemID INT,
		Approved BIT
	);

	WITH NumberedRequests AS (
		SELECT 
			CR.[ID],
			chk.ID AS ChecklistID,
			RU.FullName AS Requestor,
			CR.RequestDate,
			CASE
				WHEN Approved = 1 THEN 'Approved'
				WHEN Rejected = 1 THEN 'Rejected'
				ELSE 'Pending'
			END AS Result,
			CASE
				WHEN Approved = 1 THEN au.FullName
				WHEN Rejected = 1 THEN ru.FullName
				ELSE ''
			END AS ResultPerson,
			CASE
				WHEN Approved = 1 THEN ApprovedDate
				WHEN Rejected = 1 THEN RejectedDate
				ELSE NULL
			END AS ResultDate,
			CR.Comment,
			ROW_NUMBER() OVER (PARTITION BY CR.ID ORDER BY CR.RequestDate) AS rn
		FROM 
			QCheck_Approval_ChangeRequests CR
			INNER JOIN (
				SELECT 
					ac.ChangeRequestID, c.id, c.name, ci.ID AS InstanceID
				FROM  
					QCheck_Approval_ActiveChecklists AC
					INNER JOIN QCheck_ChecklistInstances CI ON AC.InstanceID = CI.ID
					INNER JOIN QCheck_Checklists C ON CI.ChecklistID = C.ID
				UNION
				SELECT
					A.ChangeRequestID, C.ID, c.name, ci.ID AS InstanceID
				FROM 
					QCheck_Approval_Assignments A
					INNER JOIN QCheck_ChecklistInstances_All CI ON A.InstanceID = CI.ID
					INNER JOIN QCheck_Checklists_All C ON CI.ChecklistID = C.ID
				UNION 
				SELECT
					I.ChangeRequestID, C.ID, c.name, -1 AS InstanceID
				FROM 
					QCheck_Approval_Items I
					INNER JOIN QCheck_Checklists_All C ON I.ChecklistID = C.ID
			) AS chk ON chk.ChangeRequestID = cr.ID
			INNER JOIN QCheck_ChecklistManagers CM ON CM.ChecklistID = Chk.ID AND CM.IsDeleted = 0
			INNER JOIN QCheck_Groups G ON CM.ManagerGroupID = G.ID
			INNER JOIN QCheck_Users RU ON CR.RequestingUser = RU.ID
			LEFT OUTER JOIN QCheck_Approval_ActiveChecklists AC ON AC.ChangeRequestID = CR.ID
			LEFT JOIN QCheck_Users au ON CR.ApprovedUser = au.ID
		WHERE
			chk.ID = @ChecklistID
			AND TRIM(cr.Comment) <> ''
			AND cr.Comment IS NOT NULL
	)

	SELECT 
		ID,
		ChecklistID,
		Requestor,
		RequestDate,
		Result,
		ResultPerson,
		ResultDate,
		Comment
	INTO #FilteredChangeRequests
	FROM NumberedRequests
	WHERE rn = 1
	ORDER BY RequestDate;

	DECLARE 
		@ID INT,
		@CklstID INT,
		@Requestor VARCHAR(50),
		@RequestDate DATETIME,
		@Result VARCHAR(8),
		@ResultPerson VARCHAR(50),
		@ResultDate DATETIME,
		@Comment VARCHAR(1000);

	DECLARE ChangeRequestCursor CURSOR FOR
	SELECT ID, ChecklistID, Requestor, RequestDate, Result, ResultPerson, ResultDate, Comment
	FROM #FilteredChangeRequests;

	OPEN ChangeRequestCursor;

	FETCH NEXT FROM ChangeRequestCursor INTO 
		@ID, @CklstID, @Requestor, @RequestDate, @Result, @ResultPerson, @ResultDate, @Comment;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		DELETE FROM @Changes;

		INSERT INTO @Changes EXEC QCheck_Approval_CRAdded_Natural @ID;
		INSERT INTO @Changes EXEC QCheck_Approval_CRRemoved_Natural @ID;
		INSERT INTO @Changes EXEC QCheck_Approval_CRChanged_Natural @ID;

		DECLARE @ChangeRequest VARCHAR(MAX) = '';
		SELECT @ChangeRequest = @ChangeRequest + Item + ': ' + Requested + '; ' FROM @Changes;

		SET @ChangeRequest = RTRIM(@ChangeRequest);
		IF RIGHT(@ChangeRequest, 1) = ';'
		BEGIN
			SET @ChangeRequest = LEFT(@ChangeRequest, LEN(@ChangeRequest) - 1);
		END

		INSERT INTO @results (ID, ChecklistID, ChangeRequest, Requestor, RequestDate, Result, ResultPerson, ResultDate, Comment)
		VALUES (@ID, @CklstID, @ChangeRequest, @Requestor, @RequestDate, @Result, @ResultPerson, @ResultDate, @Comment);

		FETCH NEXT FROM ChangeRequestCursor INTO 
			@ID, @CklstID, @Requestor, @RequestDate, @Result, @ResultPerson, @ResultDate, @Comment;
	END;

	CLOSE ChangeRequestCursor;
	DEALLOCATE ChangeRequestCursor;

	DROP TABLE #FilteredChangeRequests;

	SELECT * FROM @results;

END;