USE [PFSProcess]
GO
/****** Object:  StoredProcedure [dbo].[QStatus_GetDeadlineHistory]    Script Date: 4/17/2025 7:06:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[QStatus_GetDeadlineHistory]
    @ChecklistID INT,
    @UserID INT
AS
BEGIN
    DECLARE @TimeZone VARCHAR(MAX) = NULL;

    SET @TimeZone = (
        SELECT ISNULL(TimeZoneOverride, LastTimeZone)
        FROM QCheck_Users
        WHERE ID = @UserID
    );

	SELECT
		acr.Comment,
		CAST(dbo.ConvertTimeFromUtc(
			ISNULL(PrevApproved.DueTime, aca.OrigDueTime),
			@TimeZone
		) AS DATETIME) AS OrigDueTime,
		CAST(dbo.ConvertTimeFromUtc(aca.DueTime, @TimeZone) AS DATETIME) AS DueTime,
		ru.FullName AS Requestor,
		CAST(dbo.ConvertTimeFromUtc(acr.RequestDate, @TimeZone) AS DATETIME) AS RequestDate,
		au.FullName AS Approver,
		CAST(dbo.ConvertTimeFromUtc(acr.ApprovedDate, @TimeZone) AS DATETIME) AS ApprovedDate,
		cu.FullName AS CompletedBy,
		CAST(dbo.ConvertTimeFromUtc(ac.CompletedDate, @TimeZone) AS DATETIME) AS CompletedDate
	FROM QCheck_ActiveChecklists ac
	INNER JOIN QCheck_ChecklistInstances ci 
		ON ac.InstanceId = ci.Id
	INNER JOIN QCheck_Checklists c 
		ON ci.ChecklistId = c.Id
	LEFT JOIN QCheck_Approval_ActiveChecklists aca 
		ON aca.ActiveChecklistId = ac.ID
	LEFT JOIN QCheck_Approval_ChangeRequests acr 
		ON acr.ID = aca.ChangeRequestID
	-- Most recent approved DueTime before this request's RequestDate
	OUTER APPLY (
		SELECT TOP 1 aca2.DueTime
		FROM QCheck_Approval_ActiveChecklists aca2
		INNER JOIN QCheck_Approval_ChangeRequests acr2
			ON acr2.ID = aca2.ChangeRequestID
		WHERE aca2.ActiveChecklistId = ac.ID
		  AND acr2.ApprovedDate IS NOT NULL
		  AND acr2.RequestDate < acr.RequestDate
		ORDER BY acr2.RequestDate DESC
	) PrevApproved
	LEFT JOIN QCheck_Users au 
		ON au.ID = acr.ApprovedUser
	LEFT JOIN QCheck_Users ru 
		ON ru.ID = acr.RequestingUser
	LEFT JOIN QCheck_Users cu 
		ON cu.ID = ac.CompletedBy

    WHERE c.ID = @ChecklistID
      AND aca.DueTime IS NOT NULL;
END;
