
/*
API SECURITY KEY SCRIPTS HERE
*/

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER PROCEDURE [dbo].[API_IsAdmin]
@UserID int
AS
BEGIN
	DECLARE @IsAdmin INT = 0

	SELECT @IsAdmin = 1
	FROM API_Admins
	WHERE UserID = @UserID

	SELECT @IsAdmin IsAdmin
END 

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[API_SetSigningKey]
	@Key varchar(8000),
	@AsOf datetime = NULL
AS
BEGIN
	INSERT INTO API_SigningKey (ID, KeyValue, AsOf)
	VALUES (NEWID(), @Key, ISNULL(@AsOf, GETUTCDATE()))
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[API_GetSigningKey]	
	@AsOf datetime = NULL
AS
BEGIN
	SELECT TOP 1 ID, KeyValue [Key], AsOf, IsRevoked
	FROM API_SigningKey
	WHERE AsOf < ISNULL(@AsOf, GETUTCDATE())
	ORDER BY AsOf DESC
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[API_GetAllSigningKey]
AS
BEGIN
	SELECT ID, KeyValue [Key], AsOf, IsRevoked
	FROM API_SigningKey
END




/* API METHOD CALL SCRIPTS HERE */

/* Create Tak Through API */

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[QCheck_CreateTaskThroughApi] (
	@TaskName NVARCHAR(1000),
	@Assignees NVARCHAR(1000),
	@Controller NVARCHAR(1000) = NULL,
	@DueDate DATETIME = NULL,
	@ReportSectionId INT = NULL,
	@NewActiveID int output
) AS

	DECLARE 
		@ChecklistID INT,
		@SoftDue datetime,
		@CreatedBy int,
		@ReportID int,
		@TaskType int = NULL,
		@PrevFreqType int,
		@RowsUpdated int,
		@NewInstanceID int,
		@scheduleID int,
		@traderQPUserID int,
		@controlledBy int,
		@errorCode int,
		@errorMsg varchar(500),
		@uniqueTaskName bit

  DECLARE @AppName NVARCHAR(50);
 
  SELECT @AppName = AppName from QCheck_AppSettings; --THIS IS USED FOR ERROR MESSAGING

	
	DECLARE @DueTime int

	SELECT @DueTime = duetime from QCheck_UserDefaultTimes
	WHERE UserID = -1

	---- Due in 1 days by default

	IF @DueDate IS NOT NULL
	BEGIN 
		IF @DueDate < GETDATE() OR @SoftDue < GETDATE()
		BEGIN
			RAISERROR('Due date and soft due date must be a future date', 16, 1, @AppName)
			RETURN
		END
	END 
	ELSE IF @DueDate IS NULL
	BEGIN 
	SET @SoftDue = CONVERT(VARCHAR(10), DATEADD(DAY, 1, getdate()), 101) + ' ' + convert(varchar(2), @DueTime - 1) + ':00:00'
	SET @DueDate = CONVERT(VARCHAR(10), DATEADD(DAY, 1, getdate()), 101) + ' ' + convert(varchar(2), @DueTime) + ':00:00'
	END

	CREATE TABLE #Assignees(
		Name NVARCHAR(30)
);

INSERT INTO #Assignees (Name) SELECT UserName.c from dbo.Util_fn_List_To_Table(@assignees, ',') as UserName;
INSERT INTO #Assignees (Name) SELECT @Controller;

	SET @errorCode = 0
	SET @errorMsg = ''

	CREATE TABLE #AssigneeIDs(
		ID INT
	);
	
	INSERT INTO #AssigneeIDs (ID) SELECT DISTINCT ID
	FROM QCheck_Groups
	WHERE Name IN (SELECT Name fROM #Assignees)

	DECLARE @tempAssigneeCount INT 

	SELECT @tempAssigneeCount = COUNT(ID) FROM #AssigneeIDs

	IF @tempAssigneeCount = 0 
	BEGIN
		RAISERROR('The specified Assignee names do not match any in %s', 16, 1, @AppName)
		RETURN
	END

	DECLARE @assignedTo INT = (SELECT TOP (1) ID FROM #AssigneeIDs)

	IF @Controller IS NOT NULL 
	 BEGIN
	SELECT @controlledBy = ID
	FROM QCheck_Groups
	WHERE Name = @Controller

	IF @controlledBy IS NULL
	BEGIN
		RAISERROR('The specified Controller user name does not match any in %s', 16, 1, @AppName)
		RETURN
	END
	END
	ELSE 
	BEGIN
	 SELECT @ControlledBy = @AssignedTo
	 END

	EXEC QCheck_DuplicateNameCheck @Name = @TaskName, @UserID = 0, @OKToUse = @UniqueTaskName OUTPUT

	if @UniqueTaskName = 0
	BEGIN
		RAISERROR('Task with the provided name already exists and is already assigned to selected group', 16, 1)
		RETURN
	END

	EXEC dbo.QCheck_CreateSimple_part1 @ChecklistID OUTPUT, @TaskName, 1, @DueDate, 0, @ReportSectionId, 
		@PrevFreqType OUTPUT, @RowsUpdated OUTPUT, @NewInstanceID OUTPUT, @NewActiveID OUTPUT, @assignedTo, 1, 1

	DECLARE @nextAssigned INT
	DECLARE assigneeCursor CURSOR FOR SELECT DISTINCT ID FROM #AssigneeIDs

	OPEN assigneeCursor
	FETCH FROM assigneeCursor INTO @nextAssigned

	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC QCheck_AddAssignedTo @NewInstanceID,  @nextAssigned , @CreatedBy
		FETCH FROM assigneeCursor INTO @nextAssigned
	END	

	CLOSE assigneeCursor
	DEALLOCATE assigneeCursor

	SET @errorCode = @@ERROR

	IF @errorCode = 0
	BEGIN
		SELECT @scheduleID = ScheduleID 
		FROM QCheck_ChecklistInstances
		WHERE [ID] = @NewInstanceID

		UPDATE QCheck_Schedule
		SET dueTime = @DueTime
		WHERE ID = @scheduleID

		SET @errorCode = @@ERROR
	END
	ELSE
		SET @errorMsg = 'QCheck_CreateSimple_part1 ' + cast(@ChecklistID as varchar) + ', ' + @TaskName + ', ' + cast(@DueDate as varchar) +
			', ' + @CreatedBy + ', ' + @TaskType + ', assignedTo = ' + @assignedTo

	IF @errorCode = 0 
	BEGIN
		UPDATE QCheck_ActiveChecklists
		SET 
			DueTime = @DueDate,
			ReminderDate = @SoftDue
		WHERE ID = @NewActiveID

		SET @errorCode = @@ERROR
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_ActiveChecklists SET DueTime = ' + CONVERT(varchar(10),getdate(),101) + ' 10:00PM WHERE ID = ' + cast(@NewActiveID AS varchar)

	IF @errorCode = 0
	BEGIN
		UPDATE QCheck_Alerts
		SET AlertTime = 17
		WHERE InstanceID = @NewInstanceID

		SET @errorCode = @@ERROR
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_Alerts SET AlertTime = 17 WHERE InstanceID = ' + cast(@NewInstanceID as varchar)

	IF @errorCode = 0
	BEGIN
		UPDATE QCheck_ChecklistManagers
		SET IsDeleted = 1 
		WHERE ChecklistID = @ChecklistID
			AND ManagerGroupID <> @controlledBy
		
		SET @errorCode = @@ERROR
		IF @errorCode = 0
		BEGIN
			UPDATE QCheck_ChecklistManagers
			SET IsDeleted = 0 
			WHERE ChecklistID = @ChecklistID
				AND ManagerGroupID = @controlledBy

			IF @@ROWCOUNT = 0
			BEGIN
				INSERT INTO QCheck_ChecklistManagers (ManagerGroupID, ChecklistID, IsDeleted, CreateDate)
				VALUES (@controlledBy, @ChecklistID, 0, GETDATE())
			END
		END
	END
	ELSE IF @errorMsg = ''
		SET @errorMsg = 'UPDATE QCheck_ChecklistManagers SET ManagerGroupID = ' + CONVERT(VARCHAR(10), @assignedTo) + ' WHERE ChecklistID = (SELECT ChecklistID FROM QCheck_ChecklistInstances WHERE ID = ' + CAST(@NewInstanceID AS varchar) + ')'
		
	IF @errorCode <> 0
	BEGIN
		DECLARE @msg varchar(5000)
		SET @msg = 'Error Number ' + cast(@errorCode AS varchar) + '; Error Msg: ' + @errorMsg
		EXEC XPSendEmail
		    @FROM       = 'sqlmail@acmewidget.com',
		    @FROM_NAME  = 'SQLMail',
		    @TO         = 'developers@acmewidget.com',
		    @subject    = 'TaxQ QProcess Task Error',
		    @message    = @msg,
		    @type       = 'text/html',
		    @server     = 'SMTPGATEWAY'
	END


/* Add Comment to Task Through API */
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE OR ALTER PROCEDURE [dbo].[QStatus_CreateNewCommentFromApi]
(
	@Comments NVARCHAR(500),
	@ActiveChecklistId INT = 0,
	@TaskName NVARCHAR(250) = NULL,
	@NewID INT OUTPUT,
	@CommentInitials nVARCHAR(5) OUTPUT,
	@FullName NVARCHAR(50) OUTPUT
)
 AS
BEGIN
	DECLARE @TempInstanceId INT

	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;

IF @ActiveChecklistId > 0 
 BEGIN
    SET	@TempInstanceId = (SELECT ID FROM QCheck_ActiveCheckLists WHERE ID = @ActiveChecklistID AND CompletedDate IS NOT NULL)
		IF @TempInstanceId = 0
		BEGIN
			RAISERROR('Provided ActiveChecklistId is not valid', 16, 1, @AppName)
			RETURN
		END

	BEGIN
		EXEC QStatus_CreateNewComment @ActiveChecklistId, 0, @Comments, @NewID, @CommentInitials, @FullName
	END
END
	ELSE IF @TaskName IS NOT NULL
	BEGIN

	  DECLARE @DuplicateCount INT 
	   SET @DuplicateCount = (SELECT COUNT(ac.ID) FROM QCheck_Checklists c
					INNER JOIN QCheck_ChecklistInstances ci
						ON ci.ChecklistID = c.ID
					INNER JOIN QCheck_ActiveChecklists ac
						ON ci.ID = ac.InstanceID
						WHERE c.Name = @TaskName)

		IF @DuplicateCount > 1
		BEGIN
			RAISERROR('Provided task is not valid', 16, 1, @AppName)
			RETURN
		END


		SET @TempInstanceId = (SELECT ac.ID FROM QCheck_ActiveChecklists ac
			INNER JOIN QCheck_ChecklistInstances ci
			ON ac.InstanceId = ci.ID
			INNER JOIN QCheck_Checklists c
			on ci.ChecklistID = c.ID
			WHERE c.Name = @TaskName
			AND c.IsDeleted = 0)

		IF @TempInstanceId = 0 OR @TempInstanceId IS NULL
		BEGIN
			RAISERROR('Provided task is not valid', 16, 1, @AppName)
			RETURN
		END
		
		EXEC QStatus_CreateNewComment @TempInstanceId, 0, @Comments, @NewID, @CommentInitials, @FullName
	

	END

END

/* Complete Task Through API */

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[QCheck_CompleteTaskByTaskNameOrId] (
	@ActiveChecklistID INT = 0,
	@TaskName NVARCHAR(250) = NULL,
	@isComplete BIT OUTPUT
)
AS
BEGIN

	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;

	DECLARE @MultipleEntries INT
	DECLARE @TempActiveChecklistId INT
	DECLARE @TempTaskName NVARCHAR(250)

	DECLARE @UpcomingDuetimeId INT = -1
	DECLARE @NewActiveChecklistId INT = -1

	IF @ActiveChecklistID > 0 
	BEGIN
		SET	@TempActiveChecklistId = (SELECT ID FROM QCheck_ActiveCheckLists WHERE ID = @ActiveChecklistID AND CompletedDate IS NULL)

		IF @TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL AND @TaskName IS NOT NULL
		BEGIN
		
			SET @TempTaskName = (SELECT Name FROM QCheck_Checklists WHERE Name = @TaskName)

			IF @TempTaskName IS NULL
			BEGIN
				RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
				RETURN
			END

			SET @MultipleEntries = (SELECT COUNT(Name) FROM QCheck_Checklists
				WHERE IsDeleted = 0 AND Name = @TaskName)

			IF @MultipleEntries > 1
			BEGIN
				RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
				RETURN
			END

			SET @TempActiveChecklistId = (SELECT ac.ID FROM QCheck_ActiveChecklists ac
				INNER JOIN QCheck_ChecklistInstances ci
				ON ac.InstanceId = ci.ID
				INNER JOIN QCheck_Checklists c
				on ci.ChecklistID = c.ID
				WHERE c.IsDeleted = 0 AND ac.CompletedDate IS NULL AND c.Name = @TaskName)

			IF (@TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL)
			BEGIN
				RAISERROR('Task has already been completed', 16, 1, @AppName)
				RETURN
			END
			
			EXEC QCheck_CompleteChecklist @TempActiveChecklistId, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT
		
		END
		ELSE IF @TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL AND @TaskName IS NULL
			BEGIN
				RAISERROR('Provided ActiveChecklistId is not valid', 16, 1, @AppName)
				RETURN
			END
			
		EXEC QCheck_CompleteChecklist @ActiveChecklistID, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT

		END
	ELSE IF @TaskName IS NOT NULL
	BEGIN
		
		SET @TempTaskName = (SELECT Name FROM QCheck_Checklists WHERE Name = @TaskName)

		BEGIN
			RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
			RETURN
		END


		SET @MultipleEntries = (SELECT COUNT(Name) FROM QCheck_Checklists
			WHERE IsDeleted = 0 AND Name = @TaskName)

		IF @MultipleEntries > 1
		BEGIN
			RAISERROR('Task name is invalid. Please provide another task name or a Task ID instead.', 16, 1, @AppName)
			RETURN
		END
		ELSE
		BEGIN

			SET @TempActiveChecklistId = (SELECT ac.ID FROM QCheck_ActiveChecklists ac
			INNER JOIN QCheck_ChecklistInstances ci
			ON ac.InstanceId = ci.ID
			INNER JOIN QCheck_Checklists c
			on ci.ChecklistID = c.ID
			WHERE c.IsDeleted = 0 AND ac.CompletedDate IS NULL AND c.Name = @TaskName)

			IF (@TempActiveChecklistId = 0 OR @TempActiveChecklistId IS NULL)
			BEGIN
			RAISERROR('Task has already been completed', 16, 1, @AppName)
			RETURN
		END
			EXEC QCheck_CompleteChecklist @TempActiveChecklistId, 0, 0, 'Closed By System', @isComplete OUTPUT, @UpcomingDuetimeId OUTPUT, @NewActiveChecklistId OUTPUT
		END
	END

END

/* Get Status Of Task through API*/

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER  PROCEDURE [dbo].[QStatus_GetStatusOfTasksByTaskOrUser] (
	@ActiveChecklistId INT = 0,
	@TaskName NVARCHAR(250) = NULL,
	@UserName NVARCHAR(30) = NULL
)
AS
BEGIN
	
	DECLARE @TempActiveChecklistId INT
	DECLARE @TempTaskName NVARCHAR(250)
	DECLARE @TempUserName NVARCHAR(30)
	DECLARE @TempTaskCount INT

	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;

	IF @ActiveChecklistId > 0
		BEGIN
		SET	@TempActiveChecklistId = (SELECT ID FROM QCheck_ActiveCheckLists WHERE ID = @ActiveChecklistID)
		IF @TempActiveChecklistId = 0
		BEGIN
			RAISERROR('Provided ActiveChecklistId is not valid', 16, 1, @AppName)
			RETURN
		END

			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE ac.ID = @ActiveChecklistId 
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END

	ELSE IF @TaskName IS NOT NULL
		BEGIN

		SET	@TempTaskCount = (SELECT COUNT(Name) FROM QCheck_CheckLists WHERE Name = @TaskName AND IsDeleted = 0)
		IF @TempTaskCount > 1
		BEGIN
			RAISERROR('Task name is ambiguous. Please use an Active Checklist ID', 16, 1, @AppName)
			RETURN
		END

		SET	@TempTaskName = (SELECT Name FROM QCheck_CheckLists WHERE Name = @TaskName AND IsDeleted = 0)
		IF @TempTaskName IS NULL
		BEGIN
			RAISERROR('Provided Task Name is not valid', 16, 1, @AppName)
			RETURN
		END

			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE c.Name = @TaskName
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END

	ELSE IF @UserName IS NOT NULL
		BEGIN

		SET	@TempUserName = (SELECT ID FROM QCheck_Groups WHERE Name = @UserName)
		IF @TempUserName IS NULL
		BEGIN
			RAISERROR('Provided User Name is not valid', 16, 1, @AppName)
			RETURN
		END
			SELECT 
			c.Name AS TaskName, 
			g.Name AS Assignees,
			con.controllers AS Controllers,
			ac.DueTime AS Deadline, 
			CASE WHEN ac.CompletedDate IS NULL THEN 0 ELSE 1 END AS IsCompleted
				FROM QCheck_Checklists c
				INNER JOIN QCheck_ChecklistInstances ci
				ON c.ID = ci.ChecklistID AND ci.IsDeleted = 0
				INNER JOIN QCheck_ActiveChecklists ac
				ON ci.ID = ac.InstanceID
				INNER JOIN QCheck_Assignments a
				ON ac.InstanceID = a.InstanceID AND a.IsDeleted = 0
				INNER JOIN QCheck_GroupMembership gm
				ON a.GroupID = gm.GroupID
				INNER JOIN QCheck_Groups g
				ON gm.GroupID = g.ID
				INNER JOIN QCheck_Users u
				ON g.Owner = u.ID AND u.IsDeleted = 0
				INNER JOIN QCheck_ChecklistControllersList con
				ON c.ID = con.checklistid
			WHERE g.Name = @UserName
				AND c.CreateDate > DATEADD(year, -2, GETDATE())
			GROUP BY con.controllers, c.Name, g.Name, ac.Duetime, ac.CompletedDate
		END


END

/* Add Task to Status Report By Section through API */

GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE OR ALTER PROCEDURE [dbo].[QStatus_AddTasksToStatusSection]
(
	@ReportSectionId INT,
	@ActiveChecklistId INT = 0,
	@TaskName NVARCHAR(250) = NULL
)
 AS
BEGIN
	DECLARE @TempInstanceId INT
	DECLARE @TempSectionId INT
	DECLARE @AppName NVARCHAR(50);
    SELECT @AppName = AppName from QCheck_AppSettings;
	declare @acId INT

	SET @TempSectionId = (SELECT ID FROM QStatus_TaskTypes WHERE ID = @ReportSectionID)

	IF @TempSectionId = 0
		BEGIN
			RAISERROR('Provided SectionId is not valid', 16, 1, @AppName)
			RETURN
		END

IF @ActiveChecklistId > 0 
	BEGIN

		DECLARE @TempTaskNameCount INT

		SET @TempTaskNameCount = (SELECT COUNT(c.Name) FROM QStatus_Tasktypes tt
									INNER JOIN QStatus_InstanceTaskType itt
									on tt.ID = itt.TaskType
									INNER JOIN QCheck_ActiveChecklists ac
									on itt.InstanceId = ac.InstanceID
									INNER JOIN QCheck_ChecklistInstances ci
									on ac.InstanceId = ci.ID
									inner join QCheck_Checklists c
									on ci.ChecklistID = c.ID
									WHERE ac.Id = @ActiveChecklistId
									AND tt.ID = @ReportSectionId
									AND c.IsDeleted = 0)

		IF @TempTaskNameCount > 0
		BEGIN
			RAISERROR('Provided task is not valid', 16, 1, @AppName)
			RETURN
		END

		SET @TempInstanceId = (SELECT ac.InstanceID FROM QCheck_ActiveChecklists ac
		WHERE AC.ID = @ActiveChecklistId)

		IF @TempInstanceId = 0
		BEGIN
			RAISERROR('Provided InstanceId is not valid', 16, 1, @AppName)
			RETURN
		END

		EXEC QCheck_AddInstanceTaskTypeOutput @TempInstanceId, @ReportSectionId, @acId 
	END
	ELSE IF @TaskName IS NOT NULL
	BEGIN

		SET @TempTaskNameCount = (SELECT COUNT(c.Name) FROM QStatus_Tasktypes tt
									INNER JOIN QStatus_InstanceTaskType itt
									on tt.ID = itt.TaskType
									INNER JOIN QCheck_ActiveChecklists ac
									on itt.InstanceId = ac.InstanceID
									INNER JOIN QCheck_ChecklistInstances ci
									on ac.InstanceId = ci.ID
									inner join QCheck_Checklists c
									on ci.ChecklistID = c.ID
									WHERE c.Name = @TaskName
									AND tt.ID = @ReportSectionId
									AND c.IsDeleted = 0)

		IF @TempTaskNameCount > 0
		BEGIN
			RAISERROR('Provided task is not valid', 16, 1, @AppName)
			RETURN
		END
	    
		SET @TempInstanceId = (SELECT ac.InstanceID FROM QCheck_ActiveChecklists ac
			INNER JOIN QCheck_ChecklistInstances ci
			ON ac.InstanceId = ci.ID
			INNER JOIN QCheck_Checklists c
			on ci.ChecklistID = c.ID
			WHERE c.Name = @TaskName
			AND c.IsDeleted = 0)

		IF @TempInstanceId = 0
		BEGIN
			RAISERROR('Provided task is not valid', 16, 1, @AppName)
			RETURN
		END

		EXEC QCheck_AddInstanceTaskTypeOutput @TempInstanceId, @ReportSectionId, @acId

	END

END


GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE OR ALTER PROCEDURE [dbo].[QStatus_ReportValidation] (
@Assignees NVARCHAR(500),
@Controller NVARCHAR(500),
@SectionId INT,	
@RecordsReturned INT OUTPUT
)
AS
BEGIN

 DECLARE @AppName NVARCHAR(50);
 
 SELECT @AppName = AppName from QCheck_AppSettings; --THIS IS USED FOR ERROR MESSAGING

CREATE TABLE #CombinedUsers(
UserName NVARCHAR(30)
);

INSERT INTO #CombinedUsers (UserName) SELECT UserName.c from dbo.Util_fn_List_To_Table(@assignees, ',') as UserName;
INSERT INTO #CombinedUsers (UserName) SELECT @Controller;

select r.id ReportID, u.id UserID from 
  QStatus_TaskTypes tt
  INNER JOIN QStatus_Report r ON r.ID = tt.ReportID AND r.IsDeleted = 0
  INNER JOIN QStatus_GroupReport gr ON gr.ReportID = r.ID
  INNER JOIN QCheck_Groups g ON g.ID = gr.GroupID
  INNER JOIN QCheck_GroupMembership gm on gm.GroupID = g.ID
  INNER JOIN QCheck_Users u ON u.ID = gm.UserID AND u.FullName IN ((SELECT * from #CombinedUsers)) and u.IsDeleted = 0
  WHERE tt.ID = @SectionId
    AND tt.IsDeleted = 0

  UNION

  select r.id, u.ID from 
  QStatus_TaskTypes tt
  INNER JOIN QStatus_Report r ON r.ID = tt.ReportID AND r.IsDeleted = 0
  INNER JOIN QStatus_Supervisors s ON s.ReportID = r.ID and s.InterestedParty = 0
  INNER JOIN QCheck_Groups g ON g.ID = s.SupervisorGroupID
  INNER JOIN QCheck_GroupMembership gm on gm.GroupID = g.ID
  INNER JOIN QCheck_Users u ON u.ID = gm.UserID AND u.FullName = @Controller and u.IsDeleted = 0
  WHERE tt.ID = @SectionId
    AND tt.IsDeleted = 0

SELECT @RecordsReturned = @@ROWCOUNT

END