/*
    This file is intended to hold all CSS styles for deployment-specific color schemes across all pages. 
    Layout styles *should* be platform-independent, but environment-specific tweaks to
    element size/positioning (i.e. logos) are acceptable here.

*/

:root {
    --scheme-pri-fill-color: #003366;
    --scheme-pri-text-color: #fff;
    --scheme-sec-fill-color: #6FAA99;
    --scheme-sec-text-color: #fff;
    --scheme-body-bg-color: #fff;
    --scheme-body-text-color: #000;
    --scheme-body-link-color: #003366;
    --scheme-body-texthighlight-color: #ff9933;
    --scheme-titlebar-color: #ebebeb;
    --scheme-reportline-color: #FFFFED;
    --scheme-reportheader-color: #ECE9D8;
} 

/* General */
a {
    color: var(--scheme-pri-fill-color);
}

.active-checklist .title-bar {
    background-color: var(--scheme-titlebar-color);
}

/*Time Zone Picker*/
#divTimeZonePicker {    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

    #divTimeZonePicker > .content {
        background-color: #fefefe;        
    }

    #divTimeZonePicker .close {
        color: #1f1f1f;
    }

.btn-tz {
    background-color: var(--scheme-pri-fill-color);
}

    .btn-tz:hover {
        background-color: var(--scheme-sec-fill-color);
    }

#lbTimeZoneText.override {
    color: #ff0000 !important;
}

#lbClientTimeZone {
    /*            float: left;*/
    position: absolute;
    left: 16px;
    bottom: 16px;
}

    #lbClientTimeZone .quickLink > span {
        cursor: pointer;
    }

        #lbClientTimeZone .quickLink > span:hover {
            text-decoration: underline;
            color: var(--scheme-sec-fill-color);
        }

        #lbClientTimeZone .quickLink > span.active {
            color: var(--scheme-pri-fill-color);
        }

.timezone-map polygon.active {
    fill: var(--scheme-sec-fill-color) !important;
}
.timezone-map polygon[data-selected="true"] {
    fill: var(--scheme-pri-fill-color) !important; 
}

.Cbox .quickLink span:hover {
    color: var(--scheme-sec-text-color);
    background-color: var(--scheme-sec-fill-color) !important;
    cursor: pointer;
}

.Cbox .quickLink span.active {
    color: var(--scheme-pri-text-color);
    background-color: var(--scheme-pri-fill-color) !important;
}


/* Calendar */
.ui-accordion-header.ui-state-active {
    border: 1px solid #002244;
    background-color: var(--scheme-pri-fill-color);
}

li.lw-dp-active-day:nth-child(n), li.lw-dp-active-day:hover:nth-child(n) {
    color: white;
    background-color: var(--scheme-pri-fill-color);
}

/* Change Request Email */
.centeredWide h4 {
    color: var(--scheme-pri-fill-color);
}

.selected-day .day-of-week {
    background-color: var(--scheme-pri-fill-color);
    border-bottom: 1px solid #BBBBBB;
}

/* Priorities */
#priorities-toolbar {
    background-color: var(--scheme-pri-fill-color);
}

#priority-lists-center > table table > thead {
    background: #e8d8d8;
}

#priority-lists-center > table table > tbody {
    background: #ffeded;
}

#email-priority-list-table {
    background-color: #e8d8d8;
}

#email-priority-list-panel {
    background-color: #ffeded;
}

#priority-list {
    background-color: #f4fff4;
}

#available-tasks-table {
    background-color: #ffeded;
}

#available-tasks-panel {
    background-color: #000000;
}

    #available-tasks-panel .active-checkbox {
        background-color: #e8d8d8;
    }

/* Report Toolbar */
.nav.navbar-nav.reportmenu > li {
    display: inline-block;
}

@media screen and (max-width: 825px) {
    .nav.navbar-nav.reportmenu {
        margin-left: 0px !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }
}

/* Task Summary */
.filters-controls .form-group input[type=text] {
    width: 80px;
    border: 1px solid black;
    padding: 1px 2px;
}

.filters-controls button.btn {
    padding: 2px 8px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

.hiddenbutton {
    display: none;
}

/* Other Differences */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 8px;
}

i[class^="fa fa-"] {
    margin-right: 3px;
}

@media screen and (max-width: 768px) {
    #site-footer .row .col-xs-8.col-xs-offset-2:not(.expanded) {
        margin-left: revert;
        width: 21px;
        height: 21px;
        margin-right: 40%;
        overflow: hidden;
    }

        #site-footer .row .col-xs-8.col-xs-offset-2:not(.expanded)::before {
            width: 21px;
            height: 21px;
            padding-right: 20px;
            content: '?'
        }

    #site-footer .row .col-xs-offset-2.expanded {
        margin-left: revert;
    }
}

/* line 182, ../scss/_lw-datepicker.scss */
.lw-dp-dows li {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    width: 14.2857%;
    height: 18px;
    background: #f9f9f9;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

/* line 196, ../scss/_lw-datepicker.scss */
.lw-dp-week {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.conversion-btn {
    background-color: #003366;
    color: #FFFFFF;
}

    .conversion-btn:hover {
        background-color: #6FAA99;
        color: #FFFFFF;
    }
.modal-head {
    background: #EBEBEB;
}

.close-search {
    background-color: #003366;
    color: #ffffff;
}

    .close-search:hover {
        background-color: #6FAA99;
        color: #FFFFFF;
    }

#dlgSearch input[type="checkbox"]:checked {
    background-color: #003366;
    border-color: #003366;
}

#dlgSearch input[type="radio"]:checked {
    background-color: #003366;
    border-color: #003366;
}

.env-specific-btn {
    background-color: #003366;
    color: #ffffff !important;
}

    .env-specific-btn:hover {
        background-color: #6FAA99;
        color: #FFFFFF;
    }

.env-specific-alt {
    background-color: #6FAA99;
    color: #FFFFFF;
}

.env-specific-banner {
    color: #003366 !important;
}

/*******************************************************************
    
    Conflicts - Everything below must stay there to have precendent 

********************************************************************/

/* Groups */
#user-groups-table groups-panel th {
    background-color: #000000;
}

#user-groups-table thead tr {
    background-color: var(--scheme-pri-fill-color);
}

/* Report Toolbar */
.report-navbar-default {
    background-color: #036;
}

/* Reports */
a.list-group-item:hover {
    background-color: var(--scheme-pri-fill-color);
}

/* Task Summary */
#task-summary-panel th, #task-summary-panel td {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #808080;
}

#task-summary-panel th {
    background-color: lightgray;
}

/* Help */
.back-to-top-container .back-to-top {
    background-color: var(--scheme-pri-fill-color);
}
/* Copyright © 2024 Renegade Swish, LLC */

